{% block citation %}
    <div id="area-citation" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Suggested Citation</h3>
        </div>
        <div class="panel-body" id="citation">
            {{ item.citation.cite_authors }}. "<span id="item-title">{{ item.citation.cite_title }}</span>". ({{ item.citation.cite_year }})
            {% if item.citation.project.label != False %}
                In <em>{{ item.citation.project.label  }}</em>. 
            {%endif%}
            {{ item.citation.cite_editors }}. Released: {{ item.citation.cite_released }}.
            Open Context. &lt;<span id="item-uri" class="uri">{{ item.citation.uri }}</span>&gt;
            {% if item.citation.doi != False %}
                DOI: <span class="uri">{{ item.citation.doi }}</span>
            {%endif%}
            {% if item.citation.ark != False %}
                ARK (Archive): <span class="uri">{{ item.citation.ark }}</span>
            {%endif%}
        </div>
        <script type="text/javascript">
            <!-- style slashes in titles a bit -->
            var cite_title = document.getElementById("item-title");
            cite_title.innerHTML = cite_title.innerHTML.split('/').join( '<span class="title_sep">/</span>');
        </script>
    </div>
{% endblock %}
