{% block context %}
    {% if item.context != False %}
        <ol id="{{ item.context.id }}" class="breadcrumb">
            <li id="context-start">Context:</li>
        {% for par in item.context.parents %}
            {% if forloop.counter == 1 %} 
            <li id="context-root"><a href="{% url 'subjects_html' par.uuid %}">{{ par.label }}</a></li>
            {% else %}
            <li><a href="{% url 'subjects_html' par.uuid %}">{{ par.label }}</a></li>
            {%endif%}
        {% endfor %}
            <li class="active" id="item-in-context">{{ item.label }} ({{ item.item_category_label}})</li>
        </ol>
    {% else %}
        <ol id="context" class="breadcrumb">
            <li><strong>Context:</strong></li>
            <li id="context-root" class="active" id="item-in-context">{{ item.label }}</li>
        </ol>    
    {%endif%}
{% endblock %}