<head>
    <title>View of {{ item.label }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Start of Bibliographic Metadata -->    
    <link rel="schema.DC" href="http://purl.org/dc/terms/" />
    <link rel="schema.DCe" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.title" content="{{ item.citation.cite_title }}" />
    <meta name="citation_title" content="{{ item.citation.cite_title }}" />
    {% for author in item.citation.item_authors %}
    <meta name="DC.contributor" content="{{ author }}" />
    {% endfor %}
    {% for editor in item.citation.item_editors %}
    <meta name="DC.creator" content="{{ editor }}" />
    {% endfor %}
    <meta name="DC.issued" content="{{ item.citation.cite_released }}" />
    <meta name="DC.modified" content="{{ item.citation.cite_modified }}" />
    <meta name="DC.identifier" content="{{ item.citation.uri }}" />
    {% if item.citation.doi != False %}
    <meta name="DCe.Identifier.DOI" content="{{ item.citation.raw_doi }}" />
    <meta name="citation_doi" content="{{ item.citation.raw_doi }}" />
    {%endif%}
    {% if item.citation.ark != False %}
    <meta name="DCe.Identifier.ARK" content="{{ item.citation.ark }}" />
    <meta name="citation_ark" content="{{ item.citation.ark }}" />
    {%endif%}
    <meta name="DC.publisher" content="Open Context" />
    <meta name="DC.source" content="Open Context"/>
    <meta name="citation_journal_title" content="Open Context" />
    <!-- End of Bibliographic Metadata -->
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico">
    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css">
    <script src="{{ base_url }}/static/jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ base_url }}/static/bootstrap/3.3.4/js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="{{ base_url }}/static/oc/js/GoogleLayers.js"></script>
    <script src="{{ base_url }}/static/oc/js/item-mapping.js"></script>
</head>
