<head>
    <title>View of {{ item.label }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../static/oc/images/oc-favicon.ico">
    <link rel="stylesheet" href="../../static/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/oc/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../static/bootstrap/3.1.1/js/bootstrap.js"></script>
</head>
