<head>
    <title>View of {{ item.label }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- some linking information about this resource -->
    <link rel="canonical" href="{{ item.id }}" />
    
    {% if item.href != False %}
    {% if item.geo != False %}
    <link type="application/vnd.geo+json" rel="alternate" title="GeoJSON(-LD) Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.geojson" />
    {%endif%}
    <link type="application/json" rel="alternate" title="JSON(-LD) Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.json" />
    <link type="application/ld+json" rel="alternate" title="JSON(-LD) Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.jsonld" />
    <link type="application/n-triples" rel="alternate" title="N3 Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.nt" />
    <link type="application/rdf+xml" rel="alternate" title="RDF-XML Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.rdf" />
    <link type="text/turtle" rel="alternate" title="Turtle (RDF) Representation of {{ item.label }}" href="{{base_url}}/{{ item.href }}.ttl" />
    {% else %}
    {% if item.geo != False %}
    <link type="application/vnd.geo+json" rel="alternate" title="GeoJSON(-LD) Representation of {{ item.label }}" href="{{ item.id }}.geojson" />
    {%endif%}
    <link type="application/json" rel="alternate" title="JSON(-LD) Representation of {{ item.label }}" href="{{ item.id }}.json" />
    <link type="application/ld+json" rel="alternate" title="JSON-LD Representation of {{ item.label }}" href="{{ item.id }}.jsonld" />
    <link type="application/n-triples" rel="alternate" title="N3 Representation of {{ item.label }}" href="{{ item.id }}.nt" />
    <link type="application/rdf+xml" rel="alternate" title="RDF-XML Representation of {{ item.label }}" href="{{ item.id }}.rdf" />
    <link type="text/turtle" rel="alternate" title="Turtle (RDF) Representation of {{ item.label }}" href="{{ item.id }}.ttl" />
    {%endif%}
    
    
    <!-- Start of Bibliographic Metadata -->    
    <link rel="schema.DC" href="http://purl.org/dc/terms/" />
    <meta name="gs_meta_revision" content="1.1" />
    <meta name="DC.title" content="{{ item.citation.cite_title }}" />
    <meta name="citation_title" content="{{ item.citation.cite_title }}" />
    {% for author in item.citation.item_authors %}
    <meta name="DC.contributor" content="{{ author }}" />
    {% endfor %}
    {% for editor in item.citation.item_editors %}
    <meta name="DC.creator" content="{{ editor }}" />
    {% endfor %}
    <meta name="DC.issued" content="{{ item.citation.cite_released }}" />
    <meta name="DC.modified" content="{{ item.citation.cite_modified }}" />
    <meta name="DC.identifier" content="{{ item.citation.uri }}" />
    {% if item.citation.doi != False %}
    <meta name="DC.identifier.DOI" content="{{ item.citation.doi }}" />
    <meta name="citation_doi" content="{{ item.citation.raw_doi }}" />
    {%endif%}
    {% if item.citation.ark != False %}
    <meta name="DC.identifier.ARK" content="{{ item.citation.ark }}" />
    <meta name="citation_ark" content="{{ item.citation.ark }}" />
    {%endif%}
    <meta name="DC.publisher" content="Open Context" />
    <meta name="DC.source" content="Open Context"/>
    <meta name="DC.type" content="Dataset"/>
    <!-- End of Bibliographic Metadata -->
    
    <!-- Start of Open Graph + Twitter Metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ item.twitter_site }}" />
    <meta property="og:type" content="{{ item.og_type }}" />
    <meta property="og:url" content="{{ item.citation.uri }}" />
    <meta property="og:site_name" content="{{ item.og_site_name }}" />
    {% if item.og_title != False %}
    <meta property="og:title" content="{{ item.og_title }}" />
    {%endif%}
    {% if item.og_description != False %}
    <meta property="og:description" content="{{ item.og_description }}" />
    {%endif%}
    {% if item.og_image != False %}
    <meta property="og:image" content="{{ item.og_image }}" />
    {%endif%}
    <!-- End of Open Graph + Twitter Metadata -->
    
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico" />
    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/bibliography.css" />
    
    <script src="{{ base_url }}/static/jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ base_url }}/static/bootstrap/3.3.4/js/bootstrap.js"></script>
    
   
    {% include 'mapping/headmap.html' %}
   
    <script src="{{ base_url }}/static/oc/js/mapping-rev/item-mapping.js"></script>
    <script src="{{ base_url }}/static/oc/js/tab-link.js"></script>
    <script type="text/javascript">
        <!--
        var base_url = "{{ base_url }}";
        -->
    </script>
</head>
