{% block map %}
    {% if item.geo != False %}
        {% if item.geo.geojson != False %}
<div id="map-outer">
    <h4>Mapping Data</h4>
    <div id="map"></div>
	{% if item.geo.proj_geo_specificity < 0 %}
	<div class="alert alert-warning" role="alert">
		{% if item.geo.proj_geo_note %}
		
		<strong>Note:</strong> {{ item.geo.proj_geo_note }}
		
		{%else%}
		
		<strong>Note:</strong> Unless otherwise specified,
	    this project approximates all location data as a security measure.
		
		{%endif%}
	</div>
	{%else%}
	{% if item.geo.proj_geo_note %}
	<div class="alert alert-info" role="alert">
		<strong>Note:</strong> {{ item.geo.proj_geo_note }}
	</div>
	{%endif%}
	{%endif%}
    <script type="text/javascript">
        <!--
        var geojson = {% autoescape off %}{{ item.geo.geojson }}{% endautoescape %};
        var start_lat = {{ item.geo.start_lat }};
        var start_lon = {{ item.geo.start_lon }};
        var start_zoom = {{ item.geo.start_zoom }};
		var item_type = '{{ item.act_nav }}';
		
		{% if item.project.project_layers %}
        
        var project_layers = {{ item.project.project_layers|safe }};
        
        {%else%}
        
        var project_layers = false;
        
        {%endif%}
		
        initmap();
        -->
	</script>
</div>
        {%endif%}
    {%endif%}
{% endblock %}
