{% if media_list|length > 0 %}
    <div class="panel panel-default">
        {% if show_header %}
        <div class="panel-heading">
            <h4 class="panel-title">{{ panel_label }} ({{ panel_label_suffix }})</h4>
        </div>
        {%endif%}
        <div id="{{ node_id }}" class="panel-body">
            {% with media_list=media_list %}
            {% with col_num=col_num %}
            {% include 'items/media-list.html' %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
{%endif%}
