{% load partition %}
{% if media_list|length > 0 %}
    {% for row in media_list|columns:col_num %}    
    <div class="row media-list-row">
        {% for media in row %}
        <div class="col-xs-6 col-md-3 media-thumb">
            {% if media.uuid == None %}   
            <a target="_blank" class="thumbnail" title="{{ media.val }}" href="{{  media.uri }}"><img src="{{  media.thumbnail }}" class="img-rounded" alt="Thumbnail for {{ media.val }}"/></a>
            {% else %}
            <a class="thumbnail" title="{{ media.val }}" href="{% url 'media_html'  media.uuid %}"><img src="{{  media.thumbnail }}" class="img-rounded" alt="Thumbnail for {{ media.val }}"/></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{%endif%}
