{% load partition %}
{% if media_list|length > 0 %}
    <div class="row media-list-row">
    {% for media in media_list %}    
        <div class="col-xs-6 col-md-3 media-thumb">
            {% if media.uuid == None or media.uuid == False %}   
            <a target="_blank" class="thumbnail" title="{{ media.val }}" href="{{  media.uri }}"><img src="{{  media.thumbnail }}" class="img-rounded" alt="Thumbnail for {{ media.val }}"/></a>
            {% else %}
            <a class="thumbnail" title="{{ media.val }}" href="{% url 'media_html'  media.uuid %}"><img src="{{  media.thumbnail }}" class="img-rounded" alt="Thumbnail for {{ media.val }}"/></a>
            {% if media.show_thumb_label %}
            <div class="caption">
            <a title="{{ media.val }}" href="{% url 'media_html'  media.uuid %}">{{ media.show_thumb_label }}</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>    
    <div class="row media-list-row">
        {%endif%}
    {% endfor %}
    </div>
{%endif%}
