{% block observations %}
    {% if item.observations != False %}

<div id="observations">
    {% if item.observations|length > 1 %}
    <ul class="nav nav-tabs" id="obsTabs" data-tabs="tabs">
    {% for obs in item.observations %}
        {% if forloop.counter == 1 %} 
        <li class="active"><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
        {% elif forloop.counter > 1 and forloop.counter < item.obs_more_tab  %}
        <li><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
        {% else %}
        {%endif%}
    {% endfor %}
    {% if item.observations|length > item.obs_more_tab %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for obs in item.observations %}
                {% if forloop.counter >= item.obs_more_tab  %}
                <li><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
                {%endif%}
                {% endfor %}
            </ul>
        </li>
    {%endif%}
    </ul>
    <div class="tab-content obs-multi">
    {% else %}
    <div class="obs-single">
    {%endif%}
    {% for obs in item.observations %}
        {% if forloop.counter == 1 %}
        <div id="{{ obs.id }}" class="tab-pane fade in active">
        {% else %}
        <div id="{{ obs.id }}" class="tab-pane fade">
        {%endif%}
        {% if obs.properties != False %}
            <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">Descriptive Variable</th>
                    <th class="col-sm-8">Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for prop in obs.properties %}
                    <tr>
                        <td class="col-sm-4"><a href="{% url 'predicates_html' prop.varslug %}">{{ prop.varlabel }}</a></td>
                        <td class="col-sm-8">
                        {% if prop.values != False %}
                            {% if prop.values|length == 1 %}
                                {% if prop.values.0.valuri != False %}
                                    <a href="{% url 'types_html' prop.values.0.valuuid %}">{{ prop.values.0.val }}</a>
                                {% else %}
									{% autoescape off %}{{ prop.values.0.val }}{% endautoescape %}
                                {%endif%}
                            {% else %}
                            <ul>
                                {% for propval in prop.values %}
                                <li>
                                    {% if propval.valuri != False %}
                                    <a href="{% url 'types_html' propval.valuuid %}">{{ propval.val }}</a>
                                    {% else %}
                                        {% autoescape off %}{{ propval.val }}{% endautoescape %}
                                    {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {%endif%}
        {% if obs.annotations != False %}
            <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">Property or Relation</th>
                    <th class="col-sm-8">Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for anno in obs.annotations %}
                    <tr>
                        <td class="col-sm-4">
                            <a href="{{ anno.id }}" target="_blank">{{ anno.label }}</a>
                            <br/>
                            <small>[From: <a href="{{ anno.vocab_uri }}" target="_blank">{{ anno.vocabulary }}</a>]</small>
                        </td>
                        <td class="col-sm-8">
                        {% if anno.literals != None %}
                            {% if anno.literals|length == 1 %}
                                {% autoescape off %}{{ anno.literals.0 }}{% endautoescape %}
                            {% else %}
                            <ul>
                                {% for annoval in anno.literals %}
                                <li>
                                    {% autoescape off %}{{ annoval }}{% endautoescape %}
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        {% if anno.objects != None %}
                            {% if anno.objects|length == 1 %}
                                <a href="{{ anno.objects.0.id }}" target="_blank">{{ anno.objects.0.label }}</a>
                                <br/>
                                <small>[From: <a href="{{ anno.objects.0.vocab_uri }}" target="_blank">{{ anno.objects.0.vocabulary }}</a>]</small>
                            {% else %}
                            <ul>
                                {% for annoval in anno.objects %}
                                <li>
                                    <a href="{{ annoval.id }}" target="_blank">{{ annoval.label }}</a>
                                    <br/>
                                    <small>[From: <a href="{{ annoval.vocab_uri }}" target="_blank">{{ annoval.vocabulary }}</a>]</small>
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="col-sm-4">Editorial Note</td>
                    <td class="col-sm-8"><p>Open Context editors work with data contributors to annotate datasets to shared vocabularies,
                    ontologies, and other standards using '<a href="http://linkeddata.org/" target="_blank">Linked Open Data</a>' (LOD) methods.</p>
                        <p>The annotations presented above approximate some of the meaning in this contributed data record to concepts defined in shared standards.
                        These annotations are provided to help make datasets easier to understand and use with other datasets.</p>
                    </td>
                </tr>
            </tbody>
            </table>
        {%endif%}
        </div>
    {% endfor %}
    </div>
    {% if item.observations|length > 1 %}
    <script type="text/javascript">
        <!--
        $('#obsTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
         
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
            scroll(0,0);
        }
            
        // Change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash;
            scroll(0,0);
        })
        -->
	</script>
    {%endif%}
</div>

    {%endif%}
{% endblock %}
