{% block observations %}
    {% if item.observations != False %}

<div id="observations">
    {% if item.observations|length > 1 %}
    <ul class="nav nav-tabs" id="obsTabs" data-tabs="tabs">
    {% for obs in item.observations %}
        {% if forloop.counter == 1 %} 
        <li class="active"><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
        {% elif forloop.counter > 1 and forloop.counter < item.obs_more_tab  %}
        <li><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
        {% else %}
        {%endif%}
    {% endfor %}
    {% if item.observations|length > item.obs_more_tab %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for obs in item.observations %}
                {% if forloop.counter >= item.obs_more_tab  %}
                <li><a data-toggle="tab" href="#{{ obs.id }}">{{ obs.label }}</a></li>
                {%endif%}
                {% endfor %}
            </ul>
        </li>
    {%endif%}
    </ul>
    <div class="tab-content obs-multi">
    {% else %}
    <div class="obs-single">
    {%endif%}
    {% for obs in item.observations %}
        {% if forloop.counter == 1 %}
        <div id="{{ obs.id }}" class="tab-pane fade in active">
        {% else %}
        <div id="{{ obs.id }}" class="tab-pane fade">
        {%endif%}
        {% if obs.properties != False %}
            {% if item.use_accordions %}
                {% with top_panel_num=item.observations|length %}
                {% with idprefix='obs' %}
                {% with idnum=obs.obs_num %}
                {% with idsuffix='props' %}
                {% with panel_label='Descriptions' %}
                {% with panel_label_suffix=obs.properties|length %}
                {% include 'items/accordion-group-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%else%}
                {% with top_panel_num=item.observations|length %}
                {% with show_header=True %}
                {% with panel_label='Descriptions' %}
                {% with panel_label_suffix=obs.properties|length %}
                {% with prefix_node_id='obs-' %}
                {% with node_id=obs.obs_num %}
                {% with suffix_node_id='-props' %}
                {% include 'items/plain-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%endif%}
            <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">Descriptive Variable</th>
                    <th class="col-sm-8">Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for prop in obs.properties %}
                    <tr>
                        <td class="col-sm-4">
				{% if prop.varslug != False %}
				<a href="{% url 'predicates_html' prop.varslug %}">{{ prop.varlabel }}</a>
				{% else %}
				{{ prop.varlabel }}
				{%endif%}
			</td>
                        <td class="col-sm-8">
                        {% if prop.values != False %}
                            {% if prop.values|length == 1 %}
                                {% if prop.values.0.uri != False %}
				    {% if prop.values.0.item_type == 'predicates' and prop.values.0.uuid  %}
				    <a href="{% url 'predicates_html' prop.values.0.uuid %}">{{ prop.values.0.val }}</a>
				    {% elif prop.values.0.item_type == 'types'  %}
<a href="{% url 'types_html' prop.values.0.uuid %}">{{ prop.values.0.val }}</a>
				    {% else %}
				    <a href="{{ prop.values.0.uri }}" target="_blank">{{ prop.values.0.val }}</a>
				    {%endif%}
					
					{% elif prop.values.0.vartype == 'xsd:integer' %}
						{{ prop.values.0.val|floatformat:"0" }}
					{% else %}
				    {% autoescape off %}{{ prop.values.0.val }}{% endautoescape %}
                                {%endif%}
                            {% else %}
                            <ul>
                                {% for propval in prop.values %}
                                <li>
                                    {% if propval.uri != False %}
					{% if propval.item_type == 'predicates' and prop.values.0.uuid %}
					<a href="{% url 'predicates_html' propval.uuid %}">{{ propval.val }}</a>
					{% elif propval.item_type == 'types'  %}
					<a href="{% url 'types_html' propval.uuid %}">{{ propval.val }}</a>
					{% else %}
					<a href="{{ propval.uri }}" target="_blank">{{ propval.val }}</a>
					{%endif%}
                                    
									{% elif propval.vartype == 'xsd:integer' %}
										{{ propval.val|floatformat:"0" }}
									{% else %}
                                        {% autoescape off %}{{ propval.val }}{% endautoescape %}
                                    {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
	    
	    {% if item.predicate_query_link != False %}
		<!-- graphing for predicate items -->
		{% include 'items/predicates-graph.html' %}
		{%endif%}
	
            {% if item.use_accordions %}
                {% include 'items/accordion-group-panel-end.html' %}
            {%else%}
                {% include 'items/plain-panel-end.html' %}
            {%endif%}
        {%endif%}
        {% if obs.annotations != False %}
            {% if item.use_accordions %}
                {% with top_panel_num=item.observations|length %}
                {% with idprefix='obs' %}
                {% with idnum=obs.obs_num %}
                {% with idsuffix='ld' %}
                {% with panel_label='Annotations' %}
                {% with panel_label_suffix=obs.annotations|length %}
                {% include 'items/accordion-group-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%else%}
                {% with top_panel_num=item.observations|length %}
                {% with show_header=True %}
                {% with panel_label='Annotations' %}
                {% with panel_label_suffix=obs.annotations|length %}
                {% with prefix_node_id='obs-' %}
                {% with node_id=obs.obs_num %}
                {% with suffix_node_id='-ld' %}
                {% include 'items/plain-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%endif%}
            <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">Property or Relation</th>
                    <th class="col-sm-8">Value(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for anno in obs.annotations %}
                    <tr>
                        <td class="col-sm-4">
                            <a href="{{ anno.id }}" target="_blank">{{ anno.label }}</a>
                            {% if anno.vocabulary != False %}
			    <br/>
                            <small>[{{ anno.type }}: <a href="{{ anno.vocab_uri }}" target="_blank">{{ anno.vocabulary }}</a>]</small>
			    {% endif %}
                        </td>
                        <td class="col-sm-8">
                        {% if anno.literals != None %}
                            {% if anno.literals|length == 1 %}
                                {% autoescape off %}{{ anno.literals.0 }}{% endautoescape %}
                            {% else %}
                            <ul>
                                {% for annoval in anno.literals %}
                                <li>
                                    {% autoescape off %}{{ annoval }}{% endautoescape %}
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        {% if anno.objects != None %}
                            {% if anno.objects|length == 1 %}
                                <a href="{{ anno.objects.0.id }}" target="_blank">{{ anno.objects.0.label }}</a>
				{% if anno.objects.0.query != False %}
				<a title="Search Open Context for all items related to this concept" href="{{ base_url }}/search/?{{ anno.objects.0.query }}" target="_blank"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				{%endif%}
                                {% if anno.objects.0.id != anno.objects.0.vocab_uri %}
				{% if anno.objects.0.vocabulary != False %}
				<br/>
                                <small>[Standard: <a href="{{ anno.objects.0.vocab_uri }}" target="_blank">{{ anno.objects.0.vocabulary }}</a>]</small>
				{%endif%}
				{%endif%}
			    {% else %}
                            <ul>
                                {% for annoval in anno.objects %}
                                <li>
                                    <a href="{{ annoval.id }}" target="_blank">{{ annoval.label }}</a>
				    {% if annoval.query != False %}
				    <a title="Search Open Context for all items related to this concept" href="{{ base_url }}/search/?{{ annoval.query }}" target="_blank"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				    {%endif%}
                                    {% if annoval.id != annoval.vocab_uri %}
				    <br/>
				    {% if annoval.vocab_uri != False %}
                                    <small>[Standard: <a href="{{ annoval.vocab_uri }}" target="_blank">{{ annoval.vocabulary }}</a>]</small>
				    {% else %}
				    <small>[External resource]</small>
				    {%endif%}
				    {%endif%}
				</li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                        {%endif%}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="col-sm-4">Editorial Note</td>
                    <td class="col-sm-8"><p>Open Context editors work with data contributors to annotate datasets to shared vocabularies,
                    ontologies, and other standards using '<a href="http://linkeddata.org/" target="_blank">Linked Open Data</a>' (LOD) methods.</p>
                        <p>The annotations presented above approximate some of the meaning in this contributed data record to concepts defined in shared standards.
                        These annotations are provided to help make datasets easier to understand and use with other datasets.</p>
                    </td>
                </tr>
            </tbody>
            </table>
            {% if item.use_accordions %}
                {% include 'items/accordion-group-panel-end.html' %}
            {%else%}
                {% include 'items/plain-panel-end.html' %}
            {%endif%}
        {%endif%}
        
		
		
		{% if obs.documents_links != False %}
            {% if item.use_accordions %}
                {% with idprefix='obs' %}
                {% with idnum=obs.obs_num %}
                {% with idsuffix='documents' %}
                {% with panel_label='Linked Documents' %}
                {% with panel_label_suffix=obs.documents_link_count %}
                {% include 'items/accordion-group-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%else%}
                {% with top_panel_num=0 %}
                {% with show_header=True %}
                {% with panel_label='Linked Documents' %}
                {% with panel_label_suffix=obs.documents_link_count %}
                {% with prefix_node_id='obs-' %}
                {% with node_id=obs.obs_num %}
                {% with suffix_node_id='-documents' %}
                {% include 'items/plain-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%endif%}
            <div class="documents-links">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Relation</th>
                            <th class="col-sm-8">Linked Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in obs.documents_links %}
                            <tr>
                                <td class="col-sm-4">{% if link.linkslug != 'link' %}<a href="{% url 'predicates_html' link.linkslug %}">{{ link.linklabel }}</a>{%else%}{{ link.linklabel }}{%endif%}</td>
                                <td class="col-sm-8">
                                <div class="persons-links-cell">
                                {% with documents_list=link.documents %}
                                {% with node_id=link.nodeid %}
                                {% with col_num=2 %}
                                {% with text_grid_with=6 %}
                                {% include 'items/documents-list.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if item.use_accordions %}
                {% include 'items/accordion-group-panel-end.html' %}
            {%else%}
                {% include 'items/plain-panel-end.html' %}
            {%endif%}
        {%endif%}
		
		
		
		
        {% if obs.subjects_links != False %}
            {% if item.use_accordions %}
                {% with idprefix='obs' %}
                {% with idnum=obs.obs_num %}
                {% with idsuffix='subjects' %}
                {% with panel_label='Linked Items' %}
                {% with panel_label_suffix=obs.subjects_link_count %}
                {% include 'items/accordion-group-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%else%}
                {% with top_panel_num=0 %}
                {% with show_header=True %}
                {% with panel_label='Linked Items' %}
                {% with panel_label_suffix=obs.subjects_link_count %}
                {% with prefix_node_id='obs-' %}
                {% with node_id=obs.obs_num %}
                {% with suffix_node_id='-subjects' %}
                {% include 'items/plain-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%endif%}
            <div class="subjects-links">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Relation</th>
                            <th class="col-sm-8">Linked Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in obs.subjects_links %}
                            <tr>
                                <td class="col-sm-4">{% if link.linkslug != 'link' %}<a href="{% url 'predicates_html' link.linkslug %}">{{ link.linklabel }}</a>{%else%}{{ link.linklabel }}{%endif%}</td>
                                <td class="col-sm-8">
                                <div class="subjects-links-cell">
                                {% with subjects_list=link.subjects %}
                                {% with node_id=link.nodeid %}
                                {% with col_num=2 %}
                                {% with icon_grid_with=2 %}
                                {% with text_grid_with=4 %}
                                {% include 'items/subjects-list.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if item.use_accordions %}
                {% include 'items/accordion-group-panel-end.html' %}
            {%else%}
                {% include 'items/plain-panel-end.html' %}
            {%endif%}
        {%endif%}
        

        {% if obs.media_links != False %}
            <div class="media-links">
                {% if item.use_accordions %}
                    {% with idprefix='obs' %}
                    {% with idnum=obs.obs_num %}
                    {% with idsuffix='media' %}
                    {% with panel_label='Linked Media' %}
                    {% with panel_label_suffix=obs.media_link_count %}
                    {% include 'items/accordion-group-panel-start.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% for link in obs.media_links %}
                        {% with media_list=link.media %}
                        {% with col_num=4 %}
                        {% include 'items/media-list.html' %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    {% include 'items/accordion-group-panel-end.html' %}
                {% else %}
                    {% for link in obs.media_links %}
                        {% with media_list=link.media %}
                        {% with node_id=link.nodeid %}
                        {% with panel_label='Linked Media' %}
                        {% with panel_label_suffix=obs.media_link_count %}
                        {% with col_num=4 %}
                        {% with show_header=True %}
                        {% include 'items/media-panel.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </div>
        {%endif%}       
        
		    
        
        {% if obs.persons_links != False %}
            {% if item.use_accordions %}
                {% with idprefix='obs' %}
                {% with idnum=obs.obs_num %}
                {% with idsuffix='persons' %}
                {% with panel_label='Linked Persons' %}
                {% with panel_label_suffix=obs.persons_link_count %}
                {% include 'items/accordion-group-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%else%}
                {% with top_panel_num=0 %}
                {% with show_header=True %}
                {% with panel_label='Linked Persons' %}
                {% with panel_label_suffix=obs.persons_link_count %}
                {% with prefix_node_id='obs-' %}
                {% with node_id=obs.obs_num %}
                {% with suffix_node_id='-persons' %}
                {% include 'items/plain-panel-start.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {%endif%}
            <div class="persons-links">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Relation</th>
                            <th class="col-sm-8">Linked Persons / Organizations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in obs.persons_links %}
                            <tr>
                                <td class="col-sm-4"><a href="{% url 'predicates_html' link.linkslug %}">{{ link.linklabel }}</a></td>
                                <td class="col-sm-8">
                                <div class="persons-links-cell">
                                {% with persons_list=link.persons %}
                                {% with node_id=link.nodeid %}
                                {% with col_num=2 %}
                                {% with text_grid_with=6 %}
                                {% include 'items/persons-list.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if item.use_accordions %}
                {% include 'items/accordion-group-panel-end.html' %}
            {%else%}
                {% include 'items/plain-panel-end.html' %}
            {%endif%}
        {%endif%}
        
        <!-- end observation div -->
        </div>
    {% endfor %}
    </div>
    {% if item.observations|length > 1 %}
    <script type="text/javascript">
        <!--
        $('#obsTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
         
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
            scroll(0,0);
        }
            
        // Change hash for page-reload
        $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash;
            scroll(0,0);
        })
        -->
	</script>
    {%endif%}
</div>

    {%endif%}
{% endblock %}
