{% if show_header %}
<div class="panel-heading">
    {% if media_panel %}
    <h4 class="pull-right panel-title">
        <span class="label" id="{{ idprefix }}-{{ idnum }}-{{ idsuffix }}-pttl-l-span"> </span>
        <span class="label">
        {% if item.fullimage %}
            {% if fullview %}
            <a title="Download the full version of this media resource" href="{{ item.content.fullfile }}" target="_blank"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download File</a>
            {% else %}
            <a title="Go to the full-size version of this image" href="{% url 'media_full'  item.uuid %}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Full Size Image</a>
            {%endif%}    
        {% else %}
        {% if in_full_view %}
            {% if item.content.fullfile %}
            <a title="Download the full version of this media resource" href="{{ item.content.fullfile }}" target="_blank"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download File</a>
            {%endif%}
        {% else %}
            {% if item.iiif_json and item.full_doc_file == False %}
            <a title="Go to the full-size version of this image" href="{% url 'media_full'  item.uuid %}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Dynamic Full Image</a>
            {% else %}
            {% if item.fulldownload %}
            <a title="Download the full version of this media resource" href="{{ item.content.fullfile }}" target="_blank"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download File</a>
            {%endif%}
            {%endif%}
            {%endif%}
        {%endif%}
        </span>
    </h4>
    {%endif%}
    <h4 class="panel-title">{% if accordion %}<a data-toggle="collapse" data-parent="#{{ idprefix }}-{{ idnum }}-{{ idsuffix }}-acc" href="#{{ idprefix }}-{{ idnum }}-{{ idsuffix }}-panel"><span class="glyphicon glyphicon-resize-vertical"></span><span id="{{ idprefix }}-{{ idnum }}-{{ idsuffix }}-panel-title">{{ panel_label }}{% if panel_label_suffix != False %} ({{ panel_label_suffix }}){%endif%}</span></a>{%else%}{{ panel_label }}{% if panel_label_suffix != False %} ({{ panel_label_suffix }}){%endif%}{%endif%}</h4>
</div>
{%endif%}