<!-- start plain panel -->
{% if top_panel_num > 1 or do_multitab_top_panel %}
    <div class="panel panel-default top-panel">
{%else%}
    <div class="panel panel-default">
{%endif%}
    {% with show_header=show_header %}
    {% with accordion=False %}
    {% with panel_label=panel_label %}
    {% with panel_label_suffix=panel_label_suffix %}
    {% with in_full_view=in_full_view %}
    {% include 'items/panel-title.html' %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    <div id="{{ prefix_node_id }}{{ node_id }}{{ suffix_node_id }}" class="panel-body">
    <!-- start plain panel content-->