{% block predicategraph %}
        <style type="text/css">
        .chart .legend {
            fill: black;
            font: 14px sans-serif;
            text-anchor: start;
            font-size: 12px;
          }
          
          .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
          }
          
          .chart .label {
            fill: black;
            font: 14px sans-serif;
            text-anchor: end;
            cursor: pointer;
            color: #337ab7;
            text-decoration: none;
          }
          
          .chart .label:hover {
            color: #23527c;
            text-decoration: underline;
          }
          
          .bar:hover {
            fill: brown;
          }
          
          .axis path,
          .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
          }

    </style>
    <script src="{{ base_url}}/static/d3/d3.v3.min.js"></script>
    <script src="{{ base_url}}/static/oc/js/datavis/predicates.js"></script>
    <script src="{{ base_url}}/static/oc/js/oc-utilities.js"></script>
    
    <div id="predicate-graph" style="width:100%; overflow: hidden;">
        <div id="predicate-graph-loading"></div>
        <svg class="chart"></svg>
    </div>
    
    <script type="text/javascript">
        <!--
        var json_url = "{{ base_url}}{{ item.predicate_query_json}}";
        var pbc = new predicate_bar_chart(json_url);
        pbc.chart.predicate_slug = "{{ item.slug }}";
        pbc.chart.base_url = "{{ base_url}}";
        pbc.chart.dom_id = "predicate-graph";
        pbc.chart.loading_dom_id = "predicate-graph-loading";
        pbc.chart.get_json();
        
        -->
    </script>
{% endblock %}
