{% block project %}
    <div class="row">
    {% if item.project.label is False and item.project.edit_status != False %}
        <div class="col-sm-12">
            {% include 'items/editorial-status.html' %}
        </div>
    {% else %}
        <div class="col-sm-6">
            {% include 'items/editorial-status.html' %}
        </div>
        <div class="col-sm-6">
            <h4>Part of Project</h4>
            {% if item.project.label != False %}
            <a href="{% url 'projects_html' item.project.slug %}">{{ item.project.label }}</a>
            {% else %}
            Open Context [General]
            {%endif%}
        </div>
    {%endif%}
    </div>
{% endblock %}
