{% block context %}
{% load partition %}
    {% if subjects_list|length > 0 %}
        <div class="row">
            <div class="col-sm-12"><h3>{{ list_label }} ({{ subjects_list|length }})</h3></div>
        </div>
        <div id="{{ node_id }}">
            {% for row in subjects_list|columns:2 %}    
            <div class="row">
                {% for sub in row %}
                <div class="col-sm-1">
                    <a href="{% url 'subjects_html' sub.uuid %}"><img src="{{ sub.icon }}" alt="Icon for {{ sub.typelabel }}"/></a>
                </div>    
                <div class="col-sm-5"><a href="{% url 'subjects_html' sub.uuid %}">{{ sub.label }}</a></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
    {%endif%}
{% endblock %}