{% block type_related %}
    
    <div class="row">
        <div class="col-sm-12">
    
        {% with top_panel_num=0 %}
        {% with idprefix='type-rel' %}
        {% with idnum=1 %}
        {% with idsuffix='items' %}
        {% with panel_label='Items Described with this Type' %}
        {% with panel_label_suffix=False %}
        {% with do_multitab_top_panel=False %}
        {% include 'items/accordion-group-panel-start.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}    
        
        <style type="text/css">
            div.type-example-panel-outer {
                margin-bottom: 16px;
            }
            div.type-example-item {
                min-height: 150px;
                height: 100%;
            }
        </style>
        
        
        <div id="type-rel-items-examples">
            
        </div>
        
        <script src="{{ base_url}}/static/oc/js/datavis/types.js"></script>
        <script src="{{ base_url}}/static/oc/js/oc-utilities.js"></script>
    
        <script type="text/javascript">
        <!--
        
        var examples_url = "{{ base_url}}{% autoescape off %}{{ item.type_query_link }}{% endautoescape %}";
        
        type_ex = new types_item_examples(examples_url);
        type_ex.summary_dom_id = 'type-rel-1-items-panel-title';
        type_ex.results_dom_id = 'type-rel-items-examples';
        type_ex.get_data();
            
        -->
        </script>
        
    
    
        {% include 'items/accordion-group-panel-end.html' %}
    
        </div>
    </div>
    
{% endblock %}
