{% extends 'index/outer-page.html' %}

{% block pagecontent %}
    
    <div class="april-12 homepage container">
        <div class="main-map" id="home-map">
        </div>
        <section class="welcome">
          <h1>Welcome to Open Context</h1>
          <h3 class="slogan">Publishing research data on the Web</h3>
          <p><small>Because data are for discovery and inspiration, not just management</small></p>
          <a href="{{ base_url }}/about/" class="btn btn-info video-link"><i class="fa fa-video-camera" aria-hidden="true"></i> <strong>Learn More</strong></a>
          {% if 'opencontext.dainst.org' in base_url %}
            <div class="row" style="padding-top:10px;">
                <div class="col-sm-2">
                
                </div>    
                <div class="col-sm-8">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="http://dainst.org/">
                                <img class="media-object" style="height: 90px; margin-top: 2px; margin-left: 8px;" src="{{ base_url }}/static/oc/images/index/dai-logo-small.png" alt="DAI Logo" />
                            </a>
                        </div>
                        <div class="media-body dai">
                            <p>We gratefully thank the <a href="http://dainst.org/">German Archaeological Institute</a> (DAI) for hosting and mirroring this instance of Open Context.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
            {%endif%}
        </section>
        
        <section class="publish">
          <img class="section-header-image" src="../../static/oc/images/noun-icons-small/publish-noun-26676.png" alt="Publish Icon">
          <h2>Publish</h2>
          <p>
            Make your field documentation and data discoverable and searchable on the Web.
          </p>
          <h3>What can you publish?</h3>
          <ul class="icon-list">
            <li class="documents">
              Documents, field notes, diaries
            </li>
            <li class="images">
              Images and maps
            </li>
            <li class="vocabularies">
              Vocabularies and typologies
            </li>
            <li class="artifact">
              Artifact and ecofact data
            </li>
            <li class="identifiers">
              Stable identifiers for online and offline citation
            </li>
          </ul>
        </section>
        <section class="explore">
          <img class="section-header-image" src="../../static/oc/images/noun-icons-small/search-noun-74320.png" alt="Search Icon">
          <h2>Explore</h2>
          <p>
            Find artifact images for comparison, data for analysis. Learn how others describe their research.
          </p>
          <h3>What can you do?</h3>
          <ul class="explore icon-list">
            <li class="faceted-search">
              Use faceted search for informed exploration
            </li>
            <li class="map">
              See map-based visualization of data
            </li>
            <li class="pictures">
              Browse pictures and comparative collections
            </li>
            <li class="download">
              Download data tables to your desktop
            </li>
            <li class="discover">
                Discover links and related resources across the web
            </li>
          </ul>

        </section>
        <section class="how-it-works">
          <h2>How it works</h2>
          <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="works-list works-list-left icon-list">
                            <li class="clean">
                              Open Context editors clean your data and organize your content
                            </li>
                            <li class="unique">
                              Every item receives a unique identifier that allows citation of individual items
                            </li>
                            <li class="doi">
                              Your data publication receives a DOI
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="works-list works-list-right icon-list">
                            <li class="linked">
                                Linked Open Data approaches tie your content to museum collections and other research data
                              </li>
                              <li class="reuse">
                                Creative Commons licenses facilitate reuse
                              </li>
                              <li class="cdl">
                                All Open Context data publications are preserved with the California Digital Library
                              </li>
                        </ul>
                    </div>
                </div>
          </div>
          <!-- <a class="learn-more" href="">Learn more</a> -->
        </section>

        <section class="showcase">
            <div class="showcase--text">
              <h2>Why Open Context</h2>
              <p>
                Your research data reflect your expertise and intellectual interests. Treating data only as files to archive can limit the impact of your ideas. Open Context goes beyond the archive by richly integrating the totality of your analyses, maps, media, and journals together so they can support your interpretations. This unlocks and highlights meaningful information and relationships in your data and links your data to the wider world. 
              </p>
                <div style="margin-top:10px;">
                    <p>
                        <a href="{{ base_url }}/about/" class="btn btn-info video-link"><i class="fa fa-video-camera" aria-hidden="true"></i> <strong>Learn More</strong></a>
                    </p>
                </div>
            </div>
        </section>
        <section class="pricing">
          <h2>Pricing</h2>
          <p>
            Open Context charges a one-time fee for data publishing services, including archiving with the California Digital Library.
          </p>
          <div class="pricing-table">

            <ul>
              <li>
                <h4>Small project</h4>
                <div class="price">
                  $350
                </div>
                <p>
                  Example: a short term-faunal contract
                </p>
                <ul class="fine-print">
                  <li>
                    1 year project
                  </li>
                  <li>
                    1 author or specialist
                  </li>
                  <li>
                    1 table
                  </li>
                  <li>
                    1-10 document files
                  </li>
                  <li>
                    1-100 images
                  </li>
                </ul>
              </li>
              <li>
                <h4>Medium project</h4>
                <div class="price">
                  $1000
                </div>
                <p>
                  Example: a ceramics database
                </p>
                <ul class="fine-print">
                  <li>
                    3 year project
                  </li>
                  <li>
                    1 author or specialist
                  </li>
                  <li>
                    2 tables
                  </li>
                  <li>
                    1-10 document files
                  </li>
                  <li>
                    100-1000 images
                  </li>
                </ul>
              </li>
              <li>
                <h4>Large project</h4>
                <div class="price">
                  $5000
                </div>
                <p>
                  Example: a multi-year excavation
                </p>
                <ul class="fine-print">
                  <li>
                    5 year project
                  </li>
                  <li>
                    8 authors or specialists
                  </li>
                  <li>
                    20 tables
                  </li>
                  <li>
                    1-12 document files
                  </li>
                  <li>
                    1000-5000 images
                  </li>
                  <li>
                    1-25 audio or video files
                  </li>
                  <li>
                    5-10 GIS layers
                  </li>
                </ul>
              </li>
              <li>
                <h4>Custom project</h4>
                <div class="price">
                  TBD
                </div>
                <p>
                  Example: Custom API integration
                </p>
                <ul class="fine-print">
                  <li>
                    We provide consulting and customization for research data management and digital library initiatives. Past projects include NASA, the NSF, the IMLS, and the NEH sponsored initiatives.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <a class="estimate" target="_blank" href="../../about/estimate">Estimate your cost</a>
        </section>
      </div>

      <div id="footer-upper" class="row">
        <div class="col-sm-4 footer-cell">

        </div>
        <div class="col-sm-2 footer-cell">

        </div>
        <div class="col-sm-3 footer-cell">

        </div>
        <div class="col-sm-3 footer-cell">

        </div>
      </div>

        <script type="text/javascript">
        <!--
            var base_url = "{{ base_url }}";
            var project_map = new project_map("home-map", "{{ json_url|safe }}" + "/subjects-search/.json");
            project_map.map.color_list = ['#0088CC',
                                          '#6E5FCC',
                                          '#002A66'];
            project_map.map.get_geojson();
        -->
        </script>
      <!--
      <div id="footer-lower" class="row">
        <div class="col-md-12">
          Open Context is a publishing service maintained by the <a href="http://alexandriaarchive.org/" title="AAI- Open Context Host">Alexandria Archive Institute</a>, a 501(c)3 nonprofit organization. Open Context data is archived by the <a href="http://www.cdlib.org/"
          title="CDL- Repository used by Open Context">California Digital Library</a>.
        </div>
      </div>
      -->
{% endblock %} 
