{% extends 'index/outer-page.html' %}

{% block pagecontent %}
    
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="text-center" style="height: 200px; margin-top: 45px; margin-bottom: 45px;" src="{{ base_url }}/static/oc/images/index/oc-blue-square-logo.png" alt="Open Context Logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Open Context Test Host</h1>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-8">
                    <p>This development server hosts the new version of Open Context. This new version is still under active development and this server will occasionally go off-line as new updates get installed.</p>
                
                <p>We welcome help and identification of any problems. Please provide feedback via Open Context's <a href="https://github.com/ekansa/open-context-py/issues">GitHub repository</a>.</p>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
            {% if base_url == 'http://opencontext.dainst.org' %}
            <div class="row" style="padding-top:10px;">
                <div class="col-sm-2">
                
                </div>    
                <div class="col-sm-8">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="http://dainst.org/">
                                <img class="media-object" style="height: 90px; margin-top: 2px; margin-left: 8px;" src="{{ base_url }}/static/oc/images/index/dai-logo-small.png" alt="DAI Logo" />
                            </a>
                        </div>
                        <div class="media-body">
                            <p><small>We gratefully acknowledge and thank the <a href="http://dainst.org/">German Archaeological Institute</a> (DAI) for hosting and mirroring this new version of Open Context.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
            {%endif%}
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12" style="min-height: 800px;">
                
            </div>
        </div>
    </div>
    
{% endblock %} 
