{% block 3dhop %}
<div>
	<link type="text/css" rel="stylesheet" href="{{ base_url }}/static/3Dhop-4-2/minimal/stylesheet/3dhop.css"/>  
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/spidergl.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/presenter.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/nexus.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/ply.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/trackball_sphere.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/trackball_turntable.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/trackball_turntable_pan.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/trackball_pantilt.js"> </script>
	<script type="text/javascript" src="{{ base_url }}/static/3Dhop-4-2/minimal/js/init.js"> </script>

	<div id="3dhop-outer" style="width:100%;">
		<div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault();">
			<div id="tdhlg"></div>
			<div id="toolbar">
				<img id="home"     title="Home"                  src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/home.png"   /><br/>
				<img id="zoomin"   title="Zoom In"               src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/zoomin.png" /><br/>
				<img id="zoomout"  title="Zoom Out"              src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/zoomout.png"/><br/>
				<img id="light_on" title="Disable Light Control" src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/light_on.png" style="position:absolute; visibility:hidden;"/>
				<img id="light"    title="Enable Light Control"  src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/light.png"/><br/>
				<img id="measure_on" title="Disable Measure Tool"  src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/measure_on.png" style="position:absolute; visibility:hidden;"/>
				<img id="measure"    title="Enable Measure Tool"   src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/measure.png"/><br/>
    
				<img id="full_on"  title="Exit Full Screen"      src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/full_on.png" style="position:absolute; visibility:hidden;"/>
				<img id="full"     title="Full Screen"           src="{{ base_url }}/static/3Dhop-4-2/minimal/skins/dark/full.png"   />
			</div>
			<div id="measure-box" class="output-box">Measured length<hr/>
				<span id="measure-output" class="output-text" onmousedown="event.stopPropagation();">0.0</span>
			</div>

			<canvas id="draw-canvas" style="background-image: url({{ base_url }}/static/3Dhop-4-2/minimal/skins/backgrounds/light.jpg)"/>
			
		</div>
	</div>
	    
	<script type="text/javascript">
		
		{% if item.item.unit_of_measure_uri != False %}
		var unit_of_measure_uri = "{{ item.unit_of_measure_uri }}";
		var unit_of_measure_label = "{{ item.unit_of_measure_label }}";
		{%else%}
		var unit_of_measure_uri = false;
		var unit_of_measure_label = "units";
		{%endif%}
		
		var presenter = null;
		var container_dom_id = '3dhop-outer';
		var title_span_dom_id = 'preview-1-file-panel-title';
		var canvas_width = 400;
		var canvas_height = 500;
	    
		function set_canvas_title(){
			var act_dom = document.getElementById(title_span_dom_id);
			act_dom.innerHTML = 'Interactive 3D Model';
		}
	    
	    
		function set_canvas_dimensions(){
			var act_dom = document.getElementById(container_dom_id);
			canvas_width = act_dom.offsetWidth;
			if (canvas_width < window.innerWidth * 0.33){
				canvas_width = window.innerWidth * 0.5;
			}
			canvas_height = canvas_width * 1.15;
		}
	    
		function setup3dhop() { 
			presenter = new Presenter("draw-canvas");
		
			presenter.setScene({
				meshes: {
					"{{ item.label }}" : { url: "{{ item.nexus_3d }}" }
				},
				modelInstances : {
					"Model1" : { mesh : "{{ item.label }}" } 
				},
				trackball: {
				      	type: SphereTrackball,  // wider range of rotation?
				      	trackOptions : {		
						// startDistance : 1.8,
		      			}	
				}
			});
			
			presenter._onEndMeasurement = onEndMeasure;
		}
		
		function actionsToolbar(action) {
			if(action=='home') presenter.resetTrackball(); 
			else if(action=='zoomin') presenter.zoomIn();
			else if(action=='zoomout') presenter.zoomOut(); 
			else if(action=='light' || action=='light_on') { presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); }
			else if(action=='measure' || action=='measure_on') {
				presenter.enableMeasurementTool(
					!presenter.isMeasurementToolEnabled()
				);
				measureSwitch();
			}
			else if(action=='full'  || action=='full_on') fullscreenSwitch(); 
		}
		
		function onEndMeasure(measure) {
			// measure.toFixed(2) sets the number of decimals when displaying the measure
			// depending on the model measure units, use "mm","m","km" or whatever you have
			console.log(measure);
			$('#measure-output').html(measure.toFixed(2) + " (" + unit_of_measure_label + ")");
		}
		
		function onWindowResize() {
			set_canvas_dimensions();
			resizeCanvas(canvas_width, canvas_height);
		}
	     
		window.addEventListener( 'resize', onWindowResize, false );
		
		$(document).ready(function(){
			init3dhop();
		
			setup3dhop();
		
			set_canvas_dimensions();
			
			resizeCanvas(canvas_width, canvas_height);
		
			moveToolbar(20,20);
			
			set_canvas_title();
		});
	</script>





</div>
{% endblock %} 
