{% block media-download %}
    {% if item.fulldownload != False and item.content.fullfile != False %}
    <div id="area-media-download" style="margin-bottom:20px; min-width:245px;">
       <a role="botton"
          class="btn btn-primary btn-lg btn-block" href="{{ item.content.fullfile }}"
          target="_blank">
        {% if item.content.full_size > 1 %}
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            Download File ({{ item.content.full_size_human }})</a>
        {%else%}
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            Download File</a>
        {%endif%}
    </div>
    {%endif%}
{% endblock %}
