{% extends 'item.html' %}


{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-12">
         {% include 'items/context.html' %}
         </div>
     </div>
     <div class="row">
          <div class="col-sm-12">
          {% if item.content != False %}
          {% if item.content.fullfile != False %}
               {% with top_panel_num=0 %}
               {% with show_header=True %}
               {% with panel_label='Fullsize Image' %}
               {% with panel_label_suffix=item.content.full_size_human %}
               {% with prefix_node_id='fullsize-' %}
               {% with node_id=1 %}
               {% with suffix_node_id='-file' %}
               {% with media_panel=True %}
               {% with in_full_view=True %}
               {% include 'items/plain-panel-start.html' %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% endwith %}
               {% if item.iiif_json %}
                    {% include 'media/iiif.html' %}
               {% else %}
               <div class="full-image">
                    <img class="img-responsive" src="{{ item.content.fullfile }}" alt="Full of {{ item.label }}" />
               </div>
               {%endif%}
               {% include 'items/plain-panel-end.html' %}
          {%endif%}
          {%endif%}
          </div>
     </div>
     <div class="row">
         <div class="col-sm-8">
            {% if item.content != False %}
            {% if item.content.preview != False %}
            <div class="row">
                <div class="col-sm-12">
                    {% if item.use_accordions %}
                        {% with top_panel_num=0 %}
                        {% with idprefix='preview' %}
                        {% with idnum=1 %}
                        {% with idsuffix='file' %}
                        {% with panel_label='Link to Media Preview' %}
                        {% with panel_label_suffix=False %}
                        {% include 'items/accordion-group-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                         <div class="media">
                         <div class="media-left media-top">
                            <a href="{% url 'media_html'  item.uuid %}">
                                <img class="media-object" src="{{ item.content.thumbnail }}" alt="Thumbnail of {{ item.label }}" />
                            </a>
                         </div>
                         <div class="media-body">
                            <p>Click to view the <a href="{% url 'media_html'  item.uuid %}">Preview</a> version.</p>
                         </div>
                         </div>
                        
                        {% include 'items/accordion-group-panel-end.html' %}
                    {%else%}
                        {% with top_panel_num=0 %}
                        {% with show_header=True %}
                        {% with panel_label='Link to Media Preview' %}
                        {% with panel_label_suffix=False %}
                        {% with prefix_node_id='preview-' %}
                        {% with node_id=1 %}
                        {% with suffix_node_id='-file' %}
                        {% include 'items/plain-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <div class="media">
                         <div class="media-left media-top">
                            <a href="href="{% url 'media_html'  item.uuid %}">
                                <img class="media-object" src="{{ item.content.thumbnail }}" alt="Thumbnail of {{ item.label }}" />
                            </a>
                         </div>
                         <div class="media-body">
                            <p>Click to view the <a href="href="{% url 'media_html'  item.uuid %}">Preview</a> version.</p>
                         </div>
                         </div>
                        {% include 'items/plain-panel-end.html' %}
                    {%endif%}
                </div>
            </div>
            {%endif%}
            {%endif%}
            <div class="row">
                <div class="col-sm-12">
                    {% include 'items/observations.html' %}
                </div>
            </div>
         </div>
         <div class="col-sm-4">
         {% include 'media/download.html' %}
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         {% include 'items/license.html' %}
         </div>
     </div>
</div>
{% endblock %} 
