{% extends 'edit/item.html' %}

{% block itemcontent %}
<div id="item-content">
    <style type="text/css">
        #fieldtabfields .ui-selecting { background: #FFFF99; }
        #fieldtabfields .ui-selected { background: #FFFF66; }
        #status-map {
            width: 400px;
            height: 400px;
         }
    </style>
    <!-- END of item edit javascript includes -->
    
    <div class="row">
        <div class="col-sm-12">
         {% include 'edit/context.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div id="observations">
                <div id="profile-data">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if item.edit_man != False %}
                            <h3 class="panel-title">Edit Item: {{ item.edit_man.label }}, using Data Entry Profile: {{ item.label }}</h3>
                             {% else %}
                            <h3 class="panel-title">Add New Item Using Data Entry Profile: {{ item.label }}</h3>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            Profile content...
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div id="profile-meta">
               
            </div>
            {% include 'edit/item-create.html' %}
            {% include 'items/project.html' %}
         </div>
          
        {% include 'edit/edit-modal.html' %}
        {% include 'edit/edit-small-modal.html' %}
        
        <link rel="stylesheet" href="{{ base_url }}/static/oc/css/dates/bootstrap-datepicker3.min.css" />
        <script src="{{ base_url }}/static/oc/js/dates/bootstrap-datepicker.min.js" ></script>
        <script src="{{ base_url }}/static/oc/js/json/json2.js" ></script>
        <script src="{{ base_url }}/static/oc/js/edit/profile-panel.js" ></script>
        <script src="{{ base_url }}/static/oc/js/entities/entities.js"></script>
        <script src="{{ base_url }}/static/oc/js/entities/hierarchy-tree.js" ></script>
        <script src="{{ base_url }}/static/oc/js/entities/item-json-ld.js"></script>
        <script src="{{ base_url }}/static/oc/js/entities/item-annotations.js"></script>
        <script src="{{ base_url }}/static/oc/js/edit/context-edit.js"></script>
        <script src="{{ base_url }}/static/oc/js/edit/geo-chrono-edit.js"></script>
        <script src="{{ base_url }}/static/oc/js/edit/item-annotate.js"></script>
        <script src="{{ base_url }}/static/oc/js/edit/item-field.js"></script>
        
        <!-- BEGIN javascript includes -->
        <script type="text/javascript">
            <!--
            var csrftoken = $.cookie('csrftoken');
            var base_url = '{{ base_url }}';
            
            var item_label = '{{ item.label }}';
            var item_type = '{{ item.act_nav }}';
            var profile_uuid = '{{ item.uuid }}';
            var project_uuid = '{{ item.project.uuid }}';
            
            var field_group_vis = {
            {% for key,val in field_group_vis.items %}
                {{ key }}: '{% autoescape off %}{{ val }}{% endautoescape %}',
            {% endfor %}
            };
            
            var edit_uuid = '{{ item.edit_uuid }}';
            {% if item.edit_man != False %}
                item_type = '{{ item.edit_man.item_type }}';
            var edit_new = false;
            {% else %}
            var edit_new = true;
            {% endif %}
            -->
        </script>
         
        <script type="text/javascript">
            <!--
            var profile_obj = false;
            function start_profile_use(){
                // gets the profile object ready
                var enter_class = false;
                var enter_context = false;
                profile_obj = new useProfile(profile_uuid, edit_uuid, item_type, edit_new);
                profile_obj.label_prefix = '{{ item.label_prefix }}';
                {% if item.class_uri != False %}
                    profile_obj.class_uri = '{{ item.class_uri }}';
                    profile_obj.class_label = '{{ item.class_label }}';
                    enter_class = true;
                {% endif %}
                {% if item.context_uuid != False %}
                    profile_obj.context_uuid = '{{ item.context_uuid }}';
                    profile_obj.context_label = '{{ item.context_label }}';
                    enter_context = true;
                {% endif %}
                {% if item.label_id_len != False %}
                    profile_obj.label_id_len = {{ item.label_id_len }};
                {% else %}
                    profile_obj.label_id_len = false;
                {% endif %}
                
                profile_obj.get_all_data();
                profile_obj.postprocess_pre_populated_fields();

            }
            -->
        </script> 
        
        <!-- Localization / Translation Modal -->
        {% include 'edit/localize-modal.html' %} 
         
        <script src="{{ base_url }}/static/oc/js/edit/profile-use.js" onload="start_profile_use();"></script>
     </div>
</div>
{% endblock %} 
