*.ini
*.log
*.pot
*.py[cod]
__pycache__/
testing.txt
db-logs/
static/exports/
static/bootstrap/
static/jquery/
*.pyc
solr-config/schema.xml.old
secrets*
secrets.json
opencontext_py/secrets.json
*.swp
