*.ini
*.log
*.pot
*.py[cod]
__pycache__/
testing.txt
db-logs/
static/admin/
static/exports/
static/bootstrap/
static/jquery/
static/angularjs/
static/exports/
static/robots/robots.txt
*.pyc
solr-config/schema.xml.old
secrets*
secrets.json
opencontext_py/secrets.json
*.swp
