*.ini
*.log
*.pot
*.py[cod]
__pycache__/
testing.txt
db-logs/
assets/
static/admin/
static/exports/
static/bootstrap/
static/jquery/
static/angularjs/
static/leaflet/
static/exports/
static/robots/robots.txt
*.pyc
solr-config/schema.xml.old
secrets*
secrets.json
opencontext_py/secrets.json
wsgi.py
*.swp
node_modules
bower_components
