cd {{oc_web_dir}}
sudo rm -f {{oc_install_dir}}/access-ssl.log
sudo rm -f {{oc_install_dir}}/nginx_access.log
sudo rm -f {{oc_install_dir}}/nginx_error.log
sudo rm -f {{oc_install_dir}}/nginx_error-ssl.log
sudo rm -f {{oc_install_dir}}/uwsgi_oc.log

echo "Privacy protected";
