{
    "FILENAME": "secrets.json",
    "DEBUG": 0,
    "SECRET_KEY": "{{SECRET_KEYS['SECRET_KEY']}}",
    "DATABASES_HOST": "{{SECRET_KEYS['DATABASES_HOST']}}",
    "DATABASES_NAME": "{{SECRET_KEYS['DATABASES_NAME']}}",
    "DATABASES_USER": "{{SECRET_KEYS['DATABASES_USER']}}",
    "DATABASES_PASSWORD": "{{SECRET_KEYS['DATABASES_PASSWORD']}}",
    "SOLR_HOST": "{{SECRET_KEYS['SOLR_HOST']}}",
    "SOLR_PORT": "{{SECRET_KEYS['SOLR_PORT']}}",
    "SOLR_COLLECTION": "{{SECRET_KEYS['SOLR_COLLECTION']}}",
    "STATIC_ROOT": "{{oc_static_dir}}",
    "GEOIP_PATH": "/path/to/your/geoip/datafiles (default to False)",
    "FILE_CACHE_PATH": "{{oc_install_dir}}/cache/file-cache",
    "ALLOWED_HOST": "{{allowed_host}}",
    "DEPLOYED_HOST": "{{deployed_host}}",
    "SECURE_SSL_REDIRECT": {{secure_ssl_redirect}},
    "DEPLOYED_SITE_NAME": "Open Context Instance Name",
    "TO_DEPLOYED_URIS": 1,
    "ADMIN_NAME": "OC Admin",
    "ADMIN_EMAIL": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "MANAGE_NAME": "OC Admin",
    "MANAGE_EMAIL": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "EMAIL_USE_TLS": 1,
    "EMAIL_HOST": "{{SECRET_KEYS['EMAIL_HOST']}}",
    "EMAIL_PORT": "{{SECRET_KEYS['EMAIL_PORT']}}",
    "EMAIL_HOST_USER": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "EMAIL_HOST_PASSWORD": "{{SECRET_KEYS['EMAIL_HOST_PASSWORD']}}",
    "DEFAULT_FROM_EMAIL": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "DEFAULT_TO_EMAIL": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "EZID_USERNAME": "EZID user name",
    "EZID_PASSWORD": "EZID user password",
    "EZID_ARK_SHOULDER": "EZID shoulder for ARK namespace",
    "EZID_DOI_SHOULDER": "EZID shoulder for DOI namespace",
    "ZENODO_ACCESS_TOKEN": "Zenodo.org authorization, see (https://zenodo.org/account/settings/applications/tokens/new/)",
    "ZENODO_SANDBOX_TOKEN": "Zenodo.org authorization for testing",
    "CORS_OK_DOMAINS" : []
}
