{
    "FILENAME": "secrets.json",
    "DEBUG": 0,
    "SECRET_KEY": "{{SECRET_KEYS['SECRET_KEY']}}",
    "DATABASES_HOST": "{{SECRET_KEYS['DATABASES_HOST']}}",
    "DATABASES_NAME": "{{SECRET_KEYS['DATABASES_NAME']}}",
    "DATABASES_USER": "{{SECRET_KEYS['DATABASES_USER']}}",
    "DATABASES_PASSWORD": "{{SECRET_KEYS['DATABASES_PASSWORD']}}",
    "SOLR_HOST": "{{SECRET_KEYS['SOLR_HOST']}}",
    "SOLR_PORT": "{{SECRET_KEYS['SOLR_PORT']}}",
    "SOLR_COLLECTION": "{{SECRET_KEYS['SOLR_COLLECTION']}}",
    "STATIC_ROOT": "{{oc_static_root}}",
    "GEOIP_PATH": "{{geoip_path}}",
    "FILE_CACHE_PATH": "{{oc_install_dir}}/cache/file-cache",
    "PIWIK_SITE_ID": "{{SECRET_KEYS['PIWIK_SITE_ID']}}",
    "PIWIK_DOMAIN_PATH": "{{SECRET_KEYS['PIWIK_DOMAIN_PATH']}}",
    "INTERNET_ARCHIVE_ACCESS_KEY": "{{SECRET_KEYS['INTERNET_ARCHIVE_ACCESS_KEY']}}",
    "INTERNET_ARCHIVE_SECRET_KEY": "{{SECRET_KEYS['INTERNET_ARCHIVE_SECRET_KEY']}}",
    "ALLOWED_HOST": "{{allowed_host}}",
    "DEPLOYED_HOST": "{{deployed_host}}",
    "DEPLOYED_SITE_NAME": "{{deployed_site_name}}",
    "SECURE_SSL_REDIRECT": {{secure_ssl_redirect}},
    "TO_DEPLOYED_URIS": "{{to_deployed_uris}}",
    "ADMIN_NAME": "{{SECRET_KEYS['ADMIN_NAME']}}",
    "ADMIN_EMAIL": "{{SECRET_KEYS['ADMIN_EMAIL']}}",
    "MANAGE_NAME": "{{SECRET_KEYS['MANAGE_NAME']}}",
    "MANAGE_EMAIL": "{{SECRET_KEYS['MANAGE_EMAIL']}}",
    "EMAIL_USE_TLS": "{{SECRET_KEYS['EMAIL_USE_TLS']}}",
    "EMAIL_HOST": "{{SECRET_KEYS['EMAIL_HOST']}}",
    "EMAIL_PORT": "{{SECRET_KEYS['EMAIL_PORT']}}",
    "EMAIL_HOST_USER": "{{SECRET_KEYS['EMAIL_HOST_USER']}}",
    "EMAIL_HOST_PASSWORD": "{{SECRET_KEYS['EMAIL_HOST_PASSWORD']}}",
    "DEFAULT_FROM_EMAIL": "{{SECRET_KEYS['DEFAULT_FROM_EMAIL']}}",
    "DEFAULT_TO_EMAIL": "{{SECRET_KEYS['DEFAULT_TO_EMAIL']}}",
    "CORS_OK_DOMAINS" : {{SECRET_KEYS['CORS_OK_DOMAINS']}},
    "GOOGLE_SITE_VERIFICATION" : "{{SECRET_KEYS['GOOGLE_SITE_VERIFICATION']}}",
    "EZID_USERNAME":  "{{SECRET_KEYS['EZID_USERNAME']}}",
    "EZID_PASSWORD":  "{{SECRET_KEYS['EZID_PASSWORD']}}",
    "EZID_ARK_SHOULDER":  "{{SECRET_KEYS['EZID_ARK_SHOULDER']}}",
    "EZID_DOI_SHOULDER":  "{{SECRET_KEYS['EZID_DOI_SHOULDER']}}",
    "ZENODO_ACCESS_TOKEN":  "{{SECRET_KEYS['ZENODO_ACCESS_TOKEN']}}"
}
