cd {{oc_install_dir}}
echo "STARTUP, but leave Database alone";
echo "Preparing the Python virtual environment...";
source {{oc_install_dir}}/.venv/bin/activate
for (( iport=8081; iport<=8090; iport++ ))
do
    # killall -s INT {{oc_install_dir}}/.venv/bin/uwsgi
    pkill -9 uwsgi
    sudo rm -f {{oc_web_dir}}/uwsgi_oc.pid
    sudo rm -f {{oc_web_dir}}/uwsgi_oc.sock
    sudo rm -f {{oc_web_dir}}/uwsgi_oc.log
    if lsof -Pi :$iport -sTCP:LISTEN -t >/dev/null ;
       then
           echo "$iport seems busy, trying another...";
       else
           echo "Trying to start Open Context UWSGI on $iport";
           # uwsgi --http-socket :$iport --ini /var/oc-venv/oc.ini
           sudo -u www-data {{oc_install_dir}}/.venv/bin/uwsgi --http-socket :$iport --ini {{oc_web_dir}}/uwsgi_oc.ini
           sudo /etc/init.d/nginx restart
           break
    fi
done

echo "Now restarting the Redis memory-cache server...";
/etc/redis/bin/redis-cli shutdown
/etc/redis/bin/redis-server --daemonize yes
/etc/redis/bin/redis-cli ping 'Redis ping response OK!'

echo "[Press any key to close this window]";
read -n 1 -s;
