[uwsgi]
 home={{oc_install_dir}}
 virtualenv={{oc_install_dir}}/ENV
 chdir={{oc_install_dir}}
 module=opencontext_py.wsgi:application
 env=DJANGO_SETTINGS_MODULE=opencontext_py.settings
 #static-map = /static=/opt/ocstatic
 static-map = /static={{oc_install_dir}}/static
 uid=www-data
 gid=www-data
 master=true
 vacuum=true
 socket=/opt/ocweb/%n.sock
 chmod-socket=666
 pidfile=/opt/ocweb/%n.pid
 no-site=true
 daemonize=/opt/ocweb/%n.log
 die-on-term = true
 vhost=true
