{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Describe Entity Relations</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=ip.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default" style="min-height: 300px;">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Annotations and Relations</h4>
                </div>
                <table id="fieldAnnotationsThead" class="table table-condensed table-hover">
                    <thead>
                        <th class="col-sm-1">Delete</th>
                        <th class="col-sm-3">Subject Label</th>
                        <th class="col-sm-4">Predicate Relation</th>
                        <th class="col-sm-4">Object Label</th>
                    </thead>
                    <tbody id="fieldAnnotationsTbody">
                    {% for anno in ip.field_annotations %}
                        {% if anno.predicate.id != 'oc-gen:describes' and anno.predicate.id != ip.PRED_COMPLEX_DES and anno.predicate.id != ip.PRED_METADATA %}
                        <tr id="anno-num-{{ anno.id }}">
                            <td>
                                <button onclick="javascript:deleteAnnotation({{ anno.id }});" type="button" class="btn btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                            <td>
                                <span id="sub-label-{{ anno.id }}">{{ anno.subject.label }}</span>
                                <br/>
                                <samp>
                                    <small>Import field</small>
                                    <small id="sub-id-{{ anno.id }}">{{ anno.subject.id }}</small>
                                </samp>
                            </td>
                            <td>
                                <span id="pred-label-{{ anno.id }}">{{ anno.predicate.label }}</span>
                                <br/>
                                <samp>
                                    <small id="pred-id-{{ anno.id }}">{{ anno.predicate.id }}</small>
                                </samp>
                            </td>
                            <td>
                                <span id="obj-label-{{ anno.id }}">{{ anno.object.label }}</span>
                                <br/>
                                <samp>
                                    {% if anno.object.type == 'subjects' %}
                                    <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                    <small id="obj-id-{{ anno.id }}"><a href="{% url 'subjects_html' anno.object.id %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>  {{ anno.object.id }}</small>
                                    {% elif anno.object.type == 'media' %}
                                    <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                    <small id="obj-id-{{ anno.id }}"><a href="{% url 'media_html' anno.object.id %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>  {{ anno.object.id }}</small>
                                    {% elif anno.object.type == 'documents' %}
                                    <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                    <small id="obj-id-{{ anno.id }}"><a href="{% url 'documents_html' anno.object.id %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>  {{ anno.object.id }}</small>
                                    % elif anno.object.type == 'persons' %}
                                    <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                    <small id="obj-id-{{ anno.id }}"><a href="{% url 'persons_html' anno.object.id %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>  {{ anno.object.id }}</small>
                                    {% else %}
                                    <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                    <small id="obj-id-{{ anno.id }}">{{ anno.object.id }}</small>
                                    {% endif %}
                                </samp>
                            </td>
                        </tr>
                        {%endif%}
                    {% endfor %}
                    </tbody>
                </table>
            </div>    
                    
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body modal-lg">
                    <div id="myModalBody" style="overflow: scroll;">
                         
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal_b" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel_b">Modal title</h4>
                        </div>
                        <div class="modal-body modal-lg">
                              <div id="myModalBody_b" style="overflow: scroll;">
                         
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Data Source</h4>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Project:</dt>
                        <dd><a target="_blank" href="{% url 'projects_html' ip.nav.project_uuid %}">{{ ip.nav.proj_label }}</a></dd>
                        <dt>Data Source</dt>
                        <dd>{{ ip.nav.s_label }}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Add Field Annotations / Relations</h4>
                </div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('contains');">Contains</button>
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('contained-in');">Contained in</button>
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('other');">Other Relation</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Links
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:addRelInterface('media-part-of');">Media Part linking</a></li>
                            <li><a href="javascript:addRelInterface('document-text');">Document Text linking</a></li>
                            <li><a href="javascript:addRelInterface('links-field');">Link fields</a></li>
                            <li><a href="javascript:addRelInterface('links-entity');">Link to entity</a></li>
                            <li><a href="javascript:addRelInterface('links-in-field');">Linking Rel in Field</a></li>
                            <li><a href="javascript:addRelInterface('contains-draft');">Contains (Part. hierachy)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-app="TreeApp">
                <div class="panel-heading">
                    <h4 class="panel-title">Containment Hierarchy</h4>
                </div>
                <div class="panel-body" ng-controller="TreeController">
                    <div style="background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <abn-tree id="type-hierarchy" tree-data="tree_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abn-tree>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Example Links/Relationships</h4>
                </div>
                <div class="panel-body" id="other-links-outer">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            
        </div>
        <div class="col-sm-4">
            <!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Entity Lookup</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group form-group-sm">
                            <label for="sel-entity-label" class="col-sm-2 control-label">Label</label>
                            <div class="col-sm-10">
                                <input id="sel-entity-label" type="text"  value="" placeholder="Select an entity" class="form-control input-sm" readonly/>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="sel-entity-id" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input id="sel-entity-id" type="text"  value="" placeholder="Select an entity" class="form-control input-sm" readonly/>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="entity-string" class="col-sm-2 control-label">Search</label>
                            <div class="col-sm-10">
                                <input id="entity-string" type="text"  value="" onchange="javascript:searchEntities();" class="col-sm-1 form-control" />
                            </div>
                        </div>
                    </form>
                    <ul id="search-entity-list">
                        
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div>
    <script type="text/javascript">
        /* Some global variables set from the template
         *
        */
        var PREDICATE_CONTAINS = "{{ ip.PREDICATE_CONTAINS}}";
        var PREDICATE_LINK = "{{ ip.PREDICATE_LINK}}";
        var DEFAULT_SUBJECT_TYPE_FIELDS = {{ ip.DEFAULT_SUBJECT_TYPE_FIELDS|safe }};
        var PREDICATE_CONTAINED_IN = "{{ ip.PREDICATE_CONTAINED_IN }}";
        var PRED_MEDIA_PART_OF = "{{ ip.PRED_MEDIA_PART_OF }}";
        var PRED_DOC_Text = "{{ ip.PRED_DOC_Text }}";
        var PRED_DRAFT_CONTAINS = "{{ ip.PRED_DRAFT_CONTAINS }}";
        var PRED_HAS_COMPLEX_DES = "{{ ip.PRED_COMPLEX_DES }}";
         
    </script>
    <!-- load up field data in the background, we'll need that to make lists of fields to display -->
    <script src="../../static/oc/js/imports/fields-data.js" onload="javascript:get_field_data();"></script>
    <script src="../../static/oc/js/imports/fields-relations.js"></script>
    <script src="../../static/oc/js/entities/entities.js" onload="javascript:getSubjectsHierarchy();"></script>
</div>
{% endblock %} 
