{% extends 'imports.html' %}
<!DOCTYPE html>

{% block itemcontent %}
     <div class="row">
         <div class="col-sm-12">
            <h2>Classify Fields</h2>
         </div>
     </div>
     <div class="row">
        <div class="col-sm-9">
            <table id="fieldstabhead" class="table table-condensed table-hover">
                <thead>
                    <th class="col-sm-2">Number</th>
                    <th class="col-sm-3">Label</th>
                    <th class="col-sm-3">Source Label</th>
                    <th class="col-sm-2">Type</th>
                    <th class="col-sm-2">Data Type</th>
                </thead>
            </table>
            <div style="overflow-y:auto; max-height:500px;">    
            <table id="fieldstab" class="table table-condensed table-hover">
                <tbody id="fieldtabfields">
                {% for field in ip.fields %}
                    <tr id="field-num-{{ field.field_num }}">
                        <td class="col-sm-2">{{ field.field_num }}</td>
                        <td class="col-sm-3"><input id="field-label-{{ field.field_num }}" value="{{ field.label }}" type="text" onchange="javascript:assignFieldLabel({{ field.field_num }});"/></td>
                        <td class="col-sm-3">{{ field.ref_name }}</td>
                        <td id="field-type-{{ field.field_num }}" class="col-sm-2">{{ field.field_type }}</td>
                        <td id="field-data-type-{{ field.field_num }}" class="col-sm-2">{{ field.data_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Types</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignType('subjects')">Subjects</a></li>
                        <li><a href="javascript:assignType('media')">Media</a></li>
                        <li><a href="javascript:assignType('documents')">Documents</a></li>
                        <li><a href="javascript:assignType('persons')">Persons</a></li>
                        <li><a href="javascript:assignType('description')">Description</a></li>
                        <li><a href="javascript:assignType('relation')">Linking Relation</a></li>
                        <li><a href="javascript:assignType('variable')">Variable</a></li>
                        <li><a href="javascript:assignType('value')">Value</a></li>
                        <li><a href="javascript:assignType('lat')">Latitude</a></li>
                        <li><a href="javascript:assignType('lon')">Longitude</a></li>
                        <li><a href="javascript:assignType('early')">Date Early</a></li>
                        <li><a href="javascript:assignType('late')">Date Late</a></li>
                        <li><strong><a href="javascript:assignType('ignore')">Ignore</a></strong></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Data Types</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignDataType('id')">ID (Nominal)</a></li>
                        <li><a href="javascript:assignDataType('xsd:string')">String (Alphanumeric)</a></li>
                        <li><a href="javascript:assignDataType('xsd:boolean')">Boolean</a></li>
                        <li><a href="javascript:assignDataType('xsd:integer')">Integer</a></li>
                        <li><a href="javascript:assignDataType('xsd:double')">Decimal</a></li>
                        <li><a href="javascript:assignDataType('xsd:date')">Calendar</a></li>
                        <li><strong><a href="javascript:assignDataType('auto')">Auto</a></strong></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <script src="../../static/oc/js/imports/classify.js"></script>
{% endblock %} 
