{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Classify Entities</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=ip.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Fields to Classify</h4>
                </div>
                <div class="panel-body">
                    <table id="fieldstabhead" class="table table-condensed table-hover">
                        <thead>
                            <th class="col-sm-1">Number</th>
                            <th class="col-sm-2">Label</th>
                            <th class="col-sm-2">Value Label Prefix</th>
                            <th class="col-sm-2">Example Entities</th>
                            <th class="col-sm-2">Type</th>
                            <th class="col-sm-3">Value Category</th>
                        </thead>
                    </table>
                    <div style="overflow-y:auto; max-height:500px;">    
                    <table id="fieldstab" class="table table-condensed table-hover">
                        <tbody id="fieldtabfields">
                        {% for field in ip.fields %}
                            <tr id="field-num-{{ field.field_num }}" onclick="javascript:getTypeHierarchy({{ field.field_num }});">
                                <td class="col-sm-1">{{ field.field_num }}</td>
                                <td class="col-sm-2">{{ field.label }}</td>
                                <td class="col-sm-2"><input id="field-value-prefix-{{ field.field_num }}"
                                                            value="{{ field.value_prefix }}"
                                                            type="text"
                                                            onblur="javascript:assignFieldValuePrefix({{ field.field_num }});"
                                                            style="width:80%;"
                                                            /></td>
                                <td class="col-sm-2"><samp id="field-value-examples-{{ field.field_num }}">{{ field.ex_csv }}</samp></td>
                                <td class="col-sm-2" id="field-type-{{ field.field_num }}">{{ field.field_type }}</td>
                                <td class="col-sm-3">
                                    <div class="container-fluid">
                                        <div class="row subject-list-row">
                                            <div class="col-sm-3" id="field-val-cat-icon-{{ field.field_num }}">
                                                {% if field.field_value_cat_icon != False %}
                                                <img src="{{ field.field_value_cat_icon }}" alt="Item category icon" />
                                                {%endif%}
                                            </div>
                                            <div class="col-sm-9">
                                                <span id="field-value-cat-label-{{ field.field_num }}">{{ field.field_value_cat_label }}</span>
                                                <br/>
                                                <samp><small id="field-value-cat-id-{{ field.field_num }}">{{ field.field_value_cat }}</small></samp>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Importing to:</h4>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Project:</dt>
                        <dd><a target="_blank" href="{% url 'projects_html' ip.nav.project_uuid %}">{{ ip.nav.proj_label }}</a></dd>
                        <dt>Data Source</dt>
                        <dd>{{ ip.nav.s_label }}</dd>
                    </dl>
                </div>
            </div>
            
            <!--
            <div class="panel panel-default" ng-app="TreeApp">
                <div class="panel-heading">
                    <h4 class="panel-title">Open Context Item Categories</h4>
                </div>
                <div class="panel-body" ng-controller="TreeController">
                    <div class="container-fluid">
                        <div class="row subject-list-row" onclick="javascript:assignEntityCategory();">
                            <div class="col-sm-3" id="tree-sel-icon"></div>
                            <div class="col-sm-9">
                                <span id="tree-sel-label"></span>
                                <br/>
                                <samp><small id="tree-sel-id"></small></samp>
                            </div>
                        </div>
                    </div>
                    <div style="background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <abn-tree id="type-hierarchy" tree-data="tree_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abn-tree>
                    </div>
                </div>
                <div class="panel-body" >
                    <div id="hierarchy-tree"></div>
                </div>
            </div>
            -->
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Open Context Item Categories</h4>
                </div>
                <div class="panel-body" >
                    <div id="hierarchy-tree"></div>
                </div>
            </div>
        
        
            {% if ip.has_media_field %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Media Classifications</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignMediaCategory('oc-gen:thumbnail');">Thumbail</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:preview');">Preview</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:fullfile');">Full-file</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:nexus-3d');">Nexus 3D model</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:archive');">Archive</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:x3dom-model');">X3Dom Model</a></li>
                        <li><a href="javascript:assignMediaCategory('oc-gen:x3dom-texture');">X3Dom Texture</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            
            {% if ip.has_doc_field %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Documents</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignMediaCategory('{{ ip.PRED_DOC_Text }}');">Document Text</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            
            <!--
            {% if ip.has_complex_des_field %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Complex Descriptions</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignMediaCategory('{{ ip.PRED_COMPLEX_LABEL }}');">Label</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            -->
            
        </div>
        <script src="../../static/oc/js/imports/fields-classify-more.js"></script>
    </div>
</div>
{% endblock %} 
