{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Classify Fields</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=ip.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-9">
               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title">Fields to Classify</h4>
                    </div>
                    <div class="panel-body">
                         <table id="fieldstabhead" class="table table-condensed table-hover">
                              <thead>
                                  <th class="col-sm-1">Number</th>
                                  <th class="col-sm-3">Label</th>
                                  <th class="col-sm-3">Source Label</th>
                                  <th class="col-sm-3">Type</th>
                                  <th class="col-sm-2">Data Type</th>
                              </thead>
                         </table>
                         <div style="overflow-y:auto; max-height:500px;">    
                              <table id="fieldstab" class="table table-condensed table-hover">
                                   <tbody id="fieldtabfields">
                                   {% for field in ip.fields %}
                                        <tr id="field-num-{{ field.field_num }}">
                                             <td class="col-sm-1">{{ field.field_num }}</td>
                                             <td class="col-sm-3"><input id="field-label-{{ field.field_num }}" value="{{ field.label }}" type="text" onchange="javascript:assignFieldLabel({{ field.field_num }});"/></td>
                                             <td class="col-sm-3">{{ field.ref_name }}</td>
                                             <td id="field-type-{{ field.field_num }}" class="col-sm-2">{{ field.field_type }}</td>
                                             <td id="field-data-type-{{ field.field_num }}" class="col-sm-2">{{ field.field_data_type }}</td>
                                        </tr>
                                   {% endfor %}
                                   </tbody>
                              </table>
                         </div>
                         <div class="row" style="margin-top:40px;">
                              <div class="col-sm-4">
                                   <button onclick="matchAll();" type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Match ALL</button>
                              </div>
                              <div class="col-sm-8">
                                   <strong>Note:</strong><br/>
                                   <small>Match all field lables to existing, previously classified predicates</small>
                              </div>
                         </div>
                   </div>
               </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Data Source</h4>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Project:</dt>
                        <dd><a target="_blank" href="{% url 'projects_html' ip.nav.project_uuid %}">{{ ip.nav.proj_label }}</a></dd>
                        <dt>Data Source</dt>
                        <dd>{{ ip.nav.s_label }}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Types</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignType('subjects')">Subjects</a></li>
                        <li><a href="javascript:assignType('media')">Media</a></li>
                        <li><a href="javascript:assignType('documents')">Documents</a></li>
                        <li><a href="javascript:assignType('persons')">Persons</a></li>
                        <li><a href="javascript:assignType('description')">Description</a></li>
                        <li><a href="javascript:assignType('relation')">Linking Relation</a></li>
                        <li><a href="javascript:assignType('variable')">Variable</a></li>
                        <li><a href="javascript:assignType('value')">Value</a></li>
                        <li><a href="javascript:assignType('lat')">Latitude</a></li>
                        <li><a href="javascript:assignType('lon')">Longitude</a></li>
                        <li><a href="javascript:assignType('geojson')">GeoJSON</a></li>
                        <li><a href="javascript:assignType('early')">Date Early</a></li>
                        <li><a href="javascript:assignType('late')">Date Late</a></li>
                        <li><a href="javascript:assignType('uri')">Linked Data (URI)</a></li>
                        <li><a href="javascript:assignType('obs-num')" title="Use values in this field to assign descriptions to specific observations">Observation Number</a></li>
                        <li><a href="javascript:assignType('complex-description')" title="Complex Descrption, this field is a label for a bundle of multiple related attributes">Complex Description</a></li>
                        <li><a href="javascript:assignType('metadata')" title="Hidden metadata, stored internally only">Metadata</a></li>
                        <li><strong><a href="javascript:assignType('ignore')">Ignore</a></strong></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Data Types</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="javascript:assignDataType('id')">ID (Nominal)</a></li>
                        <li><a href="javascript:assignDataType('xsd:string')">String (Alphanumeric)</a></li>
                        <li><a href="javascript:assignDataType('xsd:boolean')">Boolean</a></li>
                        <li><a href="javascript:assignDataType('xsd:integer')">Integer</a></li>
                        <li><a href="javascript:assignDataType('xsd:double')">Decimal</a></li>
                        <li><a href="javascript:assignDataType('xsd:date')">Calendar</a></li>
                        <li><strong><a href="javascript:assignDataType('auto')">Auto</a></strong></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Field Labels</h4>
                </div>
                <div class="panel-body">
                    <a class="btn btn-default btn-xs btn-block"
                       role="button" href="javascript:titleCase()">
                         <i class="fa fa-header" aria-hidden="true"></i> Title Case Labels</a>
                </div>
            </div>
        </div>    
    </div>
    <script src="../../static/oc/js/imports/fields-classify.js"></script>
</div>
{% endblock %} 
