{% extends 'imports.html' %}
<!DOCTYPE html>

{% block itemcontent %}
     <div class="row">
         <div class="col-sm-9">
            <h2>Describe Entity Relations</h2>
         </div>
         <div class="col-sm-3">
            <ul class="pagination">
                <li><a href="../../imports/field-types-more/{{ ip.source_id }}">Previous</a></li>
                <li><a href="#">Next</a></li>
              </ul>
         </div>
     </div>
     <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Add Relationships</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('contains');">Contains</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('contained-in');">Contained in</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('links-field');">Links (fields)</button>
                        <button style="margin-top:1%;" type="button" class="btn btn-info" onclick="javascript:addRelInterface('links-entity');">Links (entity)</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" onclick="javascript:addRelInterface('other');">Other Relation</button>
                    </div>
                </div>
            </div>    
                    
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body modal-lg" id="myModalBody">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" ng-app="TreeApp">
                <div class="panel-heading">
                    <h4 class="panel-title">Containment Hierarchy</h4>
                </div>
                <div class="panel-body" ng-controller="TreeController">
                    <div style="background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <abn-tree id="type-hierarchy" tree-data="tree_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abn-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <table id="fieldAnnotationsThead" class="table table-condensed table-hover">
                <thead>
                    <th class="col-sm-1">Delete</th>
                    <th class="col-sm-3">Subject Label</th>
                    <th class="col-sm-4">Predicate Relation</th>
                    <th class="col-sm-4">Object Label</th>
                </thead>
                <tbody id="fieldAnnotationsTbody">
                {% for anno in ip.field_annotations %}
                    <tr id="anno-num-{{ anno.id }}">
                        <td>
                            <button onclick="javascript:deleteAnnotation({{ anno.id }});" type="button" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <span id="sub-label-{{ anno.id }}">{{ anno.subject.label }}</span>
                            <br/>
                            <samp>
                                <small>Import field</small>
                                <small id="sub-id-{{ anno.id }}">{{ anno.subject.id }}</small>
                            </samp>
                        </td>
                        <td>
                            <span id="pred-label-{{ anno.id }}">{{ anno.predicate.label }}</span>
                            <br/>
                            <samp>
                                <small id="pred-id-{{ anno.id }}">{{ anno.predicate.id }}</small>
                            </samp>
                        </td>
                        <td>
                            <span id="obj-label-{{ anno.id }}">{{ anno.object.label }}</span>
                            <br/>
                            <samp>
                                <small id="obj-type-{{ anno.id }}">{{ anno.object.type }}</small>
                                <small id="obj-id-{{ anno.id }}">{{ anno.object.id }}</small>
                            </samp>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Entity Lookup</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group form-group-sm">
                            <label for="sel-entity-label" class="col-sm-2 control-label">Label</label>
                            <div class="col-sm-10">
                                <input id="sel-entity-label" type="text"  value="" placeholder="Select an entity" class="form-control input-sm" readonly/>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="sel-entity-id" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input id="sel-entity-id" type="text"  value="" placeholder="Select an entity" class="form-control input-sm" readonly/>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="entity-string" class="col-sm-2 control-label">Search</label>
                            <div class="col-sm-10">
                                <input id="entity-string" type="text"  value="" onchange="javascript:searchEntities();" class="col-sm-1 form-control" />
                            </div>
                        </div>
                    </form>
                    <ul id="search-entity-list">
                        
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div> 
    <script src="../../static/oc/js/imports/fields-relations.js" onload="javascript:get_field_data();"></script>
    <script src="../../static/oc/js/entities/entities.js"></script>
{% endblock %} 
