{% extends 'imports.html' %}
<!DOCTYPE html>

{% block itemcontent %}
     <div class="row">
         <div class="col-sm-9">
            <h2>Describe Entity Relations</h2>
         </div>
         <div class="col-sm-3">
            <ul class="pagination">
                <li><a href="../../imports/field-types-more/{{ ip.source_id }}">Previous</a></li>
                <li><a href="#">Next</a></li>
              </ul>
         </div>
     </div>
     <div class="row">
        <div class="col-sm-8">
            <table id="fieldstabhead" class="table table-condensed table-hover">
                <thead>
                    <th class="col-sm-4">Subject Label</th>
                    <th class="col-sm-4">Predicate Relation</th>
                    <th class="col-sm-4">Object Label</th>
                </thead>
            </table>
            <div style="overflow-y:auto; max-height:500px;">    
            <table id="fieldstab" class="table table-condensed table-hover">
                <tbody id="fieldtabfields">
                {% for field_rel in ip.fields_rels %}
                    <tr id="field-num-{{ field.field_num }}">
                        <td class="col-sm-4">{{ field_rel.subject_label }}</td>
                        <td class="col-sm-4">{{ field_rel.predicate }}</td>
                        <td class="col-sm-4">{{ field_rel.object_label }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" ng-app="TreeApp">
                <div class="panel-heading">
                    <h4 class="panel-title">Containment Hierarchy</h4>
                </div>
                <div class="panel-body" ng-controller="TreeController">
                    <div style="background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <abn-tree id="type-hierarchy" tree-data="tree_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abn-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Add Relationships</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" onclick="javascript:addRel('oc-gen:contains');">Contains</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" onclick="javascript:addRel('oc-gen:contained-in');">Contained in</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" onclick="javascript:addRel('oc-3');">Links with</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" onclick="javascript:addOtherRel();">Other Relation</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Enity Lookup</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="sel-entity-label" class="col-sm-2 control-label">Label</label>
                            <input id="sel-entity-label" type="text"  value="Select an entity" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="sel-entity-id" class="col-sm-2 control-label">Label</label>
                            <input id="sel-entity-id" type="text"  value="Select an entity" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="entity-string" class="col-sm-2 control-label">Search</label>
                            <input id="entity-string" type="text"  value="" onchange="javascript:searchEntities();" />
                        </div>
                    </form>
                    <ul id="search-entity-list">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <script src="../../static/oc/js/imports/fields-relations.js"></script> 
{% endblock %} 
