{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Assign Descriptions</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=ip.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-5" id="description_fields_outer">
        
        </div>
        <div class="col-sm-3" id="described_fields_outer">
            
        </div>
        <div class="col-sm-4" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Data Source</h4>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Project:</dt>
                        <dd><a target="_blank" href="{% url 'projects_html' ip.nav.project_uuid %}">{{ ip.nav.proj_label }}</a></dd>
                        <dt>Data Source</dt>
                        <dd>{{ ip.nav.s_label }}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Example Described Entities</h4>
                </div>
                <div class="panel-body" id="described_examples_outer">
                    [No descriptions assigned yet]
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /* Some global variables set from the template
         *
        */
        var PRED_DESCRIBES = "{{ ip.PRED_DESCRIBES}}";
        var PRED_VALUE_OF = "{{ ip.PRED_VALUE_OF}}";
        var PRED_GEO_LOCATION = "{{ ip.PRED_GEO_LOCATION }}";
        var PRED_DATE_EVENT = "{{ ip.PRED_DATE_EVENT }}";
        var PRED_METADATA = "{{ ip.PRED_METADATA }}";
        var PRED_HAS_COMPLEX_DES = "{{ ip.PRED_COMPLEX_DES }}";
        var PRED_OBS_NUM = "{{ ip.PRED_OBS_NUM }}";
        var DEFAULT_SUBJECT_TYPE_FIELDS = {{ ip.DEFAULT_SUBJECT_TYPE_FIELDS|safe }};
        var DEFAULT_DESCRIBE_TYPE_FIELDS = {{ ip.DEFAULT_DESCRIBE_TYPE_FIELDS|safe }};
         
    </script>
    <!-- load up field data in the background, we'll need that to make lists of fields to display -->
    <script src="{{ base_url}}/static/oc/js/imports/fields-data.js"></script>
    <script src="{{ base_url}}/static/oc/js/imports/fields-descriptions.js" onload="javascript:start_descriptions();"></script>
</div>
{% endblock %} 
