{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Finalize Import</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=ip.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default" style="min-height: 400px;">
                <div class="panel-heading">
                    <h4 class="panel-title">Finalize and Perform Import</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <button title="Finalize import" id="ref-final-button"
                                    onclick="javascript:start_finalization();"
                                    type="button" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-cog"></span> Finalize + Add Data
                            </button>
                        </div>
                        <div class="col-sm-9">
                            <p>This step completes the import process by creating
                            records of new entities in Open Context and by creating additional
                            descriptive and linking assertions to already existing
                            entities.</p>
                            <p>Imported data is reconciled and related to data already
                            imported into Open Context. Because of these dependencies,
                            this import process will only run if this dataset is
                            the most recent dataset staged for import.</p>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 3%;">
                        <div class="col-sm-3" id="ref-final-spin-outer" >
                            
                        </div>
                        <div class="col-sm-3" id="ref-final-prog-stage-note-outer" >
                            
                        </div>
                        <div class="col-sm-6" id="ref-final-prog-stage-bar-outer" >
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" id="ref-final-prog-all-nums-outer" >
                            
                        </div>
                        <div class="col-sm-9" id="ref-final-prog-all-bar-outer" >
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Data Source</h4>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Project</dt>
                        <dd><a target="_blank" href="{% url 'projects_html' ip.nav.project_uuid %}">{{ ip.nav.proj_label }}</a></dd>
                        <dt>Data Source</dt>
                        <dd>{{ ip.nav.s_label }}</dd>
                    </dl>
                </div>
            </div>
        </div>    
    </div>
    
    <script src="../../static/oc/js/imports/refine-finalize.js"></script>
</div>
{% endblock %} 
