<head>
    <title>Import Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico" />
    
    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/angularjs/abn_tree.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/imports.css">
    
    <script src="{{ base_url }}/static/jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ base_url }}/static/jquery/jquery.cookie.js"></script>
    <script src="{{ base_url }}/static/jquery/ui/jquery-ui.min.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular-animate.js"></script>
    <script src="{{ base_url }}/static/angularjs/abn_tree_directive.js"></script>
    <script src="{{ base_url }}/static/bootstrap/3.3.4/js/bootstrap.js"></script>
    
    
    <script src="{{ base_url }}/static/oc/js/entities/hierarchy-tree.js"></script>
    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');
        {% if ip %}
        var source_id = '{{ ip.source_id }}';
        var project_uuid = '{{ ip.project_uuid }}';
        {% endif %}
        {% if proj %}
        var project_uuid = '{{ proj.uuid }}';
        {% endif %}
        var base_url = '{{ base_url }}';
    </script>
    <style type="text/css">
        #fieldtabfields .ui-selecting { background: #FFFF99; }
        #fieldtabfields .ui-selected { background: #FFFF66; }
    </style>
</head>
