
{% block projectstab %}

<div class="panel panel-default">
     <div class="panel-heading">
         <h4 class="panel-title">Projects in Open Context</h4>
     </div>
     <div class="panel-body">
          <table id="fieldstabhead" class="table table-condensed table-hover">
              <thead>
                  <th class="col-sm-1">Edit</th>
                  <th class="col-sm-1">Import</th>
                  <th class="col-sm-3">Project</th>
                  <th class="col-sm-3">Description</th>
                  <th class="col-sm-1">Edit Status</th>
                  <th class="col-sm-1">Published</th>
                  <th class="col-sm-1">Revised</th>
                  <th class="col-sm-1" style="text-align: center;">Count Imports</th>
              </thead>
          </table>
          <div style="overflow-y:auto; max-height:500px;">    
               <table id="fieldstab" class="table table-condensed table-hover">
                    <tbody id="fieldtabfields">
                    {% for proj in projs %}
                         <tr>
                              <td class="col-sm-1">
                                  <a title="Edit this project" href="{% url 'edit_projects_status' proj.uuid %}">
                                      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                                  </a>
                              </td>
                              <td class="col-sm-1">
                                  <a title="Import data into this project" href="{% url 'imp_sources_projects' proj.uuid %}">
                                      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span></button>
                                  </a>
                              </td>
                              <td class="col-sm-3">
                                  <a title="View project page" target="_blank" href="{% url 'projects_html' proj.uuid %}">{{ proj.label }} <span class="glyphicon glyphicon-new-window"></span> 
                                  </a>
                              </td>
                              <td class="col-sm-3"><small>{{ proj.short_des }}</small></td>
                              <td class="col-sm-1" style="text-align:center;">
                                  {% with label=proj.label %}
                                  {% with edit_status=proj.edit_status %}
                                  {% with label_status=False %}
                                  {% include 'items/editorial-symbols.html' %}
                                  {% endwith %}
                                  {% endwith %}
                                  {% endwith %}
                              </td>
                              <td class="col-sm-1"><small>{{ proj.published|date:'Y-m-d H:i' }}</small></td>
                              <td class="col-sm-1"><small>{{ proj.revised|date:'Y-m-d H:i' }}</small></td>
                              <td class="col-sm-1" style="text-align: center;">{{ proj.count_imp }}</td>
                         </tr>
                    {% endfor %}
                    </tbody>
               </table>
          </div>
     </div>
</div>        
{% endblock %} 
