{% extends 'imports.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-5">
            <h2>Import Data to: '{{ proj.label }}'</h2>
         </div>
         <!-- <div "col-sm-7"> -->
         {% with nav=proj.nav %}
         {% include 'imports/import-nav.html' %}
         {% endwith %}
         <!-- </div> -->
     </div>
     <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Datasets for Import</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <th class="col-sm-1">Select</th>
                            <th class="col-sm-3">Label</th>
                            <th class="col-sm-1">Fields</th>
                            <th class="col-sm-1">Records</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-2">Current?</th>
                            <th class="col-sm-2">Updated</th>
                        </thead>
                    </table>
                    {% if proj.sources|length > 0 %}
                    <div style="overflow-y:auto; max-height:500px;">    
                    <table class="table table-condensed table-hover">
                        <tbody>
                        {% for source in proj.sources %}
                            <tr>
                                <td class="col-sm-1">
                                    <div style="display:none;">
                                        <div id="source-id-{{ forloop.counter }}">{{ source.source_id }}</div>
                                        <div id="source-refine-{{ forloop.counter }}">{{ source.refine_id }}</div>
                                        <div id="source-undo-{{ forloop.counter }}">{{ source.undo_ok }}</div>
                                    </div>
                                    <button title="Options for this import"
                                            onclick="javascript:source_dialogue({{ forloop.counter }});"
                                            type="button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                    </button>
                                </td>
                                <td class="col-sm-3" id="source-label-{{ forloop.counter }}">{{ source.label }}</td>
                                <td class="col-sm-1">{{ source.field_count }}</td>
                                <td class="col-sm-1">{{ source.row_count }}</td>
                                <td class="col-sm-2" id="source-status-{{ forloop.counter }}">{{ source.imp_status }}</td>
                                <td class="col-sm-2" id="source-current-{{ forloop.counter }}">{{ source.is_current }}</td>
                                <td class="col-sm-2">{{ source.updated|date:'Y-m-d H:i' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% endif %}
                    {% if proj.refines|length > 0 %}
                    <div style="overflow-y:auto; max-height:500px;">    
                    <table class="table table-condensed table-hover">
                        <tbody>
                        {% for refine in proj.refines %}
                            <tr>
                                 <td class="col-sm-1">
                                    <button title="Import these data"
                                            onclick="javascript:refine_dialogue('{{ refine.id }}');"
                                            type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </button>
                                </td>
                                <td class="col-sm-3" >
                                    <a id="ref-url-{{ refine.id }}" title="Review in Refine" target="_blank" href="{{ proj.ref_baseurl }}{{ refine.id }}">
                                        <span id="ref-name-{{ refine.id }}">{{ refine.name }}</span> <span class="glyphicon glyphicon-new-window"></span>
                                    </a>
                                </td>
                                <td class="col-sm-1">-</td>
                                <td class="col-sm-1">-</td>
                                <td class="col-sm-2">Not imported</td>
                                <td class="col-sm-2">-</td>
                                <td class="col-sm-2">{{ refine.modified|date:'Y-m-d H:i' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        <p>Don't see data in Refine you'd like to import?</p>
                        {% if proj.refine_ok %}
                        <p><strong>Load data into Refine first!</strong></p>
                        {% else %}
                        <p><strong>Try turning on Refine first!</strong></p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body modal-lg" id="myModalBody">
                          ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Summary</h4>
                </div>
                <div class="panel-body">
                    {{ proj.short_des }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Edit Project</h4>
                </div>
                <div class="panel-body">
                    <form role="form" action="../../imports/edit-project/{{ proj.uuid }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="uuid" value="{{ proj.uuid }}" />
                        <div class="form-group">
                            <label for="inputLabel" class="control-label">Project Name</label>
                            <input type="text" name="label" class="form-control" id="inputLabel" value="{{ proj.label }}">
                        </div>
                        <div class="form-group">
                            <label for="inputDes" class="control-label">Short Description</label>
                            <input type="text" name="short_des" class="form-control" id="inputDes" value="{{ proj.short_des }}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
    
    <script src="../../static/oc/js/imports/project-sources.js"></script>
    <script src="../../static/oc/js/imports/refine-sources.js"></script>
</div>
{% endblock %} 
