
{% if st.facets|length > 0 %}
    <div class="panel-group" id="acc-facets">
    {% for f_field in st.facets %}
        {% for op_type in f_field.option_types %}
            <div class="panel panel-default">
                <div class="panel-heading"> 
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#acc-facets" href="#panel-{{ f_field.id }}-{{ op_type }}">
                            <span class="glyphicon glyphicon-resize-vertical"></span>
                            {% if op_type == 'numeric' %}
                                Numeric {{ f_field.label }}
                            {% elif op_type == 'date' %}
                                Date {{ f_field.label }}
                            {% elif op_type == 'string' %}
                                Text {{ f_field.label }}
                            {% else %}
                                {{ f_field.label }}
                            {%endif%}
                        </a>
                    </h4>
                </div>
                {% if forloop.counter == 1 and f_field.facet_field_index == 1 %} 
                <div id="panel-{{ f_field.id }}-{{ op_type }}" class="panel-collapse collapse in">
                {%else%}
                <div id="panel-{{ f_field.id }}-{{ op_type }}" class="panel-collapse collapse">
                {%endif%}
                    <div class="panel-body">
                    {% if op_type == 'id' and f_field.id_options|length > 0 %} 
                        {% for option in f_field.id_options %}
                            <div class="facet">
                                <div class="row">
                                    <div class="col-sm-9">
                                    <a id="{{ option.dom_id }}" href="{{ option.id }}">{{ option.label }}</a>
                                    </div>
                                    <div class="col-sm-3">
                                    <span class="badge">{{ option.count }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif op_type == 'numeric' and f_field.numeric_options|length > 0 %} 
                        {% for option in f_field.numeric_options %}
                            <div class="facet">
                                <div class="row">
                                    <div class="col-sm-9">
                                    <a id="{{ option.dom_id }}" href="{{ option.id }}">{{ option.label }}</a>
                                    </div>
                                    <div class="col-sm-3">
                                    <span class="badge">{{ option.count }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif op_type == 'date' and f_field.date_options|length > 0 %} 
                        {% for option in f_field.date_options %}
                            <div class="facet">
                                <div class="row">
                                    <div class="col-sm-9">
                                    <a id="{{ option.dom_id }}" href="{{ option.id }}">{{ option.label }}</a>
                                    </div>
                                    <div class="col-sm-3">
                                    <span class="badge">{{ option.count }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elif op_type == 'string' and f_field.string_options|length > 0 %} 
                        {% for option in f_field.string_options %}
                            <div class="facet">
                                <div class="row">
                                    <div class="col-sm-9">
                                    <a id="{{ option.dom_id }}" href="{{ option.id }}">{{ option.label }}</a>
                                    </div>
                                    <div class="col-sm-3">
                                    <span class="badge">{{ option.count }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {%else%}
                        <!-- That's weird -->
                    {%endif%}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{%endif%}


