{% load humanize %}

<div class="row act-filter-type">
    <div class="col-xs-12">
        <strong>{{ s_filter.filter_label }}</strong>
    </div>
</div>
<div class="row act-filter-val-row">
    <div class="col-xs-1">
        <a title="Remove this filter" href="{{ s_filter.remove_href}}">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-10 act-filter-val">
        {{ s_filter.filter_value }}
    </div>
    <div class="col-xs-1">
    </div>
</div>
