{% load humanize %}
<tr>
    <td>
        <a href="{{ geo_rec.href }}" target="_blank">{{ geo_rec.label }}</a>
    </td>
    <td>
        {{ geo_rec.project }}
    </td>
    <td>
        {% if geo_rec.context != False %}
        {{ geo_rec.context }}
        {%elif geo_rec.item_type != 'projects' %}
        {{ geo_rec.project }}
        {%else%}
        
        {%endif%}
        {% if geo_rec.snippet != False %}
            <p>
                <small>...{% autoescape off %}{{ geo_rec.snippet }}{% endautoescape %}...</small>
            </p>
        {%endif%}
    </td>
    <td>
        {% if geo_rec.category != False %}
        {{ geo_rec.category }}
        {%else%}
        Open Context '{{ geo_rec.item_type }}'
        {%endif%}
    </td>
    <td>
        {% if geo_rec.early_bce_ce != False %}
        {{ geo_rec.early_bce_ce|intcomma }} {{ geo_rec.early_suffix }}
        {%else%}
        Not given
        {%endif%}
    </td>
    <td>
        {% if geo_rec.late_bce_ce != False %}
        {{ geo_rec.late_bce_ce|intcomma }} {{ geo_rec.late_suffix }}
        {%else%}
        Not given
        {%endif%}
    </td>
    <td>
        {% if geo_rec.thumbnail != False %}
        <img src="{{ geo_rec.thumbnail }}" alt="Thumbnail for {{ geo_rec.label }}" />
        {%endif%}
    </td>
</tr>
