{% extends 'item.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
        <div class="col-sm-8">
            <h3 style="margin-top:-8px;">Project</h3>
            <h4>{{ item.label }}</h4>
        </div>
        <div class="col-sm-4" style="padding-bottom:2%;">
            {% if item.content != False %}
            {% if item.content.sum_text != False %}
            <div style="margin-top:-16px;">
               <h5 style="font-weight: bold;">About</h5>
            {{ item.content.sum_text }}
            </div>
            {%endif%}
            {%endif%}
        </div>
     </div>
     <div class="row">
         <div class="col-sm-8">
            {% if item.content != False %}
            {% if item.content.main_text != False %}
            <div class="row">
                <div class="col-sm-12">
                    {% if item.use_accordions %}
                        {% with top_panel_num=0 %}
                        {% with idprefix='main' %}
                        {% with idnum=1 %}
                        {% with idsuffix='text' %}
                        {% with panel_label='Project Abstract' %}
                        {% with panel_label_suffix=False %}
                        {% include 'items/accordion-group-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <div class="doc-contents">
                            {% autoescape off %}{{ item.content.main_text }}{% endautoescape %}
                        </div>
                        {% include 'items/accordion-group-panel-end.html' %}
                    {%else%}
                        {% with top_panel_num=0 %}
                        {% with show_header=True %}
                        {% with panel_label='Project Abstract' %}
                        {% with panel_label_suffix=False %}
                        {% with prefix_node_id='main-' %}
                        {% with node_id=1 %}
                        {% with suffix_node_id='-text' %}
                        {% include 'items/plain-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <div class="doc-contents">
                            {% autoescape off %}{{ item.content.main_text }}{% endautoescape %}
                        </div>
                        {% include 'items/plain-panel-end.html' %}
                    {%endif%}
                </div>
            </div>
            {%endif%}
            {%endif%}
            <div class="row">
                <div class="col-sm-12">
                    {% include 'items/observations.html' %}
                </div>
            </div>
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         </div>
     </div>
</div>
{% endblock %} 
