/* Open Context Bibliographic Layout */

p.authors {
	margin-bottom: 5px;
}
.pub-date {
	margin-right:1%;
	min-width:7%;
	float:left;
}
.ref-title-pub {
	margin-right:1%;
	float:left;
	width:85%;	
}
.collection-title {
	font-style: italic;
}
.ref-end{
	clear:both;
	width:90%;
}
.biblio-item {
	margin-bottom: 5%;
}
div.ref-links {
	padding-left:14%;
	text-align:left;
	display: block;
	width:100%;
}