/* Open Context Layout Main */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans';
}
body a {
	color: #337ab7;
	text-decoration: none;
}


/*
---------------------------------------------------------
TOP NAVIGATION
---------------------------------------------------------
*/

#oc-nav-bar {
	background-color: #141518;
}
#oc-nav-bar li.active a {
	background-color: #141518;
}
#oc-nav-branding {
	padding-top:0px;
    padding-left:0px;
}


/*
---------------------------------------------------------
FOOTER 
---------------------------------------------------------
*/
#footer-upper {
	margin-top: 10%;
	pading-top: 10px;
	background-color: #141518;
	margin-right:-45px;
	margin-left:-45px;
}
div.footer-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 2%;
}
div.footer-cell img {
	max-height: 75px;
	margin-left: auto;
	margin-right: auto;
}
#footer-lower {
	/*
	background-color: #333333;
	*/
	background-color: #141518;
	color: #fff;
	text-align: center;
	font-size: 85%;
	margin-right:-45px;
	margin-left:-45px;
	margin-top:-2px;
	padding: 2%;
}


/*
---------------------------------------------------------
General Page
---------------------------------------------------------
*/
#project_hero_banner {
	background-color: #141518;
	height: 20%;
	max-height: 290px;
	overflow-y: hidden;
	margin-bottom: -24px;
	z-index: -1001;
}
#project_hero_banner .img-fluid {
	width: 100%;
	object-fit: contain;
	z-index: -1000;
}
#main {
	width:98%;
	margin-left:auto;
	margin-right:auto;
}


/*
---------------------------------------------------------
Item Context
---------------------------------------------------------
*/
#item_context {
	min-height: 24px;
}
#item_context_nav {
	line-height: 24px;
}
#item_context_ol {
	background-color: #fff;
}
#context_start {
	margin-left: 0.50em;
	margin-right: 1em;
}
#main_item_label_in_context {
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: bold;
	box-sizing: border-box;
	color: black;
	line-height: normal;
	padding-top: 0.8%;
}
#rel_item_in_context::before {
    content: "\2194"; 
}

/*
---------------------------------------------------------
Project Explore
---------------------------------------------------------
*/
#proj_explore {
	margin-bottom: 24px;
}
#proj_explore_card_body {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#proj_explore_alert {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#proj_text_search {
	margin-top: 12px;
}
.proj_item_type_dropdowns {
	margin-top: 12px;
}




/*
---------------------------------------------------------
Item Citation
---------------------------------------------------------
*/
#item_citation {
	background-color: #f8f8f8;
}
#item_title {
	max-width:200px;
    word-wrap:break-word;
}
/* So long uri in Citation has good wrapping */
span.cite_id {
   max-width:200px;
   word-wrap:break-word;
}


/*
---------------------------------------------------------
Item Part of Project (Project Context)
---------------------------------------------------------
*/
#project_context {
	margin-top: 24px;
}
.project_editorial_level {
	color: #EE7600;
}
a.project_editorial_level:link {
	color: #EE7600;
}
a.project_editorial_level:visited {
	color: #EE7600;
}
a.project_editorial_level:hover {
	color: #EE7600;
}


/*
---------------------------------------------------------
Item License
---------------------------------------------------------
*/
#item_license {
	margin-top: 24px;
}
#item_license_icon_div {
	min-width: 120px;
}
#item_license_label_div {
	min-width: 120px;
}



/*
---------------------------------------------------------
Item Relationships
---------------------------------------------------------
*/
.item_relations_even_row {
	/* background-color: #e2e3e5; */
	border-top-color: rgb(203, 204, 206);
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: rgb(203, 204, 206);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.item_relations_row {
	padding-top: 2%;
	padding-bottom: 2%;
}
.item_rel_obj_val_row {
	padding-top: 1%;
	padding-bottom: 1%;
}
.item_rel_cell_obj_class_icon {
	min-width: 44px;
}
.item_rel_obj_class_icon {
	height: 2.5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}
.human_remains_warn {
	color: black;
	font-size: small;
}
.human_remains_thumb_blur {
	filter: blur(9px) opacity(60%) saturate(15%)
}
.human_remains_blur {
	filter: blur(40px) opacity(70%) saturate(25%)
}
.human_remains_thumb_ok_display {
	filter: none;
}
.human_remains_ok_display {
	filter: none;
}


/*
---------------------------------------------------------
Item Media Thumbnails
---------------------------------------------------------
*/
.item_thumb {
	max-width: 200px;
}


div.subject-list-row {
	padding-top: 1%;
	padding-bottom: 1%;
}
div.media-list-row {
	padding-top: 1%;
	padding-bottom: 1%;
}
div.subject-list-row img {
	height: 30px;
	width: 30px;
}
div.subject-list-text {
	padding-top: 2%;
}


#project_description {
	margin-top: 0px;
	margin-bottom: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fff;
}
#project_abstract {
	margin-bottom: 36px;
}
.documents_text {
	margin-bottom: 36px;
}

.media_preview {
	margin-bottom: 36px;
}
.media_download {
	margin-bottom: 24px;
}


.map_item {
	min-height: 300px;
}
.map_preview {
	min-height: 800px;
}
.geo_feature_popup {
	max-height: 300px;
	overflow-y: scroll;
}


/*
---------------------------------------------------------
Search 
---------------------------------------------------------
*/
#app {
	min-height: 800px;
}
#search_export_button {
	margin-top: 12px;
}
#human_remains_alert_search {
	margin-top: 36px;
}
#filtered-fulltext {
	margin-top: 36px;
}
#search_filters {
	margin-top: 36px;
}
#main_facets_all {
	margin-top: 36px;
}
.filter_heading_button {
	text-decoration: none;
	color: #212529;
}
.filter_heading_labels {
	text-decoration:x none;
	color: #212529;
}
.facet_link {
	display: inline;
}
.numeric_chart {
	margin-bottom: 24px;
}
#search-records-tab tbody {
	font-size: 14px;
}
.record-thumb-outer {
	max-width: 150px;
}
#search-records-tab .btn {
	margin-bottom: 6px;
}
.easy-button-button span {
	margin-top: 1px;
	margin-left: -0.08em;
}
/* This puts the heatmap layer above image overlays */
.leaflet-zoom-hide {
	z-index: 300;
}
.leaflet-zoom-box-icon {
	background: transparent no-repeat center center;
	/* 
	See: https://fonts.google.com/icons?selected=Material+Icons&icon.query=crop&icon.style=Two+tone
	dont forget to escape the fill '#' with a '%23'
	*/
	background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5 17c0 1.1.9 2 2 2h10v4h2v-4h4v-2H7V1H5v4H1v2h4v10zm14-2V7c0-1.1-.9-2-2-2H9v2h8v8h2z"/></svg>');
}
/* 

FROM: https://github.com/consbio/Leaflet.ZoomBox 

*/
.leaflet-zoom-box-control {
    font-size: 18px;
}
.leaflet-zoom-box-crosshair {
    cursor: crosshair !important;
}
.leaflet-zoom-box-icon.active {
    color: #FFF;
    background-color: #CCC;
    /*src: https://design.google.com/icons/#ic_center_focus_strong*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOGMtMi4yMSAwLTQgMS43OS00IDRzMS43OSA0IDQgNCA0LTEuNzkgNC00LTEuNzktNC00LTR6bS03IDdIM3Y0YzAgMS4xLjkgMiAyIDJoNHYtMkg1di00ek01IDVoNFYzSDVjLTEuMSAwLTIgLjktMiAydjRoMlY1em0xNC0yaC00djJoNHY0aDJWNWMwLTEuMS0uOS0yLTItMnptMCAxNmgtNHYyaDRjMS4xIDAgMi0uOSAyLTJ2LTRoLTJ2NHoiLz48L3N2Zz4=);
}
.leaflet-zoom-box-icon.leaflet-disabled{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjQkJCQkJCIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyA1djRoMlY1aDRWM0g1Yy0xLjEgMC0yIC45LTIgMnptMiAxMEgzdjRjMCAxLjEuOSAyIDIgMmg0di0ySDV2LTR6bTE0IDRoLTR2Mmg0YzEuMSAwIDItLjkgMi0ydi00aC0ydjR6bTAtMTZoLTR2Mmg0djRoMlY1YzAtMS4xLS45LTItMi0yeiIvPjwvc3ZnPg==);
}
/*
 This doesn't work. Remove when we have a good solution
.leaflet-areaselect-container {
	z-index: 250;
}
.leaflet-areaselect-handle {
	z-index: 2100;
}
.leaflet-areaselect-shade {
	z-index: 400;
}
.leaflet-areaselect-handle {
	z-index: 2100;
}
*/
.leaflet-zoom-box-icon-oc {
    background: transparent no-repeat center center;
    /*src: https://design.google.com/icons/#ic_crop_free*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyA1djRoMlY1aDRWM0g1Yy0xLjEgMC0yIC45LTIgMnptMiAxMEgzdjRjMCAxLjEuOSAyIDIgMmg0di0ySDV2LTR6bTE0IDRoLTR2Mmg0YzEuMSAwIDItLjkgMi0ydi00aC0ydjR6bTAtMTZoLTR2Mmg0djRoMlY1YzAtMS4xLS45LTItMi0yeiIvPjwvc3ZnPg==);
}
.color-ui-modal {
	max-height: 85%;
}
#map-datavis-legend {
	margin-top: 12px;
}
.map-overlay-legend-item {
	margin-bottom: 12px;
}
.result-snippet {
	margin-top: 24px;
	font-size: small;
}
.result-snippet dd {
	font-style: italic;
}
.result-snippet dd mark {
	font-style: normal;
	font-weight: bold;
}
/* IDs and Classes for search data export */
#download-attribs-save-opts-row {
	margin-top: 36px;
}
#download-dl-button-row {
	margin-top: 42px;
}
#download-prog-bar-row {
	margin-top: 24px;
}
.download-filesave-row {
	margin-top: 24px;
	margin-bottom: 36px;
}
.download-default-attribs {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 4px;
	font-size: 14px;
	font-family: var(--bs-font-monospace);
}
#download-selected-attribs-div {
	margin-top: 2px;
}
.download-selected-attribs {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: var(--bs-font-monospace);
}