$border-grey: rgba(#979797, 0.3);
$headline-blue: #0088CC;
$subheader-grey: #2f2a2b;
$paragraph-dark: #231f20;
$inverted-text: #ffffff;
$special-grey: #6d6e71;
$edit-stars-color: #ee7600;
$mid-grey: rgba(109,113,110,1);
$purpley-grey: #6d6371;
