$border-grey: #979797;
$headline-blue: #0088CC;
$subheader-grey: #2f2a2b;
$paragraph-dark: #231f20;
$inverted-text: #ffffff;
$special-grey: #6d6371;

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%button {
  padding: 1em;
  background-color: $headline-blue;
  color: $inverted-text;
  clear: both;
  margin: 65px auto;
  display: inline-block;
  text-transform: uppercase;
}

/* Open Context Layout Main */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans';
}

#main {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#oc-nav-bar {
  background-color: #141518;
  li.active a {
    background-color: #141518;
  }
}

#oc-nav-branding {
  padding-top: 0;
  padding-left: 0;
}

#oc-hidden-bar {
  width: 100%;
  height: 50px;
  display: block;
}

#footer-upper {
  margin-top: 5%;
  background-color: #666;
}

div.footer-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 1%;
  img {
    max-height: 75px;
    margin-left: auto;
    margin-right: auto;
  }
}

#footer-lower {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 75%;
}

.project-edit-stars {
  color: #ee7600;
}

a.project-edit-stars:link {
  color: #ee7600;
}

a.project-edit-stars:visited {
  color: #ee7600;
}

a.project-edit-stars:hover {
  color: #ee7600;
}

div.subject-list-row {
  padding-top: 1%;
  padding-bottom: 1%;
}

div.media-list-row {
  padding-top: 1%;
  padding-bottom: 1%;
  img {
    height: 30px;
    width: 30px;
  }
}

div.subject-list-text {
  padding-top: 2%;
}

div.media-thumb {
  text-align: center;
}

/* Tweeks to Bootstrap */
#context-root::before {
  content: "";
}

#context-start {
  font-weight: normal;
  color: rgb(51, 51, 51);
}

#item-in-context {
  font-weight: bold;
  color: #000;
}

#rel-item-in-context {
  font-weight: bold;
  color: #000;
}

#rel-item-in-context::before {
  content: "\2194";
}
div.top-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

div.panel-group div.top-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.preview-image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.subjects-links-cell {
  width: 100%;
  margin-left: 1%;
  text-align: left;
}

/* So long uri in Citation has good wrapping */
#item-title {
  max-width: 200px;
  word-wrap: break-word;
}

span.title_sep {
  padding-left: 3px;
  padding-right: 3px;
}

#item-uri {
  max-width: 200px;
  word-wrap: break-word;
}

#item-stable-id {
  max-width: 200px;
  word-wrap: break-word;
}

#map {
  width: 100%;
  height: 66%;
  min-height: 300px;
}

div.act-filter-type {
  padding-top: 5px;
}

div.act-filter-val-row {
  padding-bottom: 5px;
}
ul.f-opt-list {
  border-top: 1px solid #ddd;
  margin-bottom: -1px;
}

li.f-opt-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

li.f-opt {
  border-left: none;
  border-right: none;
}

div.f-opt-label {
  padding-left: 0;
}

div.f-count {
  margin-top: -2px;
  padding-top: 0;
  padding-left: 0;
}

.april-12 {

  * {
    box-sizing: border-box;
  }

  section {
    border-bottom: 1px solid $border-grey;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
  }

  h1 {
    font-size: 48px;
    color: $headline-blue;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  section.welcome {
    font-size: 24px;
    h3.slogan {
      font-style: italic;
      font-family: "OpenSans-Italic", Helvetica, serif;
      color: $special-grey;
      margin: 32px auto;
    }
  }

  section.publish {
    width: 50%;
    float: left;
  }

  section.explore {
    width: 50%;
    float: right;
  }

  section.how-it-works {
    clear: both;
  }

  ul {
    list-style-type: none;
    li {
      height: 70px;
      list-style-image: url('http://placehold.it/60x60');
    }
  }

  section.pricing {
    clear: both;
    h2 {

    }
    p {

    }
    .pricing-table {
      border: 1px solid red;
      @extend clearfix;

      ul {
        border: 1px solid green;
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;

        li {
          vertical-align: top;
          border: 1px solid $border-grey;
          width: 20%;
          margin: 1%;
          list-style-image: none;
          display: inline-block;

        }
        ul {
          padding: 0;
          margin: 0;
          li {
            width: 100%;
            height: auto;
            border: none;
          }
        }
      }
    }
  }

  a.estimate {
    @extend %button;
  }
}
