{% load humanize %}


<template id="all-facets-template">
<div v-if="facets_and_options">
    <div v-if="facets_and_options.length">
        <h3>Filtering Options</h3>
        <div class="panel-group" id="acc-facets">
            <facet-data-types-options
                v-for="(facet_data_types_options, index) in facets_and_options"
                v-bind:key="facet_data_types_options.key"
                v-bind:facet_id="facet_data_types_options.id"
                v-bind:facet_label="facet_data_types_options.label"
                v-bind:facet_data_types_options="facet_data_types_options"
                v-bind:index="index">
            </facet-data-types-options>
        </div>
    </div>
</div>
</template>

<template id="facet-data-types-options-template">
<div>
    <data-type-options
        v-for="(data_type_options, index) in facet_data_types_options.data_types_opt_lists"
        v-bind:key="data_type_options.key" 
        v-bind:dom_key="data_type_options.key"
        v-bind:facet_id="facet_id"
        v-bind:facet_label="facet_label"
        v-bind:data_type="data_type_options.data_type"
        v-bind:options="data_type_options.options"
        v-bind:index="index">
    </data-type-options>
</div>
</template>

<template id="data-type-options-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="pull-right panel-title" :id="[[dom_key]]">
                <a class="or-options-toggle" :id="'opts-show-' + [[dom_key]]"
                   title="Select multiple options">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </a>
                <a style="display:none;" :id="'opts-do-' + [[dom_key]]"
                   class="text-primary"
                   title="Search selected options">
                    <span class="glyphicon glyphicon-search text-primary" aria-hidden="true"></span>
                </a>
            </h4>
            <h4 class="panel-title">
                <a class="text-left" data-toggle="collapse" data-parent="#acc-facets" :href="'#panel-' + [[dom_key]]">
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                    [[facet_label]]
                </a>
            </h4>
        </div>
        <div :id="'panel-' + [[dom_key]]" class="panel-collapse collapse in">
            <ul class="list-group f-opt-list" :id="'s-ops-'+ [[dom_key]]">
                
            </ul>
        </div>
    </div>
</template>



<script type="text/javascript">

// Passed from the Django template
var FACET_OPT_HIDE_URI_MAPS = {{ configs.FACET_OPT_HIDE_URI_MAPS|safe }};
var FACET_OPT_ORDERED_SUB_HEADINGS_DICTS = {{ configs.FACET_OPT_ORDERED_SUB_HEADINGS_DICTS|safe }};
var FACETS_OPTIONS_LISTS_AND_DATA_TYPES = {{ configs.FACETS_OPTIONS_LISTS_AND_DATA_TYPES|safe }};


var vc_data_type_options = Vue.component(
    'data-type-options',
    {
        delimiters: ['[[', ']]'],
        props: ['dom_key', 'facet_id', 'facet_label', 'data_type', 'options', 'index'],
        template: '#data-type-options-template',
        components: {
        
        }
    }
);

var vc_facet_data_types_options = Vue.component(
    'facet-data-types-options',
    {
        delimiters: ['[[', ']]'],
        props: ['facet_id', 'facet_label', 'facet_data_types_options', 'index'],
        template: '#facet-data-types-options-template',
        components: {
            'data-type-options': vc_data_type_options,
        }
    }
);
var vc_all_facets = Vue.component(
    'all-facets',
    {
        delimiters: ['[[', ']]'],
        props: ['facets_and_options'],
        template: '#all-facets-template',
        components: {
            'facet-data-types-options': vc_facet_data_types_options,
        }
    }
);

function make_all_url_variants(uri_list){
    // Makes a list of all variants for uris in a list
    var big_uri_list = [];
    for (let act_uri of uri_list){
        var act_uris = make_url_variants(act_uri);
        for(let new_uri of act_uris){
            if(big_uri_list.indexOf(new_uri) >= 0 ){
                continue;
            } else {
                big_uri_list.push(new_uri);
            }
        }
    }
    return big_uri_list;
}

function is_uri_in_uri_list(uri, uri_list){
    // Checks if a URI is in a list of URIs
    var check_uri_list = make_url_variants(uri);
    // Get the alternate HTTP, HTTPs variant of each item in the
    // uri_list. That becomes the big_uri_list
    var big_uri_list = make_all_url_variants(uri_list);
    for (let check_uri of check_uri_list){
        if(big_uri_list.indexOf(check_uri) >= 0){
            // We found what we want. Skip out.
            return true;
        }
    }
    // No match.
    return false;
}

function is_uri_in_prefix_match_list(uri, uri_prefix_list){
    // Checks if a URI is in a list of URIs
    var check_uri_list = make_url_variants(uri);
    // Get the alternate HTTP, HTTPs variant of each item in the
    // uri_list. That becomes the big_uri_list
    var big_prefix_list = make_all_url_variants(uri_prefix_list);
    for (let check_uri of check_uri_list){
        for(let prefix_uri of big_prefix_list){
            if(check_uri.startsWith(prefix_uri)){
                // We found a matching prefix.
                return true;
            }
        }
    }
    // No match.
    return false;
}

function prepare_option(dom_id_prefix, i, f_opt){
    f_opt['key'] = `${dom_id_prefix}-option-${i}`;
    f_opt['dom_id'] = `${dom_id_prefix}-option-${i}`;
    return f_opt;
}

function prepare_options_list(dom_id_prefix, raw_options_list){
    var prepare_options = [];
    var i = 0;
    for(let f_opt of raw_options_list){
        i +=1;
        f_opt = prepare_option(dom_id_prefix, i, f_opt);
        prepare_options.push(f_opt);
    }
    return prepare_options;
}

function prep_id_media_options(dom_id_prefix, raw_options_list){
    // Prepares facet options, grouped by configured vocabs / namespaces
    var all_grouped_options = [];
    var all_grouped_uris = [];
    for(let group_config of FACET_OPT_ORDERED_SUB_HEADINGS_DICTS){
        var group_opts = [];
        var i = 0;
        for(let f_opt of raw_options_list){
            i +=1;
            var opt_uri = i;
            f_opt = prepare_option(dom_id_prefix, i, f_opt);
            if ('rdfs:isDefinedBy' in f_opt){
                opt_uri = f_opt['rdfs:isDefinedBy'];
            }
            if (opt_uri === i && group_config.uris.length == 0){
                // No uri identifier, and the group has no
                // prefix uris so put into the catch-all.
                group_opts.push(f_opt);
                all_grouped_uris.push(opt_uri);
                continue;
            }
            if (opt_uri === i || all_grouped_uris.indexOf(opt_uri) >= 0 ){
                // There's no opt_uri or we've already dealt with it.
                continue;
            }
            if (is_uri_in_uri_list(opt_uri, FACET_OPT_HIDE_URI_MAPS)){
                // This uri is configured for hiding.
                all_grouped_uris.push(opt_uri);
                continue;
            }
            if (group_config.uris.length == 0){
                // No prefixes configured, so put it into the catch-all 
                group_opts.push(f_opt);
                all_grouped_uris.push(opt_uri);
                continue;
            }
            if (!(is_uri_in_prefix_match_list(opt_uri, group_config.uris))){
                // This uri is not in the group prefix match, so
                // don't do anything with it.
                continue;
            }
            // We're at the point where the opt_uri has
            // been found to belong to this particular group.
            group_opts.push(f_opt);
            all_grouped_uris.push(opt_uri);
        }

        if(group_opts.length == 0){
            // We didn't find any options for this group, so
            // just continue.
            continue;
        }
        group_config['options'] = group_opts;
        group_config['key'] = `${dom_id_prefix}-grp-${all_grouped_options.length + 1}`;
        all_grouped_options.push(group_config);
    }
    if (all_grouped_options.length == 0){
        // Only one group, so remove the label
        all_grouped_options[0]['label'] = null;
    }
    return all_grouped_options;
}

function prepare_facets_and_options(result){
    // Prepares facet options lists for templates
    var facets_and_options = []; //main output.
    if (!('oc-api:has-facets' in result)){
        // Nothing to do, so skip out.
        return facets_and_options;
    }
    for (let f_field of result['oc-api:has-facets']){
        f_field['id'] = remove_prefix(f_field['id'], '#');
        f_field['key'] = f_field['id'];
        f_field['data_types_opt_lists'] = [];
        for (let opts_conf of FACETS_OPTIONS_LISTS_AND_DATA_TYPES) {
            if (!(opts_conf.list_key in f_field)){
                // Nothing to do, so keep on looping to check for other kinds of
                // options lists.
                continue;
            }
            var all_grouped_options = [];
            if(opts_conf.data_type == 'id' || opts_conf.data_type == 'media'){
                all_grouped_options = prep_id_media_options(
                    f_field['id'], 
                    f_field[opts_conf.list_key]
                );
            }
            else{
                all_grouped_options.push({
                    'label': null,
                    'key': `${f_field['id']}-grp-1`,
                    'options': f_field[
                        prepare_options_list(
                            f_field['id'], 
                            opts_conf.list_key
                        )]
                });
            }
            opts_conf['grouped_options'] = all_grouped_options;
            f_field['data_types_opt_lists'].push(opts_conf);
            f_field[opts_conf.list_key] = 'moved';
        }
        facets_and_options.push(f_field);
    }
    return facets_and_options;
}

</script>