<head>
    <title>Open Context Test Search Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico" />
    
    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap-vue/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/angularjs/abn_tree.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="http://unpkg.com/portal-vue"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="{{ base_url }}/static/bootstrap-vue/bootstrap/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>
    
</head>
