<!DOCTYPE html>

<html lang="en">
    {% include './head.html' %}
     <body>
          {% include './filters.html' %}
          {% include './facets.html' %}
          <div id="main">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% include 'header.html' %}
                    {% endwith %}
                    {% with nav_items=st.nav_items %}
                    {% with act_nav='browse' %}
                    {% include 'navbar.html' %}
                    {% endwith %}
                    {% endwith %}

                    <div id="app">
                         <div class="row" v-if="result">
                             <div class="col-sm-8">
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <div class="row">
                                             <div class="col-sm-6">
                                                 <h3 class="panel-title"><span id="map-title">Map</span></h3>
                                             </div>
                                             <div class="col-sm-1" id="map-title-suffix">
                                             </div>
                                             <div class="col-sm-1">
                                             </div>
                                             <div class="col-sm-4 text-right" id="map-title-num">
                                                 <h3 class="panel-title">[[ result['totalResults'] ]] Records</h3>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="panel-body" style="min-height: 600px;">
                                        <act-map
                                             style="min-height: 600px;"
                                             id="act-map"
                                             ref="act_map"
                                             v-bind:map_config="map_config"
                                             >
                                        </act-map>
                                     </div>
                                 </div>  
                             
                             </div>
                             <div class="col-sm-4">
                                 
                                   <all-filters v-bind:grouped_filters="grouped_filters"></all-filters>
                                 
                                   <all-facets v-bind:facets_dtypes_groups_opts="facets_dtypes_groups_opts"></all-facets>

                             </div>
                         
                         <div class="row" v-if="result">
                             <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px;">
          
                             </div>
                         </div>
                     </div>
               </div>
          </div>

<template id='act-map-template'>
     <div v-if="map_config.show_map">          
          <l-map
               style="min-height: 600px;"
               ref="l_map" 
               @ready="map_config.do_ready()"
               :zoom="map_config.zoom"
               :center="map_config.center"
               :load-tiles-while-animating="true" 
               :load-tiles-while-interacting="true">
               <l-control-layers ref="l_control_layers" position="topright"></l-control-layers>
               <l-tile-layer
                    ref="l_tile_layer"
                    v-for="tp in tileProviders"
                    :key="tp.name"
                    :name="tp.name"
                    :visible="tp.visible"
                    :url="tp.url"
                    :attribution="tp.attribution"
                    layer-type="base"></l-tile-layer>
               <l-geo-json
                    ref="l_geo_json"
                    :geojson="map_config.geo_tile_facets"
                    :options="map_config.geojson_options"
               ></l-geo-json>
          </l-map>
     </div>
</template>

          <script type="text/javascript">
               // Populated by Django.
               var base_url = '{{ base_url|safe }}';
             
               // These are functions needed to play with the URLs returned
               // by the Open Context search API so we can do useful things
               // in Vue templating.
               //
               // TODO: Move these someplace else.
               //
               function remove_prefix(str, prefix){
                    if(str.startsWith(prefix)){
                         return str.slice(prefix.length);
                    } else {
                         return str;
                    }
               }
               function abs_to_rel_url(url){
                    return remove_prefix(url, base_url);
               }
               function make_url_variants(url){
                    var urls = [url];
                    var prefixes = [
                         {f: 'http://', r: 'https://'},
                         {f: 'https://', r: 'http://'},
                         {f: 'oc-gen:', r: 'http://opencontext.org/'},
                         {f: 'http://', r: 'https://'}, // for https variants of OC.
                    ];
                    for(let prefix_conf of prefixes){
                         var new_url = url;
                         if(url.startsWith(prefix_conf.f)){
                              new_url = prefix_conf.r + remove_prefix(url, prefix_conf.f);
                         }
                         if(urls.indexOf(new_url) >= 0 ){
                              continue;
                         }
                         urls.push(new_url);
                    }
                    return urls;
               }

               var api_url = abs_to_rel_url('{{ api_url|safe }}');

               // Set up the vue router in 'history' mode to manage
               // API requests to the backend. The history mode pushes
               // changes to the client's browser URL, which should let
               // the client bookmark state.
               const routes = [{path: api_url}];
               const router = new VueRouter({
                    mode: 'history',
                    routes: routes
               });

               // Import Vue2Leaflet components. 
               const l_tile_layer = Vue.component(
                  'l-tile-layer', 
                  window.Vue2Leaflet.LTileLayer,
               );
               const l_geojson = Vue.component(
                  'l-geo-json', 
                  window.Vue2Leaflet.LGeoJson,
               );
               const l_control_layers = Vue.component(
                  'l-control-layers', 
                  window.Vue2Leaflet.LControlLayers,
               );
               const l_map = Vue.component(
                  'l-map', 
                  window.Vue2Leaflet.LMap,
               );

               // Set up some base map tile sources.
               var map_box_token = "pk.eyJ1IjoiZWthbnNhIiwiYSI6IlZFQ1RfM3MifQ.KebFObTZOeh9pDHM_yXY4g";
               const tile_providers = [
                    {
                         name: 'OpenStreetMap',
                         visible: true,
                         id: 'osm',
                         url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                         attribution: '© <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    },
                    {
                         name: 'OpenTopoMap',
                         visible: false,
                         id: 'otm',
                         url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
                         attribution: 'Map data: © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: © <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
                    },
                    {
                         name: 'MapBox Light',
                         visible: false,
                         id: 'mapbox-light',
                         url: ('https://api.tiles.mapbox.com/v4/mapbox.light/{z}/{x}/{y}.png?access_token=' + map_box_token),
                         attribution: 'Map data: © <a href="https://MapBox.com">MapBox.com</a>',
                    },
                    {
                         name: 'MapBox Dark',
                         visible: false,
                         id: 'mapbox-dark',
                         url: ('https://api.tiles.mapbox.com/v4/mapbox.dark/{z}/{x}/{y}.png?access_token=' + map_box_token),
                         attribution: 'Map data: © <a href="https://MapBox.com">MapBox.com</a>',
                    }
               ];
          
               // Now make a Vue component of for a leaflet map.
               const act_map = Vue.component('act-map', {
                    props: ['map_config'],
                    data() {
                         return {
                              // Map Options
                              zoom_def: 13,
                              layers: [],
                              selectedTileSet: tile_providers[0], 
                              tileProviders: tile_providers,
                              mapOptions_default: {
                                   zoomControl: true, 
                                   attributionControl: true, 
                                   zoomSnap: true 
                              },
                              minZoom_def: 1,
                              maxZoom_def: 30,
                              show_mapsets_default: true,
                         }
                    },
                    computed: {
                         minZoom() { return 0; },
                         maxZoom() { return 30; },
                         zoom() { return this.map_config.zoom; },
                         center() { return this.map_config.coords; },
                         label() { return "Map" },
                    },
                    methods: {
                         
                    },
                    template: '#act-map-template',
               });

               // This function is for making a GeoJSON layer out of different
               // "categories" of features returned from the Open Context
               // API.
               function make_geo_features_layer(result, category_limit){
                    var geo_layer = {
                         "type": "FeatureCollection",
                         "features": [],
                    }; 
                    if(!('features' in result)){
                         return geo_layer;
                    }
                    for(let feature of result['features']){
                         if(feature.category != category_limit){
                              continue;
                         }
                         geo_layer.features.push(feature);
                    }
                    return geo_layer;
               }

             var vm = new Vue({
               router: router,
               delimiters: ['[[', ']]'],
               el: '#app',
               data: {
                    message: 'Open Context Search Result',
                    result: null,
                    map: null,
                    tile_layer: null,
               },
               created(){
                    this.fetch_oc_api();
               },
               watch: {
                    // call again the method if the route changes
                    '$route': 'fetch_oc_api'
               },
               methods: {
                    fetch_oc_api: function (){
                         this.error = null;
                         this.loading = true;
                         fetch(
                              this.$route.fullPath,
                              {
                                   headers:{
                                        'Accept': 'application/json',
                                   }
                              }
                         )
                         .then(this.loading = false)
                         .then(response => response.json())
                         .then(json => {
                              this.result = json
                         })
                    },
                    do_ready: function (){
                         console.log('do ready');
                         this.map = this.$refs.act_map.$refs.l_map.mapObject;
                    },
                    onEachFeatureFunction() {
                         return (feature, layer) => {
                              layer.bindTooltip(
                                   "<div>code:" +
                                   feature.label
                                   + "</div",
                                   { permanent: false, sticky: true }
                              );
                              console.log(feature);
                         };
                    },
                    update_base_overlay_controls: function() {
                         var layerControl = this.map.layerControl;
                         if(layerControl){
                              // remove it if if exists
                              layerControl.remove();
                         }
                         layerControl = L.control.layers(map.base_layers).addTo(map);
                         // now make a layer control with base maps, and possible overlay images
                         if(map.overlay_images === false){
                              layerControl = L.control.layers(map.base_layers).addTo(map);
                         }
                         else{
                              layerControl = L.control.layers(map.base_layers, map.overlay_images).addTo(map);
                         }
                         
                         if(tile_region_layer !== false){
                              // add the tile layer to the layer control overlay
                              layerControl.addOverlay(tile_region_layer, map.layer_name_tile);
                         }
                         if(circle_region_layer !== false){
                              // add the circle region to layer control overlay
                              layerControl.addOverlay(circle_region_layer, map.layer_name_circle);
                         }
                         if(export_record_layer !== false){
                              // add exported records to layer control overlay
                              layerControl.addOverlay(export_record_layer, map.layer_name_export);
                         }
                    },
               },
               computed: {
                    grouped_filters: function () {
                         // Group individual, hierarchy related 
                         // filters returned from the API 
                         return group_filters(this.result);
                    },
                    facets_dtypes_groups_opts: function() {
                         // Group facet fields and options
                         // returned from the API
                         return prepare_facets_dtypes_groups_opts(this.result);
                    },
                    geo_tile_facets: function () {
                         // Make geo tile layer 
                         return make_geo_features_layer(
                              this.result,
                              'oc-api:geo-facet'
                         );
                    },
                    geo_region_facets: function () {
                         // Geo region facet layer
                         return make_geo_features_layer(
                              this.result,
                              'oc-api:geo-contained-in-feature'
                         );
                    },
                    geo_records: function () {
                         // Geo records layer
                         return make_geo_features_layer(
                              this.result,
                              'oc-api:geo-record'
                         );
                    },
                    geojson_options: function() {
                         return {
                              onEachFeature: this.onEachFeatureFunction
                         };
                    },
                    map_config: function() {
                         return {
                              do_ready: this.do_ready,
                              show_map: true,
                              zoom: 10,
                              center: L.latLng(45, 0),
                              geo_tile_facets: this.geo_tile_facets,
                              geo_region_facets: this.geo_region_facets,
                              geo_records: this.geo_records,
                              geojson_options: this.geojson_options,
                         };
                    },
               },
               components: {
                    'all-filters': vc_all_filters,
                    'all-facets': vc_all_facets,
                    'act-map': act_map,
                    // 'l-geo-json': l_geojson,
                    // 'l-tile-layer': l_tile_layer,
                    // 'l-map': l_map,
               },
             }).$mount('#app');
          </script>
     </body>
</html>