<!DOCTYPE html>

<html lang="en">
    {% include './head.html' %}
     <body>
          {% include './filters.html' %}
          {% include './facets.html' %}
          <div id="main">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% include 'header.html' %}
                    {% endwith %}
                    {% with nav_items=st.nav_items %}
                    {% with act_nav='browse' %}
                    {% include 'navbar.html' %}
                    {% endwith %}
                    {% endwith %}

                    <div id="app">
                         <div class="row" v-if="result">
                             <div class="col-sm-8">
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <div class="row">
                                             <div class="col-sm-6">
                                                 <h3 class="panel-title"><span id="map-title">Map</span></h3>
                                             </div>
                                             <div class="col-sm-1" id="map-title-suffix">
                                             </div>
                                             <div class="col-sm-1">
                                             </div>
                                             <div class="col-sm-4 text-right" id="map-title-num">
                                                 <h3 class="panel-title">[[ result['totalResults'] ]] Records</h3>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="panel-body" id="map" style="min-height: 600px;">
                                            
                                     </div>
                                 </div>  
                             
                             </div>
                             <div class="col-sm-4">
                                 
                                   <all-filters v-bind:grouped_filters="grouped_filters"></all-filters>
                                 
                                   <all-facets v-bind:facets_and_options="facets_and_options"></all-facets>

                             </div>
                         
                         <div class="row" v-if="result">
                             <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px;">
                                 
                             </div>
                         </div>
                     </div>
               </div>
          </div>

          <script type="text/javascript">
               var base_url = '{{ base_url|safe }}';
             
               // Move these someplace else.
               function remove_prefix(str, prefix){
                    if(str.startsWith(prefix)){
                         return str.slice(prefix.length);
                    } else {
                         return str;
                    }
               }

               function abs_to_rel_url(url){
                    return remove_prefix(url, base_url);
               }
               function make_url_variants(url){
                    var urls = [url];
                    var prefixes = [
                         {f: 'http://', r: 'https://'},
                         {f: 'https://', r: 'http://'},
                         {f: 'oc-gen:', r: 'http://opencontext.org/'},
                         {f: 'http://', r: 'https://'}, // for https variants of OC.
                    ];
                    for(let prefix_conf of prefixes){
                         var new_url = url;
                         if(url.startsWith(prefix_conf.f)){
                              new_url = prefix_conf.r + remove_prefix(url, prefix_conf.f);
                         }
                         if(urls.indexOf(new_url) >= 0 ){
                              continue;
                         }
                         urls.push(new_url);
                    }
                    return urls;
               }

             var api_url = abs_to_rel_url('{{ api_url|safe }}');

             const routes = [{path: api_url}];
             const router = new VueRouter({
               mode: 'history',
               routes: routes
             });

             var vm = new Vue({
               router: router,
               delimiters: ['[[', ']]'],
               el: '#app',
               data: {
                 message: 'Open Context Search Result',
                 result: null,
               },
               created(){
                    this.fetch_oc_api();
               },
               watch: {
                    // call again the method if the route changes
                    '$route': 'fetch_oc_api'
               },
               methods: {
                    fetch_oc_api: function (){
                         this.error = null;
                         this.loading = true;
                         fetch(
                              this.$route.fullPath,
                              {
                                   headers:{
                                        'Accept': 'application/json',
                                   }
                              }
                         )
                         .then(this.loading = false)
                         .then(response => response.json())
                         .then(json => {
                              this.result = json
                         })
                    }
               },
               computed: {
                    grouped_filters: function () {
                         // Group individual, hierarchy related 
                         // filters returned from the API 
                         return group_filters(this.result);
                    },
                    facets_and_options: function() {
                         // Group facet fields and options
                         // returned from the API
                         return prepare_facets_and_options(this.result);
                    }
               },
               components: {
                    'all-filters': vc_all_filters,
                    'all-facets': vc_all_facets,
               }
               
             }).$mount('#app');
          </script>
     </body>
</html>