{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Bibliography</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-top">
                            <img style="margin-top: 10px; width: 160px; margin-left: 50px;" src="{{ base_url }}/static/oc/images/about/cite-noun-23118.png" alt="Article, bibliography, citation logo" />
                        </div>
                        <div class="media-body">
                            <div style="padding-left: 4%;">
                                <p>Developing Open Context requires research and development in a host of issues relating to informatics, technology, theory, research policy, and research ethics. This page lists publications that help document our efforts and our research contributions in these areas of scholarship.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <h2>Publications about Open Context</h2>
        <div class="row">
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-10">
                
                <div resource="http://opencontext.org/" >
                    <div id="references" >
                        
                        <ul id="pub-list" class="list-unstyled ref-list">
                            
                            
                            <li id="pub-2018-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2018-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2018-2">
                                        <span property="dcterms:bibliographicCitation">Sarah W. Kansa and Eric C. Kansa. (2018). Data Beyond the Archive in Digital Archaeology. <em>Advances in Archaeological Practice</em> 6(2): 89-92.</span>
                                        <span class="ref-links">
                                            [<a rel="dcterms:identifier" href="https://doi.org/10.1017/aap.2018.7">Published Version</a>]
                                            [<a rel="dcterms:hasVersion" href="https://escholarship.org/uc/item/2qs03103">Version of Record</a> (Open Access)]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2018-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2018-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2018-1">
                                        <span property="dcterms:bibliographicCitation">Eric C. Kansa, Sarah W. Kansa, Josh J. Wells, Stephen J. Yerka, Kelsey N. Myers, Robert C. DeMuth, Thaddeus G. Bissett and David G. Anderson. (2018). The Digital Index of North American Archaeology: networking government data to navigate an uncertain future for the past. <em>Antiquity</em> 92(362): 490-506.</span>
                                        <span class="ref-links">
                                            [<a rel="dcterms:identifier" href="https://doi.org/10.15184/aqy.2018.32">Published Version</a>]
                                            [<a rel="dcterms:hasVersion" href="https://escholarship.org/uc/item/3xb6k0hf">Author Preprint</a> (Open Access)]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2017-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2017-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2017-1">
                                        <span property="dcterms:bibliographicCitation">David G. Anderson, Thaddeus G. Bissett, Stephen J. Yerka, Joshua J. Wells, Eric C. Kansa, Sarah W. Kansa, Kelsey Noack Myers, R. Carl DeMuth, Devin A. White. (2017). Sea-level rise and archaeological site destruction: An example from the southeastern United States using DINAA (Digital Index of North American Archaeology). <em>PLoS ONE</em> 12(11): e0188142.</span>
                                        <span class="ref-links">
                                            [<a rel="dcterms:identifier" href="https://doi.org/10.1371/journal.pone.0188142">Open Access</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2016-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2016-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2016-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. (2016) "Click Here to Save the Past" In Mobilizing the Past for a Digital Future: The Potential of Digital Archaeology, edited by Erin Walcek Averett, Jody Michael Gordon, and Derek B. Counts, 443-472. Grand Forks, ND: The Digital Press at the University of North Dakota.</span>
                                        <span class="ref-links">
                                            [<a rel="dcterms:hasVersion" href="http://dc.uwm.edu/arthist_mobilizingthepast/19/">Published Version</a> (Open Access)]
                                            [<a rel="dcterms:identifier" href="http://escholarship.org/uc/item/9w9593tn">Archived</a> (Digital Repository)]
                                            [<a rel="dcterms:hasVersion" href="https://ekansa-pubs.github.io/click-here-to-save-archaeology/">Draft</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2016-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2016-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2016-1">
                                        <span property="dcterms:bibliographicCitation">Buccellati, Federico, and Kansa, Eric. (2016). The value of energetic analysis in architecture as an example for data sharing. <em>Digital Applications in Archaeology and Cultural Heritage</em>, 3(3), 91 - 97.</span>
                                        <span class="ref-links">
                                            [<a rel="dcterms:identifier" href="https://doi.org/10.1016/j.daach.2016.07.001">Published Version</a>]
                                            [<a rel="dcterms:hasVersion" href="http://escholarship.org/uc/item/6r04d778">Open Access</a> (Preprint)]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2015-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2015-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2015-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Sarah Whitcher and Kansa, Eric C. (2015) "Reflections on a Road Less Traveled: Alt-Ac Archaeology." <em>Journal of Eastern Mediterranean Archaeology & Heritage Studies</em> 3(3): 293-298. </span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.jstor.org/stable/10.5325/jeasmedarcherstu.3.3.0293">Article</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.5325/jeasmedarcherstu.3.3.0293">DOI</a>]
                                             [<a rel="dcterms:hasVersion" href="http://escholarship.org/uc/item/4j5400g8">Open Access Preprint</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2015-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2015-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2015-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric (2015) "Contextualizing Digital Data as Scholarship in Eastern Mediterranean Archaeology." <em>CHS Research Bulletin</em> 3(2). </span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.chs-fellows.org/2015/08/03/contextualizing-digital-data-as-scholarship-in-eastern-mediterranean-archaeology/">Article (Open Access)</a>]
                                             [<a rel="dcterms:identifier" href="http://nrs.harvard.edu/urn-3:hlnc.essay:KansaE.Contextualizing_Digital_Data_as_Scholarship.2015">URN</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2014-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2014-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2014-3">
                                        <span property="dcterms:bibliographicCitation">Arbuckle BS, Kansa SW, Kansa E, Orton D, Çakırlar C, Gourichon L, Atici L, Galik A, Marciniak A, Mulville J, Buitenhuis H, Carruthers D, De Cupere B, Demirergi A, Frame S, Helmer D, Martin L, Peters J, Pöllath N, Pawłowska K, Russell N, Twiss K and Würtenberger D (2014) Data Sharing Reveals Complexity in the Westward Spread of Domestic Animals across Neolithic Turkey. <em>PLoS ONE</em> 9(6): e99845.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0099845">Article (Open Access)</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.1371/journal.pone.0099845">DOI</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2014-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2014-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2014-2">
                                        <span property="dcterms:bibliographicCitation">Kansa EC, Kansa SW and Arbuckle B (2014) Publishing and Pushing: Mixing Models for Communicating Research Data in Archaeology. <em>International Journal of Digital Curation</em> 9(1): 57–70.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.ijdc.net/index.php/ijdc/article/view/301">Article (Open Access)</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.2218/ijdc.v9i1.301">DOI</a>]
                                        </span>
                                  </span>
                            </li>
                            <li id="pub-2014-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2014-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2014-1">
                                        <span property="dcterms:bibliographicCitation">Wells JJ, Kansa EC, Kansa SW, Yerka SJ, Anderson DG, Bissett TG, Myers KN and DeMuth RC (2014) Web-based discovery and integration of archaeological historic properties inventory data: The Digital Index of North American Archaeology (DINAA). <em>Literary and Linguist Computing</em> fqu028.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://llc.oxfordjournals.org/content/early/2014/06/15/llc.fqu028.abstract">Article</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.1093/llc/fqu028">DOI</a>]
                                             [<a rel="dcterms:hasVersion" href="http://llc.oxfordjournals.org/content/early/2014/06/15/llc.fqu028.full.pdf?keytype=ref&ijkey=G6BomzCBnjbvb8V">Open Access Preprint</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2013-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2013-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2013-3">
                                        <span property="dcterms:bibliographicCitation">Atici, Levent., Sarah Kansa, Justin Lev-Tov, and Eric Kansa (2013) Other People's Data: A Demonstration of the Imperative of Publishing Primary Data. <em>Journal of Archaeological Method and Theory</em> 1(3): 1-19.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.springerlink.com/content/61636x6w32662243/">Article</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.1007/s10816-012-9132-9">DOI</a>]
                                             [<a rel="dcterms:hasVersion" href="http://escholarship.org/uc/item/1nt1v9n2">Open Access Preprint</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2013-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2013-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2013-2">
                                        <span property="dcterms:bibliographicCitation">Faniel, Ixchel, Eric Kansa, Sarah Whitcher Kansa,Julianna Barrera-Gomez, and Elizabeth Yakel.
                                        (2013) "The Challenges of Digging Data: A Study of Context in Archaeological Data Reuse."
                                        <em>JCDL 2013 Proceedings of the 13th ACM/IEEE-CS Joint Conference on Digital Libraries</em>, 295-304. New York, NY: ACM</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://dl.acm.org/citation.cfm?doid=2467696.2467712">Article</a>]
                                             [<a rel="dcterms:hasVersion" href="http://www.oclc.org/content/dam/research/publications/library/2013/faniel-archae-data.pdf" title="Self-archived preprint">Open Access Preprint</a>]
                                             [<a rel="dcterms:identifier" href="10.1353/ema.2013.0007">DOI</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2013-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2013-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2013-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C., and Sarah Whitcher Kansa.
                                        (2013) We All Know That a 14 Is a Sheep: Data Publication and Professionalism in Archaeological Communication
                                        <em>Journal of Eastern Mediterranean Archaeology and Heritage Studies</em> 1(1):88–97</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://muse.jhu.edu/login?type=summary&amp;url=/journals/journal_of_eastern_mediterranean_archaeology_and_heritage_studies/v001/1.1.kansa01.html">Article</a>]
                                             [<a rel="dcterms:hasVersion" href="http://escholarship.org/uc/item/9m48q1ff" title="Self-archived preprint">Open Access Preprint</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2012-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2012-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2012-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric (2012) Openness and archaeology's information ecosystem. <em>World Archaeology</em> 44(4): 498-520.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.tandfonline.com/doi/full/10.1080/00438243.2012.737575">Article</a>]
                                             [<a rel="dcterms:hasVersion" href="http://alexandriaarchive.org/blog/wp-content/uploads/2012/Kansa-Open-Archaeology-Self-Archive-Draft.pdf" title="Self-archived preprint">Open Access Preprint</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.1080/00438243.2012.737575">DOI</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2011-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2011-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2011-3">
                                        <span property="dcterms:bibliographicCitation">Matei, Sorin Adam., Eric Kansa, and Nicholas Rauh (2011) The Visible Past / Open Context Loosely Coupled Model for Digital Humanities Ubiquitous Collaboration and Publishing: Collaborating Across Print, Mobile, and Online Media. <em>Spaces and Flows: An International Journal of Urban and ExtraUrban Studies</em> 1(3): 33-48.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://ijf.cgpublisher.com/product/pub.203/prod.50">Article</a>]
                                             [<a rel="dcterms:isPartOf" href="http://ijf.cgpublisher.com/product/pub.203/prod.38">Issue</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2011-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2011-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Chapter" resource="#pub-2011-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. and Sarah Whitcher Kansa (2011) Towards a Do-it-yourself Cyberinfrastructure: Open Data, Incentives, and Reducing Costs and Complexities of Data Sharing. In <em>Archaeology 2.0: New Approaches to Communication and Collaboration</em>, pp. 57-91, edited by E.C. Kansa, S.W. Kansa, and E. Watrall. Cotsen Institute of Archaeology Press: Los Angeles, CA.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="http://escholarship.org/uc/item/1r6137tb#page-73">Chapter</a>]
                                             [<a rel="dcterms:isPartOf" href="http://www.worldcat.org/oclc/744560396">WorldCat</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2011-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2011-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2011-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Sarah Whitcher and Eric C. Kansa. (2011) Beyond BoneCommons: Recent Developments in Zooarchaeological Data Sharing. <em>The SAA Archaeological Record</em> 11(1): 26-29.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="http://alexandriaarchive.org/bonecommons/archive/files/kansa_kansa_icaz_saa_jan2011_d7f38e2b2b.pdf">Article</a>]
                                             [<a rel="dcterms:isPartOf" href="http://digitaleditions.sheridan.com/publication/?i=58423">Issue</a>]
                                        </span>
                             </span>
                            </li>
                             <li id="pub-2010-5" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2010-5" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2010-5">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. (2010) Open Context in Context: Cyberinfrastructure and Distributed Approaches to Publish and Preserve Archaeological Data. <em>SAA Archaeological Record</em> 10(5):12-16.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:isPartOf" href="http://www.saa.org/Portals/0/SAA/Publications/thesaaarchrec/Nov2010.pdf">Issue</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2010-4" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2010-4" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2010-4">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C., Sarah Whitcher Kansa, Margie M. Burton, and Cindy Stankowski. (2010)	 Googling the Grey: Open Data, Web Services, and Semantics. <em>Archaeologies, Journal of the World Archaeological Congress</em> 6(2):301-326.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.springerlink.com/content/c259133070q276vg/"
                                             title="Link to open access paper">Article</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.1007/s11759-010-9146-4">DOI</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2010-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2010-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2010-3">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C., Sarah Whitcher Kansa (2010) Publishing Data in Open Context: Methods and Perspectives. <em>CSA Newsletter</em>. Vol. XXIII, No. 2 (September 2010). Bryn Mawr: Center for the Study of Architecture.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://csanet.org/newsletter/fall10/nlf1001.html">Article</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2010-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2010-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2010-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. and Ahrash Bissell (2010) Web Syndication Approaches for Sharing Primary Data in "Small Science" Domains. <em>Data Science Journal</em> 9:42-53</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="https://www.jstage.jst.go.jp/article/dsj/9/0/9_009-012/_article" title="Link to open access paper">Article</a>]
                                             [<a rel="dcterms:identifier" href="http://dx.doi.org/10.2481/dsj.009-012">DOI</a>]
                                             [<a rel="dcterms:isPartOf" href="https://www.jstage.jst.go.jp/browse/dsj/9/0/_contents">Issue</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2010-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2010-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Chapter" resource="#pub-2010-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. and Sarah Whitcher Kansa. (2010) &#8220;Mashable&#8221; heritage: formats, licenses and the allure of openness. <em>Heritage in the Digital Era</em>, edited by Marinos Ioannides. London: Multi-Science Publishers, pp 105-112.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="http://www.amazon.com/heritage-digital-era-Marinos-Ioannides/dp/1907132252">Amazon</a>]
                                             [<a rel="dcterms:isPartOf" href="http://www.worldcat.org/oclc/720901432">WorldCat</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2009-4" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2009-4" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Chapter" resource="#pub-2009-4">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. (2009) Indigenous Heritage and the Digital Commons. In <em>Traditional Knowledge, Traditional Cultural Expressions and Intellectual Property Law in the Asia Pacific Region</em>, edited by Christoph Antons. Kluwer Law International: Alphen aan den Rijn, pp.219-244.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="http://www.amazon.com/Traditional-Knowledge-Expressions-Intellectual-Asia-Pacific/dp/9041127216">Amazon</a>]
                                             [<a rel="dcterms:isPartOf" href="http://www.worldcat.org/oclc/300407998">WorldCat</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2009-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2009-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2009-3">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C. (2009)   Opening Archaeology to Mash-ups: Field Data and an Incremental Approach to Semantics. In <em>Digital Heritage in the New Knowledge Environment: Shared spaces &amp; open paths to cultural content</em> (Conference Proceedings), edited by Metaxia Tsipopoulou. Hellenic Ministry of Culture: Athens, Greece.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:isPartOf" href="http://www.worldcat.org/oclc/431230377">WorldCat</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2009-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2009-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2009-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Sarah Whitcher and Eric C. Kansa (2009) Yes, it is all about you: User needs, archaeology and digital data. <em>CSA Newsletter</em>. Vol. XXII, No. 1 (April 2009). Bryn Mawr: Center for the Study of Architecture.</span>
                                        <span class="ref-links">
                                              [<a rel="bibo:uri" href="http://csanet.org/newsletter/spring09/nls0902.html">Article</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2009-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2009-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2009-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C and Sarah Whitcher (2009) Open Context: Developing Common Solutions for Data Sharing. <em>CSA Newsletter</em>. Vol. XXI, No. 3 (January 2009). Bryn Mawr: Center for the Study of Architecture.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://csanet.org/newsletter/spring09/nls0902.html">Article</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2007-5" rel="dcterms:isReferencedBy" >
                                  <a style="display:none;" href="#pub-2007-5" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2007-5">
                                        <span property="dcterms:bibliographicCitation">Kansa, Sarah Whitcher and Eric C Kansa (2007) Open Content in Open Context. <em>Educational Technology Magazine</em>. Vol. XLVII. (Nov-Dec 2007):26-31.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="http://www.alexandriaarchive.org/publications/KansaEdTecArticle.pdf" title="Self-archived offprint">Article</a>]
                                             [<a rel="dcterms:isPartOf" href="http://asianvu.com/bookstoread/etp/Educational_Technology_Nov-Dec2007_issue.pdf">Issue</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2007-4" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2007-4" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2007-4">
                                        <span property="dcterms:bibliographicCitation">Kansa, Sarah Whitcher, Eric C Kansa and Jason M Schultz (2007) An Open Context for Near Eastern Archaeology. <em>Near Eastern Archaeology</em> 70(4): 187-193.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:hasVersion" href="https://escholarship.org/uc/item/79f2471f" title="Self-archived offprint">Article</a> (Open Access)]
                                             [<a rel="rdfs:isDefinedBy" href="http://www.jstor.org/stable/20361331">JSTOR</a>]
                                             [<a rel="dcterms:isPartOf" href="http://www.jstor.org/stable/i20361328">Issue</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2007-3" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2007-3" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2007-3">
                                        <span property="dcterms:bibliographicCitation">Kansa, E., and S. Whitcher Kansa (2007) Open Context: Collaborative Data Publication to Bridge Field Research and Museum Collections. <em>International Cultural Heritage Informatics Meeting (ICHIM07): Proceedings</em>, edited by J. Trant and D. Bearman. Toronto: Archives &amp; Museum Informatics. 2007. Published September 30, 2007.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.archimuse.com/ichim07/papers/kansa/kansa.html" title="Conference proceedings">Article</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2007-2" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2007-2" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2007-2">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C (2007) An Open Context for Small-scale Field Science Data. <em>Proceedings of the International Association of Technical University Libraries Annual Conference</em>, Stockholm, Sweden.</span>
                                        <span class="ref-links">
                                             [<a rel="dcterms:abstract" href="http://www.archimuse.com/ichim07/papers/kansa/kansa.html" title="Conference Abstract">Abstract</a>]
                                        </span>
                                  </span>
                            </li>
                             <li id="pub-2007-1" rel="dcterms:isReferencedBy">
                                  <a style="display:none;" href="#pub-2007-1" ></a>
                                  <span typeof="dcterms:BibliographicResource bibo:Article" resource="#pub-2007-1">
                                        <span property="dcterms:bibliographicCitation">Kansa, Eric C (2007) Publishing Primary Data on the World Wide Web: Opencontext.org and an Open Future for the Past. <em>Technical Briefs in Historical Archaeology</em>, 2(1):1-11.</span>
                                        <span class="ref-links">
                                             [<a rel="bibo:uri" href="http://www.sha.org/publications/technical_briefs/volume02/article_01.pdf">Article</a>]
                                        </span>
                                  </span>
                            </li>
                             
                        </ul>
                    
                    </div>
               </div>

                
                
                
                
            </div> <!-- end  col-sm-12 -->
        </div>
        
        
        
        
        
        
        <h5 style="margin-top: 120px;">Icon Credits</h5>
        <div class="row">
            <div class="col-sm-12">
                <small>Quote icon by <a target="_blank" href="https://thenounproject.com/term/quote/23118/">Irene Hoffman</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
        
        
        
        
        
        
        
    </div>
    
{% endblock %} 
