<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico" />
    
    <!-- Start of Open Graph + Twitter Metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ og.twitter_site }}" />
    <meta property="og:type" content="{{ og.type }}" />
    <meta property="og:url" content="{{ og.url }}" />
    <meta property="og:site_name" content="{{ og.site_name }}" />
    <meta property="og:title" content="{{ page_title }}" />
    {% if og.description != False %}
    <meta property="og:description" content="{{ og.description }}" />
    {%endif%}
    {% if og.image != False %}
    <meta property="og:image" content="{{ og.image }}" />
    {%endif%}
    {% if og.video != False %}
    <meta property="og:video" content="{{ og.video }}" />
    <meta property="twitter:player" content="{{ og.video }}" />
    <meta property="twitter:player:stream" content="{{ og.video }}" />
    {%endif%}
    <!-- End of Open Graph + Twitter Metadata -->

    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/angularjs/abn_tree.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/bibliography.css" />
    
    <script src="{{ base_url }}/static/jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ base_url }}/static/jquery/jquery.cookie.js"></script>
    <script src="{{ base_url }}/static/jquery/ui/jquery-ui.min.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular-animate.js"></script>
    <script src="{{ base_url }}/static/angularjs/abn_tree_directive.js"></script>
    <script src="{{ base_url }}/static/bootstrap/3.3.4/js/bootstrap.js"></script>
    
    {% include 'mapping/headmap.html' %}
   
   
    <script src="{{ base_url }}/static/oc/js/tab-link.js"></script>
    
    <!-- Net Neutrality Protest -->
    <!--
    <script src="https://widget.battleforthenet.com/widget.js" async></script>
    -->
</head>
