{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">About Open Context</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
					<div>
						<!--
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item"
									src="https://www.youtube.com/embed/qqoPhTZDG04" frameborder="0"
									allowfullscreen></iframe>
						</div>
						-->
						<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
						<div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
							<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
								<div class="wistia_embed wistia_async_s0g0fsyqkz videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
							</div>
						</div>
						<div style="margin-top: 10px;">
							<p class="lead"><em>Watch the video for a quick 1 minute introduction!</em> Open Context reviews, edits, annotates, publishes and archives research data and digital documentation. We publish your data and preserve it with leading digital libraries. We take steps beyond archiving to richly annotate and integrate your analyses, maps and media. This links your data to the wider world and broadens the impact of your ideas.</p>
						</div> 
					</div>
                </div>
            </div>
        </div>
    </div>
    
    
    <style type="text/css">
        img.step-icon {
            margin-top: 30px;
            margin-bottom: 30px;
            max-height: 220px;
        }
        div.step-text {
            margin-top: 30px;
        }
    </style>
    
    
    <div class="container-fluid">
        <h2 class="text-center" id="service-overview">Research Data Management and Publishing Services</h2>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/plan-noun-14382.png" alt="Planning icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    1: Plan and Prepare Data
                </h3>
                <p>Open Context editors can help researchers prepare data management plans before a project begins. We also collaborate with researchers to prepare datasets that document field studies (excavations, surveys) and the analyses of collections for publication.
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/repair-noun-10069.png" alt="Repair icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    2: Data Cleaning and Organization
                </h3>
                <p>Working with contributors, Open Context editors review and clean datasets, then organize media, documents, and geospatial information with other data.
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/network-noun-177003.png" alt="Network icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    3: Annotate with Linked Data Standards
                </h3>
                <p>Open Context links data to other research collections on the Web, making data easier to discover, integrate and use with a wider universe of information.
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/quote-noun-42325.png" alt="Quote icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    4: Stable Web Identifiers for Citation
                </h3>
                <p>Citation is a key requirement for scholarship. Every record in Open Context has its own stable Web identifier (URI), making it easy to reference and cite very specific items of data.
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/institution-noun-37388.png" alt="Institution archive icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    5: Digital Archiving
                </h3>
                <p>To preserve irreplaceable data, Open Context archives data with the 
University of California, California Digital Library.
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        
        
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-rounded step-icon" src="{{ base_url }}/static/oc/images/about/connected-world-noun-169544.png" alt="Connected world icon"/>
            </div>
            <div class="col-sm-6 step-text">
                <h3>
                    6: Collaboration with Other Publishers
                </h3>
                <p>Because the content we publish is archived and citable, it can work in a larger world of academic publishing. We partner with academic presses to augment and enrich conventional publishing with rich, interoperable, and dynamic datasets and media. 
                </p>
                        
			</div>
            <div class="col-sm-2">
            </div>
        </div>
        
        
        <h5 style="margin-top: 120px;">Icon Credits</h5>
        <div class="row">
            <div class="col-sm-6">
                <small>Repair icon by <a target="_blank" href="https://thenounproject.com/term/repair/10069/">'iconoci'</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
            <div class="col-sm-6">
                <small>Network icon by <a target="_blank" href="https://thenounproject.com/term/network/177003/">Creative Stall</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-6">
                <small>Institution icon by <a target="_blank" href="https://thenounproject.com/term/institution/37388/">Воеводин Степан</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
            <div class="col-sm-6">
                <small>Connected World icon by <a target="_blank" href="https://thenounproject.com/term/worldwide/169544/">Guilherme Furtado</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
        
    </div>
    
{% endblock %} 
