{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Intellectual Property</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-top">
                            <img style="margin-top: 10px; width: 160px; margin-left: 50px;" src="{{ base_url }}/static/oc/images/about/dialog-noun-2172.png" alt="Dialog icon from Noun Project (#ID 2172)" />
                        </div>
                        <div class="media-body">
                            <div style="padding-left: 4%;">
                                <p>Open Context publishes open data, free of access and reuse restrictions. While open access and open licensing of research data are powerful tools for encouraging better and more collaborative scientific practice, they are not universally appropriate. Open Context's team asks contributors to carefully consider the issues described below and communicate their perspectives with our editorial staff.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12">
                <h2>Intellectual Property, Data Management and Access</h2>
                <p>Good intellectual property (IP) practice starts in a project's planning stages. Researchers should be aware of the context of their work since professional and scientific ethics of access and IP vary. Are there national or international policy expectations with regard to data access and management? Are there local or indigenous communities or other groups with an interest in the research program? At its inception, a project should include discussions about data sharing and access, credit and attribution, and privacy and cultural sensitivities. To increase the potential for inclusivity, we recommend the following practical steps for researchers:  
                </p>
                <ul class="sep-list">
                    <li>Open Context asks contributors to explicitly license content for publication with Creative Commons licenses to enable copying, preservation with digital libraries, and reuse. Open Context does NOT ask contributors to transfer copyright or other intellectual property ownership rights. Contributors retain all such rights when publishing with Open Context.</li> 
                    <li>Data collection and management practices should be designed to account for IP concerns, including proper attribution and credit. Database fields can be added to help track attribution and credit, and to flag records and fields that may not be appropriate for public access.</li>
					<li>Researchers should be aware of laws and norms that may regulate documentation developed in their projects. These may need to be incorporated into data management practices and communicated to Open Context's editorial team.</li>
					<li>Researchers should establish collaborative relationships with different stakeholder communities, where appropriate. Data management practices discussed above may also need to accommodate documentation of concepts of ownership and custodianship (or other indigenous concepts) of documentation and content. Researchers working with the cultural heritage of an indigenous community should work in collaboration with that community to assess the sensitivity of material and to develop appropriate data management practices.</li>
					<li>Terminologies may be acceptable and intelligible/meaningful to different communities in different ways. In addition to the scientific terminologies, Open Context encourages use of respectful and relevant terminologies developed in collaboration with stakeholders.</li>
					<li>Open Context will take down disputed content pending arbitration and dispute resolution. If an arbitration decision leads to a restoration of access, Open Context will, in most circumstances, flag the content as the subject of a dispute.</li>
                    <li>We expect users of Open Context to exercise appropriate ethical behavior and respect the integrity of Open Context's contributors, stakeholding communities, and content.</li>
                </ul>
                <p>The point of these practices is to encourage researchers to look beyond their immediate personal and project needs and consider multiple communities (including professionals working in other disciplines) as stakeholders. Open access and open data are valuable means to make research more collaborative and relevant to larger communities, as are practices that build collaborations with indigenous communities and recognize their values and contributions. Consideration of these issues in data management plans will help place projects on a stronger ethical and professional foundation.
                </p>
                
                <br/>
                <h4>Final Notes</h4>
                <p>The policy, ethical, legal, and professional issues associated with the Web-based dissemination of research data are constantly evolving. Many of these topics relate to active areas of research. To further explore these issues, please refer to the knowledge-base compiled by the <a href="http://www.sfu.ca/ipinch/" title="Link to IPinCH">Intellectual Property Issues in Cultural Heritage</a> (IPinCH) project.
				</p>
                
                <p>Special thanks go to IPinCH member Sarah E. Carr-Locke (Simon Frasier University) for her role in helping to craft this document. Please note however that the perspectives discussed here reflect the policies and perspectives of Open Context, and do not necessarily reflect the views of the IPinCH project or its members.</p>
                
                <p>If you have any concerns about the ethical nature of the information presented on the site, please contact Open Context's Editor, Sarah Whitcher Kansa (<a href="mailto:skansa@alexandriaarchive.org">skansa@alexandriaarchive.org</a>).
</p>

            </div> <!-- end  col-sm-12 -->
        </div>
        
        
        
        <h5 style="margin-top: 120px;">Icon Credits</h5>
        <div class="row">
            <div class="col-sm-12">
                <small>Dialog icon by <a target="_blank" href="https://thenounproject.com/term/dialog/2172/">DEADTYPE</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
        
        
        
    </div>
    
{% endblock %} 
