<!DOCTYPE html>

<html lang="en">
    {% include 'about/head.html' %}
     <body>
          <div id="main">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% include 'header.html' %}
                    {% endwith %}
                    {% with nav_items=nav_items %}
                    {% with act_nav='about' %}
                    {% include 'navbar.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% block pagecontent %}
                    {% endblock %}
                    {% include 'footer.html' %}
               </div>
          </div>
     </body>
</html>
