{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Data &amp; API Recipes</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-top">
                            <img style="height: 260px; margin-top:-40px;" src="{{ base_url }}/static/oc/images/about/recipe-icon-noun-82540.svg" alt="Recipe Icon" />
                        </div>
                        <div class="media-body">
                            <p>This page provides a growing list of examples for how to use Open Context data and APIs in specific tasks and workflows.</p>
                            
                            <p>For a more detailed technical discussion of the Open Context API, please review Open Context's <a href="{{ base_url }}/about/services">Web Services (APIs)</a> documentation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12">
                <!-- page tabs -->
                <ul class="nav nav-tabs" id="about-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#gis">Download GIS or CSV Tables</a></li>
                    <li><a data-toggle="tab" href="#dinaa">Linking to DINAA Sites</a></li>
                    <li><a data-toggle="tab" href="#geo-utilities">Geo Utilities</a></li>
                </ul>
                <div class="tab-content about-tab-all">
                    <div id="gis" class="tab-pane fade in active">
                        {% include 'about/recipes-gis.html' %}
                    </div>
                    <div id="dinaa" class="tab-pane fade">
                        {% include 'about/recipes-dinaa.html' %}
                    </div>
                    <div id="geo-utilities" class="tab-pane fade">
                        {% include 'about/recipes-geo.html' %}
                    </div>
                </div>
                <!-- end of tab content -->
            </div>
        </div>
        
        
        
        
        
        
        <h5 style="margin-top: 120px;">Icon Credits</h5>
        <div class="row">
            <div class="col-sm-12">
                <small>Recipe icon by <a target="_blank" href="http://thenounproject.com/term/recipe/82540/">Shane David Kenna</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
    </div>
    
{% endblock %} 
