{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h1>Recipes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img style="height: 260px;" src="{{ base_url }}/static/oc/images/about/recipe-icon-noun-82540.svg" alt="Recipe Icon" />
                </div>
                <div class="col-sm-1">
                
                </div>    
                <div class="col-sm-8">
                    <h2>Data Analysis with Open Context</h2>
                    <p>Open Context has a powerful Application Program Interface (API)
                    that enables you to independently:</p>
                    <ul>
                        <li>Search and browse data</li>
                        <li>Visualize data</li>
                        <li>Analyze data</li>
                        <li>Link to Open Context records (entity reconciliation)</li>
                        <li>Interoperate with Open Context</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>API Overview</h3>
                <p>Open Context has two primary APIs. One returns data on individual records, and the other returns data
                from searches.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>Recipe icon by <a target="_blank" href="http://thenounproject.com/term/recipe/82540/">Shane David Kenna</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
    </div>
{% endblock %} 
