{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="h2">Web Services (APIs)</h1>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-top">
                            <img style="height: 180px; margin-top: 20px; margin-right: 20px;" src="{{ base_url }}/static/oc/images/about/gears-icon-noun-1063.svg" alt="Gears Icon" />
                        </div>
                        <div class="media-body">
                            <p>Open Context has a powerful Application Program Interface (API) that enables you to programmatically:</p>
                            <ul>
                                <li>Search and browse data</li>
                                <li>Visualize data</li>
                                <li>Analyze data</li>
                                <li>Link to Open Context records (entity reconciliation)</li>
                                <li>Interoperate with Open Context</li>
                            </ul>
                            <p>The discussions below provide background information on the APIs. For specific examples of the APIs in use, check out the <a href="{{ base_url }}/about/recipes">Open Context API Cookbook</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12">
                <!-- page tabs -->
                <ul class="nav nav-tabs" id="about-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#intro">Introduction</a></li>
                    <li><a data-toggle="tab" href="#get-json">Getting JSON</a></li>
                    <li><a data-toggle="tab" href="#geojson-ld">GeoJSON(-LD)</a></li>
                    <li><a data-toggle="tab" href="#query-syntax">Query Syntax</a></li>
                    <li><a data-toggle="tab" href="#query-meta">Query Responses + Metadata</a></li>
                    <li><a data-toggle="tab" href="#query-facets">Query Facets</a></li>
                </ul>
                <div class="tab-content about-tab-all">
                    <div id="intro" class="tab-pane fade in active">
                        {% include 'about/services-intro.html' %}
                    </div>
                    <div id="get-json" class="tab-pane fade">
                        {% include 'about/services-getjson.html' %}
                    </div>
                    <div id="geojson-ld" class="tab-pane fade">
                        {% include 'about/services-geojsonld.html' %}
                    </div>
                    <div id="query-syntax" class="tab-pane fade">
                        {% include 'about/services-querysyntax.html' %}
                    </div>
                    <div id="query-meta" class="tab-pane fade">
                        {% include 'about/services-querymeta.html' %}
                    </div>
                    <div id="query-facets" class="tab-pane fade">
                        {% include 'about/services-facets.html' %}
                    </div>
                </div>
                <!-- end of tab content -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
{% endblock %} 
