<h3>API Introduction</h3>

<p>Open Context has two primary APIs. One returns data on individual records, and the other returns data from searches. Both APIs share data in the JSON-LD format. JSON-LD means you can treat the information as simple JSON data, or you can parse it as RDF for Linked Data applications. Open Context supplements these primary JSON APIs with secondary APIs (<a href="#oai-pmh">see below</a>) oriented around XML-data.</p>

<p>The general goal of the search/query/faceted-browse API is to provide clients with links described with useful information to:</p>

<ul>
    <li>Change state (further filter Open Context)</li>
    <li>Get useful numeric summaries of filtered sets of Open Context records</li>
</ul>

<p>This is all built on a model of faceted search / faceted browsing. In faceted search, the service returns information that summarizes a collection according to different metadata facets. This is the main way data in Open Context can be understood in aggregate.</p>

<p>Open Context's approach of exposing metaddata as links that you can follow provides a uniform interface for otherwise very diverse data. This common method allows a client or user to discover metadata links common across multiple projects or links of attributes specific to a single project. The aim of this common method is to help to simplify accessing, querying, and analyzing a wide variety of data.</p>

<br/>
<h4>Overview of Search and Query Services</h4>

<p>Open Context has a variety of query services for different types of content. These all use the same query syntax and, if desired, will return JSON using the same schema. The different query services are as follows:</p>
<ul class="sep-list">
    <li><strong>Data Records ('subjects')</strong>: For searching the subjects of observation and recording (the main 'data' in Open Context, start search requests with the following URL:<br/>
        <samp><a href="{{ base_url}}/subjects-search/" target="_blank">{{ base_url}}/subjects-search/</a></samp>
    </li>
    <li><strong>Media Resources</strong>: For searching metadata about media (images, videos, and other binary media formats) in Open Context, start search requests with the following URL:<br/>
        <samp><a href="{{ base_url}}/media-search/" target="_blank">{{ base_url}}/media-search/</a></samp>
    </li>
    <li><strong>Projects</strong>: For searching project metadata and abstracts in Open Context, start search requests with the following URL:<br/>
        <samp><a href="{{ base_url}}/projects-search/" target="_blank">{{ base_url}}/projects-search/</a></samp>
    </li>
    <li><strong>Everything</strong>: For all inclusive searches of all content types in Open Context, start search requests with the following URL:<br/>
        <samp><a href="{{ base_url}}/search/" target="_blank">{{ base_url}}/search/</a></samp>
    </li>
</ul>


<div id="oai-pmh">
    <div style="padding-top: 50px;">
        <h4>Other Web Services and APIs</h4>
        <div class="row">
            <div class="col-sm-10">
                <div class="media">
                    <div class="media-left media-top">
                        <img style="" src="{{ base_url }}/static/oc/images/about/open-archives-logo.gif" alt="Open Archives Initiative Logo" />
                    </div>
                    <div class="media-body">
                        <p>Open Context provides an Open Archives Initiative Protocol for Metadata Harvesting
                           (OAI-PMH) endpoint. Many digital library systems, repositories and aggregators
                           of scholarly content support this type of service.
                        </p>
                        <p>Open Context's OAI-PMH service endpoint is located here:
                            <samp><a href="{{ base_url }}/oai/" target="_blank">{{ base_url }}/oai/</a></samp>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="atom-manifest">
    <div style="padding-top: 60px; padding-bottom:20px;">
        <div class="row">
            <div class="col-sm-10">
                <div class="media">
                    <div class="media-left media-top">
                        <img style="width: 100px;" src="{{ base_url }}/static/oc/images/about/feed-noun-89519.png" alt="Feed Icon" />
                    </div>
                    <div class="media-body">
                        <p>Open Context provides a feed using the <a href="https://tools.ietf.org/html/rfc4287" target="_blank">Atom Syndication Format</a>.
                           This paged feed provides a list (manifest) of URI-identified content published by Open Context
                           and metadata describing these content.
                           The feed lists these resources ordered by most recently updated records first.
                           Digital libraries and other systems can crawl this
                           feed to accession content from Open Context.
                        </p>
                        <p>Open Context's manifest feed is located here:
                            <samp><a href="{{ base_url }}/manifest/.atom" target="_blank">{{ base_url }}/manifest/.atom</a></samp>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if base_url != 'http://opencontext.org' %}

<br/>
<h4>Caveats</h4>
<p>Currently, Open Context supports "read-only" APIs and does not allow methods for posting or otherwise modifying data. Also, you are currently using mirror instance of Open Context. The JSON data will contain URIs to content at <samp>http://opencontext.org/</samp>, where the cannonical version of Open Context is running. In order to derefernce these
identifiers using this current host, substitute references to <samp>http://opencontext.org/</samp> with the current host <samp>{{ base_url }}/</samp>.
{% else %}

<br/>
<h4>Caveats</h4>
<p>Currently, Open Context supports "read-only" APIs and does not allow methods for posting or otherwise modifying data. We plan on integrating Open Context directly with field data collection systems like <a href="http://www.fedarch.org/" target="_blank">FAIMS</a>.</p>

{%endif%}


<h5 style="margin-top: 120px;">Icon Credits</h5>
<div class="row">
    <div class="col-sm-12">
        <small>Gears icon by <a target="_blank" href="https://thenounproject.com/term/gears/1063/">Jeremy Minnick</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
    </div>
</div>
