<h3>Query API: Facets</h3>
                                
<p>Facets represent one of the most important and useful types of information provided by the Query API. Open Context's query API provides different kinds of facets as follows:</p>

<ul>
    <li>Geospatial region facets as GeoJSON features (see GeoJSON discussion)</li>
    <li>Chronological (time-span) facets</li>
    <li>Range facets (for numerical or date ranges) and numeric searches</li>
    <li>Classification facets for searching by controlled vocabulary concepts</li>
</ul>

<p>Each type of facet has a list of query options that can further constrain your search. The <samp>id</samp> attribute-key provides a link to the HTML (if not using content negotiation) search option, and the <samp>json</samp> attribute-key provides a link to the JSON representation of the search option. Finally, the <samp>count</samp> attribute-key provides a count of the frequency that facet option appears in the filtered set of data.</p>

<table class="table">
    <thead>
        <th class="col-sm-3">Type of Facet</th>
        <th class="col-sm-9">Definition and Examples</th>
    </thead>
    <tbody>
        <tr>
            <th>
                <samp>oc-api:has-form-use-life-ranges</samp>
            </th>
            <td>
                <p>These are hierarchically organized time-spans for dates in the past. Since the algorithm (<a target="_blank" href="http://www.slideshare.net/dinaa_proj/kansa-saa2014poster">described here</a>) used to compute these facets needs a fixed reference point, the latest possible date in these time-spans is 1950. The <samp>start</samp> and <samp>stop</samp> attribute keys describe dates in years BCE / CE, with BCE dates as negative values. In way that's similar to the geo-region facets described above, you can control the level of chronological aggregation to your requests by adding the <samp>chronodeep</samp> query parameter to request URLs.</p>
                <ol>
                    <li>More aggregated (coarse) chronology data at <samp>chronodeep=16</samp>, the default level, as <a target="_blank" title="Level 16 aggregation" href="{{ base_url }}/subjects-search/.json?chronodeep=16">JSON-LD</a></li>
                    <li>Less aggregated (fine-grain) chronology data at <samp>chronodeep=32</samp>, the maximum precision, as <a target="_blank" title="Level 32 aggregation" href="{{ base_url }}/subjects-search/.json?chronodeep=32">JSON-LD</a></li>
                </ol>
                
                <p>Usually, the facet count will be the same as the number of records returned if you execute the search option, but that is not always the case for chronological facets. Items in Open Context (especially archaeological sites) can have multiple time spans of use. A chronological facet count reflects the number of times a particular time-span bucket is filled. A single record of an archaeological site can fill multiple time-span buckets. This sometimes makes facet counts for time-spans a close approximation rather than an exact match of filtering by a particular time-span.</p>
                
            </td>
        </tr>
        <tr>
            <th>
                <samp>oc-api:has-facets</samp>
            </th>
            <td>
                <p>These are hierarchically organized descriptive predicates and controlled vocabulary concepts that Open Context exposes to guide searches. Diferent metadata facets have some descriptive information and come with lists of options that can be used to further filter the search. There are four types of option lists for faceted searching:</p>
                <ol>
                    <li><samp>oc-api:has-id-options</samp>: options in this list are concepts identified by URIs. The <samp>rdfs:isDefinedBy</samp> predicate indicates the URI for the concept defining the particular search filter.</li>
                    <li><samp>oc-api:has-numeric-options</samp>: these options describe records numerically. Selecting one of these options will request numeric range data associated with the option.</li>
                    <li><samp>oc-api:has-date-options</samp>: these options describe records with (recent) calendric date information. Selecting one of these options will request calendric range data associated with the option.</li>
                    <li><samp>oc-api:has-text-options</samp>: these options include fields that describe records with unstructured text (not controlled vocabularies). Selecting one of these options will request a full-text search template for this field.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <th>
                <samp>oc-api:has-numeric-facets</samp>
            </th>
            <td>
                <p>These facets summarize the current set of search results according to a given numeric property. The minimum value (<samp>oc-api:min</samp>) and the maximum value (<samp>oc-api:max</samp>) give the total range of values for the records defined by the current search filters. In addition, the <samp>oc-api:has-range-options</samp> list quantifies the number of records in different numeric ranges. These can be visualized to make histograms of summarizing all of the records for a search according to this numeric property. The example below describes two numeric range options:</p>
                
                <ul class="code-samp">
                    <li><samp>"oc-api:has-range-options": [</samp></li>
                    <li>
                        <ul class="code-samp">
                            <li><samp>{</samp></li>
                            <li>
                                <ul class="code-samp">
                                    <li><samp>"id": "<a href="{{ base_url }}/subjects-search/?prop=24-bd---%5B3.79+TO+10.850999999999999+%5D&proj=24-murlo" target="_blank">{{ base_url }}/subjects-search/?prop=24-bd---%5B3.79+TO+10.850999999999999+%5D&proj=24-murlo</a>",</samp></li>
                                    <li><samp>"json": "<a href="{{ base_url }}/subjects-search/.json?prop=24-bd---%5B3.79+TO+10.850999999999999+%5D&proj=24-murlo" target="_blank">{{ base_url }}/subjects-search/.json?prop=24-bd---%5B3.79+TO+10.850999999999999+%5D&proj=24-murlo</a>",</samp></li>
                                    <li><samp>"label": "3.79",</samp></li>
                                    <li><samp>"count": 68,</samp></li>
                                    <li><samp>"oc-api:min": 3.79,</samp></li>
                                    <li><samp>"oc-api:max": 10.850999999999999</samp></li>
                                </ul>
                            </li>
                            <li><samp>},</samp></li>
                        </ul>
                        <ul class="code-samp">
                            <li><samp>{</samp></li>
                            <li>
                                <ul class="code-samp">
                                    <li><samp>"id": "<a href="{{ base_url }}/subjects-search/?prop=24-bd---%5B10.850999999999999+TO+17.912+%5D&proj=24-murlo" target="_blank">{{ base_url }}/subjects-search/?prop=24-bd---%5B10.850999999999999+TO+17.912+%5D&proj=24-murlo</a>",</samp></li>
                                    <li><samp>"json": "<a href="{{ base_url }}/subjects-search/.json?prop=24-bd---%5B10.850999999999999+TO+17.912+%5D&proj=24-murlo" target="_blank">{{ base_url }}/subjects-search/.json?prop=24-bd---%5B10.850999999999999+TO+17.912+%5D&proj=24-murlo</a>",</samp></li>
                                    <li><samp>"label": "10.851",</samp></li>
                                    <li><samp>"count": 124,</samp></li>
                                    <li><samp>"oc-api:min": 10.850999999999999,</samp></li>
                                    <li><samp>"oc-api:max": 17.912</samp></li>
                                </ul>
                            </li>
                            <li><samp>},</samp> ... </li>
                        </ul>
                    </li>
                    <li><samp>]</samp></li>
                </ul>
                <p>Open Context simply uses Solr query syntax for numeric queries. In the first example above, the query term for the numeric range filter is <samp>[3.79 TO 10.850999999999999]</samp> (URL-encoded). You can substitute that term with any valid Solr numeric query.</p>
            </td>
        </tr>
        <tr>
            <th>
                <samp>oc-api:has-date-facets</samp>
            </th>
            <td>
                <p>These facets summarize the current set of search results according to a given calendric property. They work in a very similar way to the numeric facets described above. One can also use valid Solr syntax to query against calendric properties.</p>
            </td>
        </tr>
    </tbody>
</table>