{% extends 'about/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Coming Soon</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img style="height: 260px;" src="{{ base_url }}/static/oc/images/about/recipe-icon-noun-82540.svg" alt="Recipe Icon" />
                </div>
                <div class="col-sm-1">
                
                </div>    
                <div class="col-sm-8">
                    <h2>Temporary Holding Page</h2>
                    <p>We are still working on this part of Open Context's upgrade.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12" style="min-height: 800px;">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>Recipe icon by <a target="_blank" href="http://thenounproject.com/term/recipe/82540/">Shane David Kenna</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
    </div>
    
{% endblock %} 
