{% extends 'item.html' %}


{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-12">
         {% include 'items/context.html' %}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'items/observations.html' %}
                </div>
            </div>
            {% if item.children != False %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="outer-contents">
                {% if item.use_accordions %}
                    {% with idprefix='children' %}
                    {% with do_multitab_top_panel=item.contents_top %}
                    {% with idnum=1 %}
                    {% with idsuffix='con' %}
                    {% with panel_label='Contents' %}
                    {% with panel_label_suffix=item.children.children|length %}
                    {% include 'items/accordion-group-panel-start.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% with subjects_list=item.children.children %}
                    {% with col_num=3 %}
                    {% with icon_grid_with=1 %}
                    {% with text_grid_with=3 %}
                    {% include 'items/subjects-list.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% include 'items/accordion-group-panel-end.html' %}
                {%else%}
                    {% with subjects_list=item.children.children %}
                    {% with node_id=item.children.id %}
                    {% with panel_label='Contents' %}
                    {% with do_multitab_top_panel=item.contents_top %}
                    {% with panel_label_suffix=item.children.children|length %}
                    {% with col_num=3 %}
                    {% with icon_grid_with=1 %}
                    {% with text_grid_with=3 %}
                    {% with show_header=True %}
                    {% include 'items/children-panel.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {%endif%}
                    </div>
                </div>
            </div>
            {%endif%}
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         {% include 'items/license.html' %}
         </div>
     </div>
</div>
{% endblock %} 
