
    <!-- Map Javascript and CSS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuhr3tCQOxbGxnOki11vuvDB86-sxjHwo" async defer></script>
    <link rel="stylesheet" href="{{ base_url }}/static/leaflet/version-1/leaflet.css" />
    <script src="{{ base_url }}/static/leaflet/version-1/leaflet.js"></script>
    <script src="{{ base_url }}/static/oc/js/mapping-rev/GoogleMutant.js"></script>
    <script src="{{ base_url }}/static/oc/js/mapping-rev/oc-leaflet-hash.js"></script>
    <script src="{{ base_url }}/static/oc/js/mapping-rev/oc-zoombox.js"></script>
    <link rel="stylesheet" href="{{ base_url }}/static/oc/js/mapping-rev/oc-zoombox.css" />
    <script src="{{ base_url }}/static/oc/js/mapping-rev/oc-easy-button.js"></script>  
    <script src="{{ base_url }}/static/oc/js/oc-utilities.js"></script>
    <script src="{{ base_url }}/static/oc/js/numeric-styling.js"></script>
    <script type="text/javascript">
        var map_box_token = "pk.eyJ1IjoiZWthbnNhIiwiYSI6IlZFQ1RfM3MifQ.KebFObTZOeh9pDHM_yXY4g";
    </script>
    
    <!-- End of General Map Javascript and CSS -->

