{% load humanize %}
{% if st.facets|length > 0 %}
    <h3>Filtering Options</h3>
    <div class="panel-group" id="acc-facets">
    {% for f_field in st.facets %}
        {% for op_type in f_field.option_types %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="pull-right panel-title" id="opts-control-{{ f_field.id }}-{{ op_type }}">
                        <a class="or-options-toggle" id="opts-show-{{ f_field.id }}-{{ op_type }}"
                           onclick="oc_facets.show_options('{{ f_field.id }}', '{{ op_type }}');" title="Select multiple options">
                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        </a>
                        <a style="display:none;" id="opts-do-{{ f_field.id }}-{{ op_type }}"
                           class="text-primary"
                           onclick="oc_facets.search_options('{{ f_field.id }}', '{{ op_type }}');" title="Search selected options">
                            <span class="glyphicon glyphicon-search text-primary" aria-hidden="true"></span>
                        </a>
                    </h4>
                    <h4 class="panel-title">
                        <a class="text-left" data-toggle="collapse" data-parent="#acc-facets" href="#panel-{{ f_field.id }}-{{ op_type }}">
                            <span class="glyphicon glyphicon-resize-vertical"></span>
                            {% if op_type == 'numeric' %}
                                Numeric {{ f_field.label }}
                            {% elif op_type == 'date' %}
                                Date {{ f_field.label }}
                            {% elif op_type == 'string' %}
                                Text {{ f_field.label }}
                            {% else %}
                                {{ f_field.label }}
                            {%endif%}
                        </a>
                    </h4>
                </div>
                {% if forloop.counter == 1 and f_field.facet_field_index == 1 %} 
                <div id="panel-{{ f_field.id }}-{{ op_type }}" class="panel-collapse collapse in">
                {%else%}
                <div id="panel-{{ f_field.id }}-{{ op_type }}" class="panel-collapse collapse">
                {%endif%}
                    <div id="all-m-ops-{{ f_field.id }}-{{ op_type }}"></div>
                    <ul class="list-group f-opt-list" id="s-ops-{{ f_field.id }}-{{ op_type }}">
                    {% if op_type == 'id' and f_field.id_options|length > 0 %} 
                    {% for group_label, options in f_field.fg_id_options.items %}
                    {% if options|length > 0 %}
                        {% if f_field.show_group_labels %}
                        {% if forloop.counter == 1 %}
                        <li class="list-group-item list-group-item-info f-sub-group">
                        {%else%}
                        <li class="list-group-item list-group-item-info f-sub-group">
                        {%endif%}
                            <small><strong>{{ group_label }}</strong></small>
                        </li>
                        {% endif %}
                        {% for option in options %}
                            {% with dom_id=option.dom_id %}
                            {% with href=option.id %}
                            {% with label=option.label %}
                            {% with opt_count=option.count %}
                            {% with defined_by=option.defined_by %}
                            {% with l_count=forloop.counter %}
                            {% with field_id=f_field.id %}
                            {% with op_type=op_type %}
                            {% include 'search/facet-option.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% elif op_type == 'numeric' and f_field.numeric_options|length > 0 %} 
                        {% for option in f_field.numeric_options %}
                            {% with dom_id=option.dom_id %}
                            {% with href=option.id %}
                            {% with label=option.label %}
                            {% with opt_count=option.count %}
                            {% with defined_by=option.defined_by %}
                            {% with l_count=forloop.counter %}
                            {% with field_id=f_field.id %}
                            {% with op_type=op_type %}
                            {% include 'search/facet-option.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% elif op_type == 'date' and f_field.date_options|length > 0 %} 
                        {% for option in f_field.date_options %}
                            {% with dom_id=option.dom_id %}
                            {% with href=option.id %}
                            {% with label=option.label %}
                            {% with opt_count=option.count %}
                            {% with defined_by=option.defined_by %}
                            {% with l_count=forloop.counter %}
                            {% with field_id=f_field.id %}
                            {% with op_type=op_type %}
                            {% include 'search/facet-option.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% elif op_type == 'string' and f_field.string_options|length > 0 %} 
                        {% for option in f_field.string_options %}
                            {% with dom_id=option.dom_id %}
                            {% with href=option.id %}
                            {% with label=option.label %}
                            {% with opt_count=option.count %}
                            {% with defined_by=option.defined_by %}
                            {% with l_count=forloop.counter %}
                            {% with field_id=f_field.id %}
                            {% with op_type=op_type %}
                            {% include 'search/facet-option.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {%else%}
                        <!-- That's weird -->
                    {%endif%}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
            
    <script type="text/javascript" src="{{ base_url }}/static/oc/js/apis/opencontext-facets.js"></script>
    <script>
        var oc_facets = new OpenContextFacetsAPI();
    </script>       
            
            
{%endif%}


