<head>
    {% if item_type == 'subjects' %}
    <title>Open Context Data Records {{ st.start_num }} to {{ st.end_num }} of {{ st.total_count }}</title>
    {%elif item_type == 'media' %}
    <title>Open Context Media Resources {{ st.start_num }} to {{ st.end_num }} of {{ st.total_count }}</title>
    {%elif item_type == 'projects' %}
    <title>Open Context Projects {{ st.start_num }} to {{ st.end_num }} of {{ st.total_count }}</title>
    {%else%}
    <title>Open Context Search Results {{ st.start_num }} to {{ st.end_num }} of {{ st.total_count }}</title>
    {%endif%}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ base_url }}/static/oc/images/oc-favicon.ico" />

    <link rel="alternate" href="{{ json_url }}" type="application/json" />
    <link rel="alternate" href="{{ json_url }}" type="application/ld+json" />
    
    <link rel="stylesheet" href="{{ base_url }}/static/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/angularjs/abn_tree.css" />
    <link rel="stylesheet" href="{{ base_url }}/static/oc/css/general.css" />
    
    <script src="{{ base_url }}/static/jquery/jquery-1.11.1.min.js"></script>
    <script src="{{ base_url }}/static/jquery/jquery.cookie.js"></script>
    <script src="{{ base_url }}/static/jquery/ui/jquery-ui.min.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular.js"></script>
    <script src="{{ base_url }}/static/angularjs/angular-animate.js"></script>
    <script src="{{ base_url }}/static/angularjs/abn_tree_directive.js"></script>
    <script src="{{ base_url }}/static/bootstrap/3.3.4/js/bootstrap.js"></script>
    
    {% include 'mapping/headmap.html' %}
    
    <script src="{{ base_url }}/static/oc/js/mapping-rev/search-mapping.js"></script>
    
    {% if item_type == 'projects' %}
    <script src="{{ base_url }}/static/oc/js/project-mapping.js"></script>
    {%else%}
    <script src="{{ base_url }}/static/oc/js/datavis/human-remains.js"></script>
    {%endif%}
</head>
