{% load humanize %}
{% if st.geo_records|length > 0 %}
    
    <div class="panel panel-default" id="acc-geo-recs">
        <nav class="navbar navbar-default top-search">
            <div class="container-fluid">
                <div class="col-xs-8">
                <div class="navbar-header">
                    <h3>Project List {{ st.start_num }} to {{ st.end_num }} of {{ st.total_count|intcomma }}
                    </h3>
                </div>
                </div>
                <div class="col-xs-4 ">
                {% include 'search/paging.html' %}
                </div>
            </div>
        </nav>
         
        <div id="panel-geo-recs">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-2">
                                Project Label
                            </th>
                            <th class="col-xs-2">
                                Date and Editorial Status
                            </th>
                            <th class="col-xs-2">
                                Lead Persons
                            </th>
                            <th class="col-xs-5">
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                {% for proj_rec in p_aug.records %}
                    {% with proj_rec=proj_rec %}
                    {% include 'search/projects-record.html' %}
                    {% endwith %}
                {% endfor %}
                    </tbody>
                </table>
                <nav class="navbar navbar-default lower-search">
                    <div class="container-fluid">
                        <div class="col-xs-8">
                            
                        </div>
                        <div class="col-xs-4 ">
                        {% include 'search/paging.html' %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    
{%endif%}


