{% load humanize %}
<tr>
    <td>
        <a href="{{ proj_rec.href }}" target="_blank">{{ proj_rec.label }}</a>
    </td>
    <td>
        <p>{{ proj_rec.published }}</p>
        <p>
        {% block editorial-status %}
        {% with label=item.project.label %}
        {% with edit_status=proj_rec.extra.edit_status %}
        {% with label_status=True %}   
        {% include 'items/editorial-symbols.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endblock %}
        </p>
    </td>
    <td>
        {% if proj_rec.dc.creator|length > 0 %}
        {% for o_rec in proj_rec.dc.creator %}
            {% if forloop.last %}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>
            {%else%}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>,     
            {% endif %}
        {% endfor %}
        {%else%}
        [Still in development]
        {%endif%}
    </td>
    <td>
        <p>{{ proj_rec.extra.short_des }}</p>
        {% if proj_rec.snippet != False %}
            <p>
                <small>...{% autoescape off %}{{ proj_rec.snippet }}{% endautoescape %}...</small>
            </p>
        {%endif%}
        
        {% if proj_rec.dc.meta|length > 0 %}
        <div class="small">
            <p><strong>Descriptive Metadata</strong><br/>
        {% for o_rec in proj_rec.dc.meta %}
            {% if forloop.last %}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>
            {%else%}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>,     
            {% endif %}
        {% endfor %}
            </p>
        </div>
        {%endif%}
    
        {% if proj_rec.dc.temporal|length > 0 %}
        <div class="small">
            <p><strong>Defined Periods</strong><br/>
        {% for o_rec in proj_rec.dc.temporal %}
            {% if forloop.last %}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>
            {%else%}
            <a target="_blank" href="{{ o_rec.href }}">{{ o_rec.label }}</a>,     
            {% endif %}
        {% endfor %}
            </p>
        </div>
        {%endif%}
    </td>
</tr>
