
<div class="well well-sm">
<h4>About this Search</h4>
<p class="small">This search includes primary data records,
as well as supplemental media, documents, and classification terms. Click the button below
to limit your search to primary data only. Searches of primary data have additional download
and visualization options.</p>

<a class="btn btn-info btn-block" role="button"
   href="{{ st.subjects_link }}">
    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Data Records Only</a>

</div>