
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">About this Search</h4>
    </div>
    <div class="panel-body">
        <p class="small">This search includes primary data records,
as well as supplemental media, documents, and classification terms. Searches limited to
primary data have additional download and visualization options. Click the button below
to limit your search to primary data only. 
        </p>

    <a class="btn btn-info btn-block" role="button"
   href="{{ st.subjects_link }}">
    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Data Records Only</a>
    </div>
</div>