<!DOCTYPE html>

<html lang="en">
    {% include 'search/head.html' %}
     <body>
          <div id="main">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% include 'header.html' %}
                    {% endwith %}
                    {% with nav_items=st.nav_items %}
                    {% with act_nav='browse' %}
                    {% include 'navbar.html' %}
                    {% endwith %}
                    {% endwith %}
                    
                    {% if item_type == 'projects' %}
                        {% include 'search/projects-content.html' %}
                    {%else%}
                        {% include 'search/content.html' %}    
                    {%endif%}
                    
                    {% include 'footer.html' %}
               </div>
          </div>
     </body>
</html>