<!DOCTYPE html>

<html lang="en">
    {% include 'search/head.html' %}
     <body>
          <div id="main">
               <div class="container-fluid">
                    <table class="table">
                         {% for key, val in search.json_result.items %}
                         <tr>
                             <td>{{key}}</td>
                             <td>{{val}}</td> 
                         </tr>
                         {% endfor %}
                     </table>
               </div>
          </div>
     </body>
</html>