<!DOCTYPE html>

<html lang="en">
    {% include 'index/head.html' %}
     <body>
          <div id="main">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% include 'header.html' %}
                    {% endwith %}
                    {% with nav_items=nav_items %}
                    {% with act_nav='home' %}
                    {% include 'navbar.html' %}
                    {% endwith %}
                    {% endwith %}
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Server Error (500)</h1>
                        </div>
                        <div class="col-sm-12" style="min-height:400px;">
                            <p>We're still in an intial phase of development. Sorry for the server error!</p>
                        </div>
                    </div>
                    
                    {% include 'footer.html' %}
               </div>
          </div>
     </body>
</html>
