<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns#">
     {% include '../bootstrap_vue/head.html' %}
     <body>
          {% with nav_items=item.nav_items %}
          {% with act_nav=item.act_nav %}
          {% include '../bootstrap_vue/navbar.html' %}
          {% endwith %}
          {% endwith %}

          <div id="page">
               <div class="container-fluid">
                    {% with page_label='' %}
                    {% endwith %}
                    {% block itemcontent %}
                    {% endblock %}
               </div>
          </div>
          {% include ''../bootstrap_vue/page_footer.html' %}
     </body>
</html>
