{% block piwik %}
    {% with nav_items|first as first_nav %}
	<!-- Piwik -->
	<!--
	id: {{ first_nav.PIWIK_SITE_ID }}
	domain: {{ first_nav.PIWIK_DOMAIN_PATH }}
	-->
		{% if first_nav.PIWIK_SITE_ID > 0 %}
			{% if first_nav.PIWIK_DOMAIN_PATH is not False %}
			
			<script type="text/javascript">
			  var _paq = _paq || [];
			  _paq.push(['trackPageView']);
			  _paq.push(['enableLinkTracking']);
			  (function() {
				var u="//{{ first_nav.PIWIK_DOMAIN_PATH }}/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '{{ first_nav.PIWIK_SITE_ID }}']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			  })();
			</script>
			<noscript><p><img src="//{{ first_nav.PIWIK_DOMAIN_PATH }}/piwik.php?idsite={{ first_nav.PIWIK_SITE_ID }}" style="border:0;" alt="" /></p></noscript>
			<!-- End Piwik Code -->	
			{%endif%} 
		{%endif%}
	{%endwith%}
{% endblock %}