{% block citation %}
    <div id="area-citation" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Suggested Citation</h3>
        </div>
        <div class="panel-body" id="citation">
            {{ item.cite_authors }}. "<span id="item-title">{{ item.exp_tab.label }}</span>". ({{ item.cite_year }})
            {% if item.cite_projects != False %}
                From <em>{{ item.cite_projects  }}</em>. 
            {%endif%}
            Edited or directed by: {{ item.cite_editors }}. Released: {{ item.cite_released }}.
            Open Context. &lt;<span id="item-uri" class="uri">{{ item.cite_uri }}</span>&gt;
            {% if item.doi != False %}
                DOI: <span class="uri">{{ item.doi }}</span>
            {%endif%}
            {% if item.ark != False %}
                ARK (Archive): <span class="uri">{{ item.ark }}</span>
            {%endif%}
        </div>
        <script type="text/javascript">
            <!-- style slashes in titles a bit -->
            var cite_title = document.getElementById("item-title");
            cite_title.innerHTML = cite_title.innerHTML.split('/').join( '<span class="title_sep">/</span>');
        </script>
    </div>
{% endblock %}
