
{% if item.sample_rows|length > 0 %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Sample Records (1 &ndash; {{ item.sample_rows|length }} of {{ item.exp_tab.row_count }} Total Rows)</h3>
        
        <div class="table-responsive">
            <div id="double-scroll-div">
                <table class="table table-condensed table-hover table-bordered table-striped">
                    {% include 'tables/fields.html' %}
                    <tbody>
                    {% for row in item.sample_rows %}    
                    <tr>
                        {% for cell in row %}
                        <td class="sample_rec"> 
                            {% autoescape off %}
                                {{ cell }}
                            {% endautoescape %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ base_url }}/static/jquery/jquery.doubleScroll.js"></script>

<style type="text/css">
    #double-scroll-div {
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#double-scroll-div').doubleScroll({resetOnWindowResize: true});
    });
</script>
{%endif%}
