{% extends 'tables/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-md-8">
                
                <div class="well well-sm">
                    <div class="media">
                        <div class="media-left media-middle">
                          <img style="height: 75px;" class="media-object"
                                src="{{ base_url }}/static/oc/images/noun-icons-small/table-noun-4305.png"
                                alt="Table Icon" />
                        </div>
                        <div class="media-body">
                            <div style="padding-left: 15px;">
                                <h2 style="margin-top:-4px;">Table Download</h2>
                                <h3 style="margin-top:-8px;">{{ item.exp_tab.label }}</h3>
                                {% if item.short_des != False %}
                                <p>{{ item.short_des }}</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="well well-sm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <dl class="dl-horizontal" style="padding-top:10px;">
                                    <dt >Title</dt>
                                    <dd>{{ item.exp_tab.label }}</dd>
                                
                                    <dt>Number of Fields</dt>
                                    <dd>{{ item.exp_tab.field_count }}</dd>
                                
                                    <dt>Number of Rows</dt>
                                    <dd>{{ item.exp_tab.row_count }}</dd>
                                
                                    {% if item.abstract != False %}
                                    <dt>Description</dt>
                                    <dd>
                                        <div>
                                        {% autoescape off %}
                                        {{ item.abstract }}
                                        {% endautoescape %}
                                        </div>
                                    </dd>
                                    {%endif%}
                                
                                    {% if item.projects_list|length > 0 %}
                                    <dt>{% if item.projects_list|length > 1 %}
                                        Source Projects
                                        {%else%}    
                                        Source Project
                                        {%endif%}
                                    </dt>
                                    <dd>{% for proj in item.projects_list %} 
                                    {% if forloop.counter == 1 %}{%else%}, {%endif%}
                                    <a href="{% url 'projects_html' proj.uuid %}" target="_blank">{{ proj.label }}</a>
                                    ({{ proj.count }})
                                    {% endfor %}
                                    </dd>
                                    {%endif%}    
                                </dl>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="small">Note: The Open Context upgrade is still in progress.
                                In the near future, we will provide a faceted search function for
                                browsing downloadable data tables and we will provide rich metadata
                                and version control information about these tables.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
            <div class="col-md-4">

                {% if item.csv_url != False %}
                <div style="margin-bottom:20px; min-width:245px;"> 
                <a role="botton"
                   class="btn btn-primary btn-lg btn-block" href="{{ item.csv_url }}"
                   target="_blank">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                            Download CSV ({{ item.csv_size_human }})</a>
                </div>
                {%else%}
                <div style="margin-bottom:20px; min-width:245px;"> 
                <a role="botton"
                   class="btn btn-primary btn-lg btn-block" href="{{ base_url }}/tables/{{ item.public_table_id }}.csv"
                   target="_blank">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                            Download CSV</a>
                </div>
                {%endif%}
                
                {% include 'tables/citation.html' %}
                {% include 'items/license.html' %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12" style="min-height: 800px;">
                {% include 'tables/sample-rows.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>Recipe icon by <a target="_blank" href="http://thenounproject.com/term/recipe/82540/">Shane David Kenna</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
    </div>
    
{% endblock %} 
