{% block item-geo-chrono %}


<div class="modal fade bs-example-modal-lg" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="event-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="event-modal-title">Event Modal title</h4>
            </div>
            <div class="modal-body" id="event-modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer" id="event-modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="event-modal-foot-button" onclick="">Action</button>
            </div>
          </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% with top_panel_num=2 %} <!-- so this is treated as a top-panel, css shoving it up -->
{% with idprefix='geo-chrono' %}
{% with idnum=1 %}
{% with idsuffix='event' %}
{% with panel_label='Edit Geospatial and Chronological Data' %}
{% with panel_label_suffix=False %}
{% include 'items/accordion-group-panel-start.html' %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="row" style="padding-bottom:3%;">
    <div class="col-sm-2">
        <button type="button" class="btn btn-info" onclick="javascript:addEventForm();">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Add Data
        </button>
    </div>
    <div class="col-sm-4">
        <small>Shows a form to mannually input geospatial and / or chronological data for this item.</small>    
    </div>
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-3">
        
    </div>
</div>


<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th class="col-sm-1">Action</th>
            <th class="col-sm-1">ID</th>
            <th class="col-sm-10">Data</th>
        </tr>
    </thead>
    <tbody id="event-list">
        
    </tbody>
</table>

{% include 'items/accordion-group-panel-end.html' %}


{% endblock %}