{% block item-context %}




<div class="modal fade" id="contextModal" tabindex="-1" role="dialog" aria-labelledby="modal-small-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-small-title">Modal title</h4>
            </div>
            <div class="modal-body" id="modal-small-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer" id="modal-small-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="modal-small-foot-button" onclick="">Action</button>
            </div>
          </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    
{% with top_panel_num=2 %} <!-- so this is treated as a top-panel, css shoving it up -->
{% with idprefix='par' %}
{% with idnum=1 %}
{% with idsuffix='context' %}
{% with panel_label='Edit Context' %}
{% with panel_label_suffix=False %}
{% include 'items/accordion-group-panel-start.html' %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th class="col-sm-2">Action</th>
            <th class="col-sm-5">Parent Context</th>
            <th class="col-sm-5">Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-warning" onclick="javascript:removeParent();">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Unlink
                </button>
            </td>
            <td>
                {% for par in item.context.parents %}
                    {% if forloop.last %}
                        {{ par.label }}
                        <br/>
                        <a href="{% url 'edit_item_html_view' par.uuid %}" target="_blank">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            <code id="parent-uuid">{{ par.uuid }}</code>
                        </a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <small>Subjects items exist in spatial containment relationships. By clicking the 'Unlink' botton,
                you remove this item from its parent context. This does not delete the item or delete the parent.</small>
            </td>
        </tr>
        <tr>
            <td>
                <button id="change-parent-button" type="button" class="btn btn-warning" onclick="javascript:changeParent();" disabled="disabled">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    Change
                </button>
            </td>
            <td id="sel-parent-entities">
                
            </td>
            <td>
                <small>Choose another item to select a different parent.</small>
            </td>
        </tr>
    </tbody>
</table>
{% include 'items/accordion-group-panel-end.html' %}


{% with top_panel_num=1 %} <!-- so this is treated as a top-panel, css shoving it up -->
{% with idprefix='child' %}
{% with idnum=1 %}
{% with idsuffix='context' %}
{% with panel_label='Edit Contents' %}
{% with panel_label_suffix=item.children.children|length %}
{% include 'items/accordion-group-panel-start.html' %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
<div class="row" style="padding-bottom:3%;">
    <div class="col-sm-2">
        <button type="button" class="btn btn-info" onclick="javascript:containSortDialog();">
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            Resort Children
        </button>
    </div>
    <div class="col-sm-4">
        <small>Resorts child items GLOBALLY for the entire project. Resorting is based on label and category.</small>    
    </div>
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-3">
        
    </div>
</div>

<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th class="col-sm-3">Actions</th>
            <th class="col-sm-4">Child Context</th>
            <th class="col-sm-5">Note</th>
        </tr>
    </thead>
    <tbody>
        <div id="contents-list">
        {% if item.children != False %}
        {% if item.children.children|length > 0 %}
        {% for row in item.children.children    %}
            <tr>
                <td>
                    
                </td>
                <td>
                    <div class="row subject-list-row">
                        <div class="col-sm-2">
                            <a target="_blank" href="{% url 'subjects_html' row.uuid %}"><img src="{{ row.icon }}" alt="Icon for {{ row.typelabel }}"/></a>
                        </div>    
                        <div class="col-sm-10">
                            <div class="subject-list-text">
                                <a target="_blank" href="{% url 'subjects_html' row.uuid %}">{{ row.label }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
                <td>
                    <div class="subject-list-text">
                                <a href="{% url 'edit_item_html_view' row.uuid %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    [Edit: <code>{{ row.uuid }}</code>]
                                </a>
                            </div>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        {% endif %}
        </div>
    </tbody>
</table>

{% include 'items/accordion-group-panel-end.html' %}

{% endblock %}