{% block item-create %}
<div style="margin-top:0px;">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create New Items</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                <li>
                    <a href="javascript:showCreateItemInterface('projects');">{% autoescape off %}{{ icons.projects }}{% endautoescape %} Project / Collection</a>
                </li>
                <li>
                    <a href="javascript:showCreateItemInterface('media');">{% autoescape off %}{{ icons.media }}{% endautoescape %} Media (Image, video, etc.)</a>
                </li>
                <li>
                    <a href="javascript:showCreateItemInterface('persons');">{% autoescape off %}{{ icons.persons }}{% endautoescape %} Person / Organization</a>
                </li>
                <li>
                    <a href="javascript:showCreateItemInterface('predicates');">{% autoescape off %}{{ icons.predicates }}{% endautoescape %} Property (Predicate)</a>
                </li>
                <li>
                    <a href="javascript:showCreateItemInterface('types');">{% autoescape off %}{{ icons.types }}{% endautoescape %} Category / Type</a>
                </li>
                <li>
                    <a href="javascript:showCreateItemInterface('profiles');">{% autoescape off %}{{ icons.profiles }}{% endautoescape %} Data Entry Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Javascript for icons -->
    <script type="text/javascript">
    <!--
    var icons = {
    {% for key,val in icons.items %}
        {{ key }}: '{% autoescape off %}{{ val }}{% endautoescape %}',
    {% endfor %}
    };    
    -->
    </script>
    
    <!-- Javascript for creating items -->
    <script src="{{ base_url }}/static/oc/js/edit/item-create.js"></script>
    
</div>
{% endblock %}