{% block item-basic %}
<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <h4 class="panel-title">Edit Basic Item Data</h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-8">Attributes</th>
                    <th class="col-sm-4">Note</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}