{% block item-description %}
<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <h4 class="panel-title">Edit Description</h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-sm-1">Update</th>
                    <th class="col-sm-2">Property</th>
                    <th class="col-sm-9">Values</th>
                </tr>
            </thead>
            <tbody id="obs-fields">
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}