{% block item-basic %}  

<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <h4 class="panel-title">Edit Basic Item Data</h4>
    </div>
    <div class="panel-body" id="edit-basic-fields">
        <!-- a bunch of divs for different kinds of editing fields -->
        <div id="edit-item-label-field">            
        </div>
        <div id="edit-item-label-localized">            
        </div>
        <div id="edit-item-class-field">            
        </div>
        <div id="edit-media-files">            
        </div>
        <div id="edit-document-content">            
        </div>
        <div id="edit-proj-short-des">            
        </div>
        <div id="edit-proj-abstract">            
        </div>
        <div id="edit-proj-hero">            
        </div>
        <div id="edit-proj-edit-status">            
        </div>
        <div id="edit-proj-parent">            
        </div>
        <div id="edit-person-names">            
        </div>
        <div id="edit-person-type">            
        </div>
        <div id="edit-pred-sort">            
        </div>
        <div id="edit-skos-note">            
        </div>
        <div id="edit-table-abstract">            
        </div>
    </div>
</div>
{% endblock %}