{% block item-create %}
<div style="margin-top:20px;">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create New Items</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                <li>
                    <a href="javascript:showCreateItemInterface('persons');"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Person/Organization</a>
                </li>    
            </ul>
        </div>
    </div>
    
    <!-- Javascript for creating items -->
    <script src="../../static/oc/js/edit/item-create.js"></script>
    
</div>
{% endblock %}