{% block item-create %}
<div style="margin-top:20px;">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create New Items</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                <li>
                    <a href="javascript:showCreateItemInterface('persons');"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Person/Organization</a>
                </li>    
            </ul>
        </div>
    </div>
    
    
    <!-- Modal for making create item interfaces -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body modal-lg" id="myModalBody">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Javascript for creating items -->
    <script src="../../static/oc/js/edit/item-create.js"></script>
    
</div>
{% endblock %}