{% load humanize %}
{% block proj-profiles %}
<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="panel-title">Data Entry Profiles</h4>
            </div>            
            <div class="col-sm-6 text-right">
                <h4 class="panel-title">{{ status.manifest_summary.persons|intcomma }} persons</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Useful summary information will go here
    </div>
</div>


{% endblock %}