{% load humanize %}
{% block proj-profiles %}
<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="panel-title">Data Entry Profiles</h4>
            </div>            
            <div class="col-sm-6 text-right">
                <h4 class="panel-title" id="profile-total-count">0 profiles</h4>
            </div>
        </div>
    </div>
    <div class="panel-body" id="project-profiles">
        Useful summary information will go here
    </div>
    
    <script type="text/javascript">
        <!--
        var proj_profiles = false;
        function project_profiles(){
            // loads the project input profiles
            proj_profiles = new profiles("project-profiles", project_uuid);
            proj_profiles.get_data();
        }
        -->
    </script>
    
    
</div>



{% endblock %}