{% extends 'edit/item.html' %}
<!DOCTYPE html>

{% block itemcontent %}
    <!-- BEGIN item edit general javascript includes -->
    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');
        var item_type = '{{ item.act_nav }}';
        var uuid = '{{ item.uuid }}';
        var project_uuid = '{{ item.project.uuid }}';
    </script>
    <style type="text/css">
        #fieldtabfields .ui-selecting { background: #FFFF99; }
        #fieldtabfields .ui-selected { background: #FFFF66; }
    </style>
    <!-- END of item edit javascript includes -->
    
    <div class="row">
        <div class="col-sm-12">
         {% include 'edit/context.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div id="observations">
                <ul class="nav nav-tabs" id="editTabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#edit-1">Edit Item</a></li>
                    <li><a data-toggle="tab" href="#edit-2">Context</a></li>
                    <li><a data-toggle="tab" href="#edit-3">Description</a></li>
                </ul>
                <div class="tab-content obs-multi">
                    <div id="edit-1" class="tab-pane fade in active">
                        {% include 'edit/item-basic.html' %}
                    </div>
                    <div id="edit-2" class="tab-pane fade">
                        {% include 'edit/item-context.html' %}
                    </div>
                    <div id="edit-3" class="tab-pane fade">
                        {% include 'edit/item-description.html' %}
                    </div>
                </div>
            </div>
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         </div>
         <script src="../../static/oc/js/entities/entities.js"></script>
         <script src="../../static/oc/js/entities/item-json-ld.js"></script>
         <script src="../../static/oc/js/edit/item-edit.js" onload="javascript:start();"></script>
         <script src="../../static/oc/js/edit/context-edit.js"></script>
     </div>
{% endblock %} 
