{% extends 'item.html' %}
<!DOCTYPE html>

{% block itemcontent %}
     <div class="row">
         <div class="col-sm-12">
         {% include 'items/context.html' %}
         </div>
     </div>
     <div class="row">
          <div class="col-sm-8">
               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title">Editing Permissions Required</h4>
                    </div>
                    <div class="panel-body">
                         <p>Contributors are still working on this content. It is not yet ready
                         for publication. In order to see the edit interface, you must have
                         appropriate permissions granted by Open Context editors.</p>
                         <small>Open Context pubishes all data open access and does not impose
                         a login restriction to any published content. You are seeing this message
                         because this record comes from a project not yet ready for public
                         release.</small>
                    </div>
               </div>
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         </div>
     </div>
{% endblock %} 
