{% extends 'tables/outer-page.html' %}

{% block pagecontent %}
    <style type="text/css">
        div.about-tab-all {
            min-height: 600px;
        }
        div.about-tab-all samp {
            font-weight: 700;
        }
        ul.code-samp {
            list-style-type: none;
        }
    </style>
    
    <div class="jumbotron" id="overview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Open Context Tables</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-top">
                            <img style="height: 260px; margin-top:-40px;" src="{{ base_url }}/static/oc/images/about/recipe-icon-noun-82540.svg" alt="Recipe Icon" />
                        </div>
                        <div class="media-body">
                            <div style="padding-left: 4%;">
                                <p>The Open Context upgrade is still in progress. We will provide a faceted search function for browsing downloadable data tables shortly. For the time being, please use the API to get machine-readable data from Open Context. <a href="{{ base_url }}/about/services">Click here</a> to review the API documentation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row">
            <div class="col-sm-12">
                
                <!-- end of tab content -->
            </div>
        </div>
        
    </div>
    
{% endblock %} 
