{% extends 'vocabularies/outer-page.html' %}

{% block pagecontent %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-1 col-md-1" style="margin-top:24px;">
                <img style="height: 60px;" src="{{ base_url }}/static/oc/images/noun-icons/network-noun-21268.png" alt="Network Icon" />      
            </div>
            <div class="col-xs-9 col-sm-11 col-md-11">
                <h2>{{ item.entity.label }} <br/>
                {% if item.uri != item.vocab_uri %}
                {% if item.entity.entity_type == 'property' %}
                <small>Property/Relation Concept</small>
                {%else%}
                <small>Class/Category Concept</small>
                {%endif%}
                {%else%}
                <small>Vocabulary/Ontology</small>
                {%endif%}
                </h2>
            </div>
        </div>
    </div>
    
    <style type="text/css">
        #overview dd {
            padding-bottom: 24px;
        }
    </style>
    
    <div class="container-fluid">
        <div class="row">    
            <div class="col-sm-8">
                <div class="well" id="overview">
                    <dl>
                    {% if item.uri != item.vocab_uri %}
                        <dt>Concept Label</dt>
                        <dd>{{ item.entity.label }}</dd>
                        <dt>Concept URI</dt>
                        <dd><a href="{{ item.uri }}" target="_blank">{{ item.uri }}</a></dd>
                        <dt>Definition and Comments</dt>
                        <dd>{{ item.default_comment }}</dd>
                    {% if item.vocab_entity.label %}
                        <dt>Part of the Vocabulary</dt>
                        <dd><a href="{{ item.vocab_entity.uri }}">{{ item.vocab_entity.label }}</a></dd>
                    {%endif%}
                    {%else%}
                        <dt>Vocabulary Label</dt>
                        <dd>{{ item.entity.label }}</dd>
                        <dt>Vocabulary URI</dt>
                        <dd><a href="{{ item.vocab_uri }}" target="_blank">{{ item.vocab_uri }}</a></dd>
                        <dt>Description and Comments</dt>
                        <dd>{{ item.default_comment }}</dd>
                    {%endif%}
                    {% if item.version_control_uri != False %}
                        <dt>Vocabulary Version Control</dt>
                        <dd><a href="{{ item.version_control_uri }}" target="_blank">{{ item.version_control_uri }}</a></dd>
                    {%endif%}
                    </dl>
                    <br/>
                    <div class="small">
                        <h5><u>About Open Context Vocabularies and Ontologies</u></h5>
                        <p>Open Context is currently undergoing a major software revision.
                        We have not yet implemented machine-readable representations of controlled vocabulary and ontology concepts.</p> 
                        {% if item.version_control_uri != False %}
                        <p>However, you may also follow the link to this vocabulary's version control repository to get
                        more information about this concept, and get machine-readable representations of this vocabulary expressed in RDF-XML using OWL and/or SKOS.</p>
                        {%endif%}
                    </div>
                </div>
            </div>
        
        
            <div class="col-sm-4">
            {% if item.json_tree != False or item.parents|length > 0 %}
                <style type="text/css">
                    #hierarchy-panel h5 {
                        font-weight: bold;
                    }
                    #parent-concepts {
                        margin-bottom: 48px;
                    }
                </style>
                <div class="panel panel-default" id="hierarchy-panel">
                    <div class="panel-heading">
                      <h3 class="panel-title">Concept Hierarchy</h3>
                    </div>
                    <div class="panel-body">
                        {% if item.parents|length > 0 %}
                        <div id="parent-concepts">
                        <h5>Higher-Level Concepts</h5>
                        {% for par in item.parents %}
                            <ul>
                                <li>
                                    <a href="{{ par.href }}">{{ par.label }}</a>
                            {% if forloop.last %}
                                    <ul>
                                        <li><strong>{{ item.entity.label }}</strong>
                                        <br/>[This concept]
                                        </li>
                                    </ul>
                            {%endif%}
                        {%endfor%}
                        {% for par in item.parents %}
                                </li>
                            </ul>
                        {%endfor%}
                        </div>
                        {%endif%}
                        
                        {% if item.json_tree != False %}
                        <div id="concept-tree-0">
                            
                        </div>
                        <script type="text/javascript">
                            <!--
                            var tdata = {% autoescape off %}{{ item.json_tree }}{% endautoescape %};
                            
                            function concept_tree(){
                                var c_tree = new hierarchy("{{ item.entity.slug }}", "concept-tree-0");
                                c_tree.root_node = false;  //root node of this tree
                                c_tree.class_subdivide = false;
                                c_tree.object_prefix = 'concept-tree-0';
                                c_tree.exec_primary_link = 'view';
                                c_tree.do_vocab_hierarchy_tree();
                                c_tree.get_dataDone(tdata);
                                var c_tree_key = c_tree.object_prefix; 
                                hierarchy_objs[c_tree_key] = c_tree;
                                console.log(hierarchy_objs);
                                console.log(hierarchy_data);
                            }
                            concept_tree();
                            -->
                        </script>
                        {%endif%}
                    </div>
                </div>
            {%endif%}
            
            
            </div>
        </div>
    </div>
    
    <div class="container-fluid">        
        <div class="row" style="min-height: 600px;">
            <div class="col-sm-6">
            
            </div>
            <div class="col-sm-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>Network icon by <a target="_blank" href="https://thenounproject.com/term/network/21268/">Brennan Novak</a> via the <a target="_blank" href="http://thenounproject.com/">NounProject.com</a></small>
            </div>
        </div>
    </div>
    
{% endblock %} 
