{% load humanize %}
<div id="search-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title"><span id="map-title">Map</span></h3>
                        </div>
                        <div class="col-sm-1" id="map-title-suffix">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4 text-right" id="map-title-num">
                            <h3 class="panel-title">{{ st.totalresults|intcomma }} 
                            {% if item_type == 'subjects' %}
                        Data Records
                        {%elif item_type == 'media' %}
                        Media Resources
                        {%elif item_type == 'projects' %}
                        Projects
                        {%else%}
                        Records
                        {%endif%}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="map" style="min-height: 600px;">
                       
                </div>
            </div>  
        
            {% if chart %} 
            <!-- include a chronological chart, now only in testing -->
            {% include './chrono-chart.html' %}
            
            {%endif%}
        </div>
        <div class="col-sm-4">
            
            {% if csv_downloader %}
            {% include './export-map.html' %} 
            {%endif%} 

            {% if st.subjects_link %}
            {% include './subjects-link.html' %} 
            {%endif%} 
            
            {% include './human-remains.html' %}
            {% include './filters.html' %}
            
            {% include './text-search.html' %}
            {% include './facets.html' %}
            
        </div>
    
    <div class="row">
        <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px;">
            {% include './geo-records.html' %}
        </div>
    </div>
    
    <style type="text/css">
        a.diabled-map-button {
            color: #CCCCCC;
            link: #CCCCCC;
            hover: #CCCCCC;
            cursor: default;
            opacity: 0.5;
        }
    </style>
    <script type="text/javascript">
        <!--
        
        var base_url = "{{ base_url }}";
        var hash = false;
        var base_id = false;
        var base_search_link = "{{ base_search_link }}";
        var response_tile_zoom = {{ st.response_tile_zoom }};
        var total_count = {{ st.totalresults }};
        
        {% if st.project_layers %}
        
        var project_layers = {{ st.project_layers|safe }};
        
        {%else%}
        
        var project_layers = false;
        
        {%endif%}
        
        var search_map = new search_map("{{ json_url|safe }}",
                                        base_search_link,
                                        response_tile_zoom);
        if (total_count > 0) {
            search_map.map.get_request_hash();
            search_map.map.get_geojson_regions();
        }
        
        // add human remains display class
        var humanRemains = new human_remains();
        -->
    </script>
</div>