{% load humanize %}
{% if not st.active_filters_grouped %}
    
    <div class="panel-group" id="acc-filters">
        <div class="panel panel-info">
            <div class="panel-heading"> 
                <h4 class="panel-title">
                    Search Filters
                </h4>
            </div>
            <div id="panel-filters" class="panel">
                <div class="panel-body small">
                    Collection is not filtered. Select query options below.
                </div>
            </div>
        </div>
    </div>
    
{%else%}
    <div class="panel-group" id="acc-filters">
        <div class="panel panel-info">
            <div class="panel-heading"> 
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-filters" href="#panel-filters">
                        <span class="glyphicon glyphicon-resize-vertical"></span>
                        Applied Filters
                    </a>
                </h4>
            </div>
             
            <div id="panel-filters" class="panel-collapse collapse in">
                <div class="container-fluid small">
                    
                {% for group_k, filter_group in st.active_filters_grouped.items %}
                    {% with filter_group=filter_group %}
                    {% include './filter.html' %}
                    {% endwith %}
                {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
{%endif%}


