{% load humanize %}

<div class="row act-filter-type">
    <div class="col-xs-12">
        <strong>{{ filter_group.group_label }}</strong>
    </div>
</div>
<div class="row act-filter-val-row">
    <div class="col-xs-1">
        <a title="Remove this filter" href="{{ filter_group.group_remove_href }}">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-10 act-filter-val">
    {% for filter in filter_group.filters %}
        {% if filter != filter_group.filters|first %}
            {{ filter_group.group_delim }}
        {%endif%}
        {% if filter.oc_api__broaden %}
            <a title="Broaden to all: {{ filter.label }}" href="{{ filter.oc_api__broaden }}">{{ filter.label }}</a>
        {%else%}
            {{ filter.label }}
        {%endif%}
    {% endfor %}
    </div>
    <div class="col-xs-1">
    </div>
</div>
