
{% if st.human_remains_flag %}
    {% if human_remains_ok or request.session.human_remains_ok %}
    <div class="alert alert-warning" role="alert" id="human-remains-global-alert">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> You have <strong>ALLOWED</strong> the display of images of human remains or burials. Click
            <a onclick="humanRemains.toggle_opt_in();">HERE</a> to NOT view such images.
    </div>
    
    
    {%else%}
    
    <div class="alert alert-warning" role="alert" id="human-remains-global-alert">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> To display search results with images of human remains, give permission first. Click
            <a onclick="humanRemains.toggle_opt_in();">HERE</a> to view such images.
    </div>
    
    {%endif%}

{%else%}
    
{%endif%}


