@import url('https://fonts.googleapis.com/css?family=Open+Sans');#footer-upper{margin-top:5%;margin-right:-45px;margin-left:-45px;}div.footer-cell{display:table-cell;vertical-align:middle;text-align:center;padding:1%}div.footer-cell img{max-height:75px;margin-left:auto;margin-right:auto}#footer-lower{background-color:#333;color:#fff;text-align:center;font-size:75%;margin-right:-45px;margin-left:-45px;}#oc-nav-bar{background-color:#141518}#oc-nav-bar li.active a{background-color:#141518}#oc-nav-branding{padding-top:0;padding-left:0}#oc-hidden-bar{width:100%;height:50px;display:block}body{font-family:'Open Sans', 'helvetica', 'sans-serif'}body *{box-sizing:border-box}.april-12 a.estimate{padding:1em;background-color:#0088CC;color:#ffffff;clear:both;margin:65px auto;display:inline-block;text-transform:uppercase}body{min-width:320px;overflow-x:hidden}#main{width:98%;margin-left:auto;margin-right:auto}.project-edit-stars{color:#ee7600}.project-edit-stars:link,.project-edit-stars:visited,.project-edit-stars:hover{color:#ee7600}div.subject-list-row{padding-top:1%;padding-bottom:1%}div.media-list-row{padding-top:1%;padding-bottom:1%}div.media-list-row img{height:30px;width:30px}div.subject-list-text{padding-top:2%}div.media-thumb{text-align:center}#context-root::before{content:""}#context-start{font-weight:normal;color:#333333}#item-in-context{font-weight:bold;color:#000}#rel-item-in-context{font-weight:bold;color:#000}#rel-item-in-context::before{content:"\2194"}div.top-panel{border-top-left-radius:0;border-top-right-radius:0;border-top:none}div.panel-group div.top-panel{border-top-left-radius:0;border-top-right-radius:0}div.preview-image{text-align:center;margin-left:auto;margin-right:auto}div.subjects-links-cell{width:100%;margin-left:1%;text-align:left}#item-title{max-width:200px;word-wrap:break-word}span.title_sep{padding-left:3px;padding-right:3px}#item-uri{max-width:200px;word-wrap:break-word}#item-stable-id{max-width:200px;word-wrap:break-word}#map{width:100%;height:66%;min-height:300px}div.act-filter-type{padding-top:5px}div.act-filter-val-row{padding-bottom:5px}ul.f-opt-list{border-top:1px solid #ddd;margin-bottom:-1px}li.f-opt-top{border-top-left-radius:0;border-top-right-radius:0;border-top:none;border-left:none;border-right:none}li.f-opt{border-left:none;border-right:none}div.f-opt-label{padding-left:0}div.f-count{margin-top:-2px;padding-top:0;padding-left:0}.april-12 section{border-bottom:1px solid rgba(151,151,151,0.3);margin:0;padding:0;text-align:center;padding:125px 5% 5%}.april-12 h1{font-size:48px;color:#0088CC;margin-bottom:12px;text-transform:uppercase}.april-12 h2{font-size:36px;text-transform:uppercase;color:#0088CC}.april-12 section.welcome{font-size:24px}.april-12 section.welcome h3.slogan{font-style:italic;font-family:"OpenSans-Italic", Helvetica, serif;color:#6d6e71;margin:32px auto}.april-12 section.publish{width:50%;float:left}.april-12 section.explore{width:50%;float:right}.april-12 section.how-it-works{clear:both}.april-12 section.showcase{background-color:#6d716e;color:white;padding:0;height:500px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap}.april-12 section.showcase:after{content:"";background-image:url("../../images/index/field-shot-1.jpg");background-size:cover;background-position:center center;height:500px;display:inline-block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding:4em}.april-12 section.showcase .showcase--text{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;padding:4em}.april-12 section.showcase .showcase--text h2{color:white}.april-12 ul{list-style-type:none}.april-12 section.pricing{clear:both}.april-12 section.pricing h4{text-transform:uppercase;font-size:16px;min-height:34px;}.april-12 section.pricing p{min-height:60px;}.april-12 section.pricing .pricing-table .price{padding:1em 0;font-size:46px;font-family:"OpenSans-Light", "Helvetica";color:#6d6e71}@media all and (max-width: 1000px){.april-12 section.pricing .pricing-table .price{font-size:26px;}}.april-12 section.pricing .pricing-table ul{padding:0;margin:0 0;text-align:center;min-height:400px;}.april-12 section.pricing .pricing-table ul li{vertical-align:top;border:1px solid rgba(151,151,151,0.3);width:20%;margin:2%;padding:2%;list-style-image:none;display:inline-block;height:auto;}.april-12 section.pricing .pricing-table ul ul{border-top:1px solid rgba(151,151,151,0.3);padding:1em 0;margin:1em 0}.april-12 section.pricing .pricing-table ul ul li{width:100%;height:auto;border:none}

#home-map{width:100%;height:70%;min-height:350px; margin-top:-19px;}
.april-12 section.welcome {
    margin-top: -110px;
}
div.dai {
    text-align: left;
    font-size: 80%;
    padding-left: 10px;
}
.april-12 section.publish ul li{
    background-repeat: no-repeat;
    padding-left: 85px;
    height:70px;
    margin-left:-70px;
    padding-top:15px;
}
.april-12 ul li.documents{
    background-image:url('../../images/noun-icons-small/fieldnotes-noun-34584.png');
}
.april-12 ul li.images{
    background-image:url('../../images/noun-icons-small/images-noun-14313.png')
}
.april-12 ul li.vocabularies{
    background-image:url('../../images/noun-icons-small/vocab-a-z.png')
}
.april-12 ul li.artifact{
    background-image:url('../../images/noun-icons-small/ecofacts-noun-102484.png')
}
.april-12 ul li.identifiers{
    background-image:url('../../images/noun-icons-small/cite-noun-23118.png')
}
.april-12 section.explore ul li{
    background-repeat: no-repeat;
    padding-left: 85px;
    height:70px;
    margin-left:-70px;
    padding-top:15px;
}
.april-12 ul li.faceted-search{
    background-image:url('../../images/noun-icons-small/facets-noun-81125.png')
}
.april-12 ul li.map{
    background-image:url('../../images/noun-icons-small/web-map-noun-16143.png')
}
.april-12 ul li.pictures{
    background-image:url('../../images/noun-icons-small/picture-noun-69757.png')
}
.april-12 ul li.download{
    background-image:url('../../images/noun-icons-small/cloud-download-noun-6173.png')
}
.april-12 ul li.discover{
    background-image:url('../../images/noun-icons-small/link-noun-31902.png')
}
ul.works-list-left {
    margin-right: 25px;
}
ul.works-list-right {
    margin-left: 35px;
}
ul.works-list li{
    background-repeat: no-repeat;
    padding-left: 70px;
    height:70px;
    margin-left:-85px;
    padding-top:10px;
}
.april-12 ul li.clean{
    background-image:url('../../images/noun-icons-small/charts-noun-48296.png')
}
.april-12 ul li.unique{
    background-image:url('../../images/noun-icons-small/quote-noun-42325.png')
}
.april-12 ul li.doi{
    background-image:url('../../images/noun-icons-small/doi-icon.png')
}
.april-12 ul li.linked{
    background-image:url('../../images/noun-icons-small/unlock-noun-51486.png')
}
.april-12 ul li.reuse{
    background-image:url('../../images/noun-icons-small/creative-commons-logo.png')
}
.april-12 ul li.cdl{
    background-image:url('../../images/noun-icons-small/cdl-logo.png')
}
ul.icon-list li{
    text-align: left;
}
a.video-link {
    background-color: #0088CC;
}