{% extends 'item.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-12">
         {% include 'items/context.html' %}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-8">
            {% if item.content != False %}
            {% if item.content.preview != False %}
            <div class="row">
                <div class="col-sm-12">
                    {% if item.use_accordions %}
                        {% with top_panel_num=0 %}
                        {% with idprefix='preview' %}
                        {% with idnum=1 %}
                        {% with idsuffix='file' %}
                        {% with panel_label='Media Preview' %}
                        {% with panel_label_suffix=False %}
                        {% include 'items/accordion-group-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <div class="preview-image">
                            <img src="{{ item.content.preview }}" alt="Preview of {{ item.label }}" />
                        </div>
                        {% include 'items/accordion-group-panel-end.html' %}
                    {%else%}
                        {% with top_panel_num=0 %}
                        {% with show_header=True %}
                        {% with panel_label='Media Preview' %}
                        {% with panel_label_suffix=False %}
                        {% with prefix_node_id='preview-' %}
                        {% with node_id=1 %}
                        {% with suffix_node_id='-file' %}
                        {% include 'items/plain-panel-start.html' %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        <div class="preview-image">
                            <img src="{{ item.content.preview }}" alt="Preview of {{ item.label }}" />
                        </div>
                        {% include 'items/plain-panel-end.html' %}
                    {%endif%}
                </div>
            </div>
            {%endif%}
            {%endif%}
            <div class="row">
                <div class="col-sm-12">
                    {% include 'items/observations.html' %}
                </div>
            </div>
            
          {% if item.type_query_link != False %}
               <!-- showing related items of this type-->
               {% include 'items/types-related.html' %}
          {%endif%}
            
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         {% include 'items/license.html' %}
         </div>
     </div>
</div>
{% endblock %} 
