{% extends 'item.html' %}

{% block itemcontent %}
<div id="item-content">
     <div class="row">
         <div class="col-sm-12">
         {% include 'items/context.html' %}
         </div>
     </div>
     <div class="row">
         <div class="col-sm-8">
               <div class="row">
                   <div class="col-sm-12">
                         <dl class="dl-horizontal">
                              {% if item.person.given_name|length > 0 %}
                              <dt>Given Name</dt>
                              <dd>{{ item.person.given_name }}</dd>
                              {%endif%}
                              {% if item.person.surname|length > 0 %}
                              <dt>Surname</dt>
                              <dd>{{ item.person.surname }}</dd>
                              {%endif%}
                              {% if item.person.combined_name|length > 0 %}
                              <dt>Full Name</dt>
                              <dd>{{ item.person.combined_name }}</dd>
                              {%endif%}
                              {% if item.person.orcid != False %}
                              <dt>ORCID Identifier</dt>
                              <dd><a title="More about {{ item.label }}" target="_blank" href="{{ item.person.orcid.id }}">{{ item.person.orcid.id }}</a></dd>
                              <dt>ORCID Profile</dt>
                              <dd>
                                   <div id="orcid-profile"></div>
                                   <script type="text/javascript" >
                                   <!--
                                   var orcid = false;
                                   var orcid_api = "{{ item.person.orcid.api }}";
                                   function setup_orcid_api(){
                                             orcid = new orcidObj();
                                             orcid.api_url = orcid_api;
                                             orcid.parent_dom_id = "orcid-profile";
                                             orcid.base_url = base_url;
                                             orcid.get_data();
                                   }
                                   -->
                                   </script>
                                   <script src="{{ base_url }}/static/oc/js/apis/orcid.js" type="text/javascript" onload="setup_orcid_api();"></script>
                              </dd>
                              {%endif%}
                         </dl>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-12">
                       {% include 'items/observations.html' %}
                   </div>
               </div>
         </div>
         <div class="col-sm-4">
         {% include 'items/citation.html' %}
         {% include 'items/project.html' %}
         {% include 'items/map.html' %}
         {% include 'items/license.html' %}
         </div>
     </div>
</div>
{% endblock %} 
